.page{
  color: #3b434c;
  height: 200vh;
  z-index: 1
}

.btns-menu{
  position: sticky;
  top: 0;
  padding-top: 10px;
  z-index: 1000;

  background-color: rgba(0, 0, 0, 0.64);
}

.title{
  padding: 11px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.confirm-filter-container{
  span{
    margin-left: 10px;
    margin-right:8px;
    color: white;
  }
}

.confirm-filter{
  font-size: 30px;
  appearance: none;
  width: 50px;
  height: 25px;
  background: #ddd;
  border-radius: 3em;
  position: relative;
  cursor: pointer;
  outline: none;
  transition: all .2s ease-in-out;

  &:checked{
    background: #5cb85c;
  }

  &:after{
    position: absolute;
    left: 0;
    content: "";
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 0 .25em rgba(0,0,0,.3);
    transform: scale(.7);
    transition: all .2s ease-in-out;
  }

  &:checked:after{
    left: calc(100% - 25px);
  }
}

.buttons-edit button{
  margin: 10px;
  width: 70px;
  padding: 5px;
}

.orders-container{
  input[type=checkbox] {
    font-size: 30px;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #ddd;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    outline: none;
    font-family:fontawesome;

    &:checked{
      background: #5cb85c;
    }

    &:checked:after{
      position: absolute;
      content: "\F00C";
      color:#fff;
      left: 3px;
      top:0px;
      font-size:18px;
    }
  }

  ul{
    list-style-type: none;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 0px;
    padding-right: 0px;
  }

  li{
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: rgba(0, 0, 0, 0.08);
    border-radius: 3px;
    padding: 15px;
  }
}

.btns-view-edit{
  button{
    margin: 2px;
  }
}

@media (max-width: 768px) {
  .btns-view-edit{
    flex-direction: row !important;
    justify-content: center;
    margin-top: 10px;

    button{
      width: 80px;
    }
  }
}

.subtitle{
  color: rgba(0, 0, 0, 0.79);
  font-weight: bold;
}

.conf{
  text-transform: uppercase;
  color: #1c9e32;
}

.backdrop{
  position: absolute;
  display: none;
  background-color: rgba(0, 0, 0, 0.79);
  width: 100%;
  height: 100%;
  z-index: 1001;
}
