$lightBlack: rgba(0, 0, 0, 0.6);
$blue: #007bff;
$green: #acd43f;
$white: #ffffffc9;
$font1: 'Exo', sans-serif;

.page {
  font-family: $font1;
  z-index: 1;
  color: $lightBlack;
  min-height: 100vh;
  background: url(https://cdn.pixabay.com/photo/2014/05/03/01/01/leaves-336694_1280.jpg);
}

.main-title {
  padding: 25px 11px;
  font-size: 1.5rem;
  background: $white;
  border-bottom: 3px solid #fff;
}

.line-decoration {
  width: 100%;
  height: 5px;
  display: flex;
  justify-content: center;
  padding-bottom: 17px;

  .line-decoration-inner {
    width: 50%;
    height: 5px;
    background: $blue;
  }
}

.management {
  border-bottom: 2px solid #ffffff47;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid #ededed;

  .left-container {
    padding: 25px;

    form {
      background: $white;
      padding: 10px;

      label {
        color: $lightBlack;
      }

      input[type="text"]::placeholder {
        font-size: 0.9rem;
        color: $lightBlack;
      }

      .form-control:focus,
      .calendar:focus,
      .calendar:active {
        outline: none;
        border: none;
        box-shadow: none;
      }

      .calendar,
      #sort {
        background: $blue !important;
        color: #fff !important;
      }

      .input-group-text {
        width: 44px;
        height: 38px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: white;
      }

      .button-sort-filter-container {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .right-container {
    padding: 25px 5px;

    form {
      background: rgba(0, 0, 0, 0.07);
      padding: 28px 21px;

      .id-serch-input {
        background: $white;
      }

      .id-search-button {
        background: $blue;
        border: none;
        color: #fff;
        font-size: 1.1rem;
      }
    }

    .add-container {
      margin: 25px 0;
      display: flex;
      align-items: center;
      justify-content: center;

      .btn {
        padding: 8px 15px;
        font-size: 1.1rem;
        background: #8aab30;
        border: none;
        border-radius: 0;
        transition: 0.2s;

        &:hover {
          background: #9dbe31;
          cursor: pointer;
          font-size: 1.2rem;
        }
      }
    }

    .no-tour {
      color: white;
      padding: 10px 10px;
      font-size: 1.1rem;
      background: #f46d2a9c;
      border-bottom-right-radius: 4px;
      border-top-right-radius: 4px;
    }
  }

  input {
    border-radius: 0;
  }
}

////// modal ///////
.modal-dialog {
  width: 75% !important;
}

.modal-header {
  font-family: $font1;
}

@media (max-width: 576px) {
  .modal-dialog {
    width: 90% !important;
  }
}

.modal-body-content {
  min-height: 200px;
  font-family: $font1;

  .close:focus {
    outline: none;
  }

  textarea {
    height: 20vh !important;
  }

  .form-group {
    padding: 10px;
    margin-bottom: 0;
  }

  input[name="title"] {
    width: 95%;
  }

  .add-date {
    text-align: center;
  }

  .date-container {
    border-bottom: 1px solid gray;
    display: flex;
    margin-bottom: 12px;
  }

  .dates-container {
    background: #eee;
  }

  .dates-title {
    margin-bottom: 12px;
  }

  .delete-date {
    display: flex;
    align-items: center;
    margin-left: 10px;
  }

  .rest-types {
    li {
      list-style-type: none;
    }
  }

  .input-files-container {
    margin: 20px;
  }

  .images-container {
    width: 92%;
    height: 92%;
    position: relative;
    overflow: hidden;
    margin-top: 20px;

    i {
      position: absolute;
      z-index: 2;
      color: #fff;
      right: 10px;
      top: 10px;
      font-size: 1.5rem;
      transition: 0.2s;

      &:hover {
        font-size: 1.7rem;
      }
    }

    .image {
      height: 150px;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .tip {
    margin: 20px;
  }

  .invalid {
    text-align: end;
    color: red;
    font-weight: bold;
    font-size: 1.2rem;
  }
}

////// end modal //////

////////////
.tours-container {
  .tours-col {
    padding: 15px;
  }

  .tour-container {
    min-height: 350px;
    background: $white;
    height: 100%;
  }

  .number {
    position: absolute;
    top: 25px;
    width: 80%;
    left: 12%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #007bffe0;
    color: #fff;

    span {
      font-size: 1.3rem;
      margin-right: 7px;
    }
  }

  .buttons {
    position: absolute;
    right: 25px;
    top: 250px;

    button {
      margin-left: 5px;
      width: 45px;
      height: 45px;
      background: $white;
      border: none;
    }

    i {
      font-size: 1rem;
      transition: 0.2s;
    }

    button:hover i {
      font-size: 1.5rem;
    }
  }

  .statistic-info {
    position: absolute;
    top: 190px;
    padding: 10px;
    left: 17px;

    .viewed,
    .booked {
      background: rgba(237, 237, 237, 0.91);
      padding: 10px;
    }

    .booked {
      margin: 5px 0;
    }

    i {
      font-size: 1.1rem;
      margin-right: 5px;
    }
  }

  @media (max-width: 576px) {
    .buttons {
      display: flex;
      flex-direction: column;
      top: 143px;

      button {
        margin-top: 5px;
      }
    }
  }

  .tour-title {
    background: $green;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 10px;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
  }

  .tour-image {
    width: 100%;
    height: 280px;
    margin-top: 10px;
    position: relative;

    img {
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  @media (max-width: 576px) {
    .tour-title {
      font-size: 1rem;
    }
  }

  .dates-info,
  .location-info,
  .transport-info,
  .rest-info {
    margin: 10px 5px 0;

    span {
      font-weight: bold;
    }
  }

  .cost-container {
    display: flex;
    align-items: flex-end;

    .discount {
      color: #0a69cc;
    }

    .cost {
      text-align: end;
      font-size: 2.5rem;
      color: #061f3a;
    }
  }
}
