<div class="page">

  <div class="main-title text-center">
    Tour management
  </div>

  <div class="management container-fluid">
    <div class="row">
      <div class="col-md-8">


        <div class="left-container">
          <form  [formGroup]="filterForm">
            <div class="form-inner container-fluid">
              <div class="row">
                <div class="col-sm-6">

                  <div class="dateFrom d-flex flex-column">
                    <label>Date From:</label>
                    <div class="form-group dt">
                      <div class="input-group">
                        <input formControlName="dateFrom" class="form-control"
                               name="dp" ngbDatepicker #d="ngbDatepicker">
                        <div class="input-group-append">
                          <button style="background-color: #e9ecef;
                        width: 44px;
                        border: 1px solid #ced4da;
                        color: #495057;"
                                  class="btn btn-outline-secondary calendar fa fa-calendar" (click)="d.toggle()" type="button"></button>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
                <div class="col-sm-6">
                  <div class="dateTo d-flex flex-column">
                    <label>Date to:</label>
                    <div class="form-group">
                      <div class="input-group">
                        <input  formControlName="dateTo" class="form-control"
                               name="ddpp" ngbDatepicker #dd="ngbDatepicker">
                        <div class="input-group-append">
                          <button style="background-color: #e9ecef;
                        width: 44px;
                        border: 1px solid #ced4da;
                        color: #495057;"
                                  class="btn btn-outline-secondary calendar fa fa-calendar" (click)="dd.toggle()" type="button"></button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-sm-6">
                  <div class="destination d-flex flex-column">
                    <label>Departure:</label>
                    <div class="input-group mb-3">
                      <input formControlName="fromCountry" type="text" class="form-control" placeholder="country" aria-label="Recipient's username" aria-describedby="from">
                      <div class="input-group-append">
                    <span class="input-group-text" id="from">
                      <i class="fa fa-home fa-lg" aria-hidden="true"></i>
                    </span>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-sm-6">
                  <div class="destination d-flex flex-column">
                    <label>Destination:</label>
                    <div class="input-group mb-3">
                      <input formControlName="toCountry" type="text" class="form-control" placeholder="country" aria-label="Recipient's username" aria-describedby="to">
                      <div class="input-group-append">
                    <span class="input-group-text" id="to">
                      <i class="fa fa-map-marker fa-lg" aria-hidden="true"></i>
                    </span>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-sm-6">
                  <div class="rest-type d-flex flex-column">
                    <label>Transport type:</label>
                    <div class="input-group mb-3">
                      <select *ngIf="rangeTransports" formControlName="transportType" class="custom-select" id="inputGroupSelect02"  aria-describedby="transport">
                        <option value=""></option>
                        <option *ngFor="let transport of rangeTransports.types" [value]="transport">{{transport}}</option>
                      </select>
                      <div class="input-group-append">
                    <span class="input-group-text" id="transport">
                      <i class="fa fa-bus fa-lg" aria-hidden="true"></i>
                    </span>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-sm-6">
                  <div class="transport-type d-flex flex-column">
                    <label>Rest type:</label>
                    <div class="input-group mb-3">
                      <select *ngIf="rangeTourTypes" formControlName="restType" class="custom-select" id="inputGroupSelect04"  aria-describedby="rest">
                        <option value=""></option>
                        <option *ngFor="let type of rangeTourTypes.types" [value]="type">{{type}}</option>
                      </select>
                      <div class="input-group-append">
                        <span class="input-group-text" id="rest">
                          <i class="fas fa-swimmer fa-lg" aria-hidden="true"></i>
                        </span>
                      </div>
                    </div>
                  </div>

                </div>


                <div class="col-sm-6">
                  <div class="transport-type d-flex flex-column">
                    <label>SORT BY:</label>
                    <div class="input-group mb-3">
                      <select  formControlName="sortBy" class="custom-select" id="inputGroupSelect05"  aria-describedby="sort">
                        <option selected>Price</option>
                        <option value="1">Discount</option>
                        <option value="2">Views</option>
                      </select>
                      <div class="input-group-append">
                <span class="input-group-text" id="sort">
                  <i class="fas fa-sort-amount-down"></i>
                </span>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-sm-6">
                  <div class="button-sort-filter-container">
                    <button type="button" class="btn btn-primary" (click)="Search()">Search & Filter</button>
                  </div>
                </div>
              </div>
            </div>

          </form>
        </div>
      </div>


      <div class="col-md-4">
        <div class="right-container">

          <div class="find-by-id-container">
            <form (ngSubmit)="findTourById(idInput.value)">
              <div *ngIf="!tourExist" class="no-tour">Tour doesn't exist</div>
              <div class="input-group">
                <input #idInput type="text" class="id-serch-input form-control" placeholder="Find tour (ID)" aria-label="Search" aria-describedby="button-search">
                <div class="input-group-append">
                  <button class="id-search-button btn btn-outline-secondary search-button" type="submit" id="button-search">
                    <i class="fas fa-search"></i>
                  </button>
                </div>
              </div>
            </form>
          </div>

          <div class="add-container">
            <button type="button" class="btn btn-success" (click)="onAdd(content)">Add tour +</button>
          </div>

        </div>
      </div>
    </div>
  </div>


  <!-- modal -->
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Tour Editing <i class="far fa-edit"></i></h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
      <div class="modal-body-content">
        <form>
          <div class="form-group title-container">
            <label class="input-title">Title:</label>
            <input type="text" class="form-control" name="title" [(ngModel)]="tour.title">
          </div>
          <div class="form-group dates-container">
            <div class="input-title dates-title">Dates:</div>

            <div *ngFor="let date of tour.dates; let k=index;" class="date-container">
              <div class="date-from-to">
                <div class="date-from">
                  <span class="input-title date-title">Date From:</span>
                  {{date.dateFrom.day  | number: '2.0'}}/
                  {{date.dateFrom.month  | number: '2.0'}}/
                  {{date.dateFrom.year}}
                </div>
                <div class="date-to">
                  <span class="input-title">Date To:</span>
                  {{date.dateTo.day  | number: '2.0'}}/
                  {{date.dateTo.month  | number: '2.0'}}/
                  {{date.dateTo.year}}
                </div>
              </div>
              <div class="delete-date"><span aria-hidden="true" (click)="deleteDateInTour(k)"><i class="fas fa-trash-alt"></i></span></div>
            </div>

            <div class="add-date">
              <div class="form-group dt">
                <div class="input-group">
                  <input placeholder="Date From" class="form-control"
                         name="dp" ngbDatepicker #d="ngbDatepicker"
                         [(ngModel)]="addDateFrom">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary calendar fa fa-calendar" (click)="d.toggle()" type="button"></button>
                  </div>
                </div>
              </div>


              <div class="form-group dt">
                <div class="input-group">
                  <input placeholder="Date To" class="form-control"
                         name="dp" ngbDatepicker #dd="ngbDatepicker"
                         [(ngModel)]="addDateTo">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary calendar fa fa-calendar" (click)="dd.toggle()" type="button"></button>
                  </div>
                </div>
              </div>

              <button class="btn btn-outline-secondary" type="button" (click)="addNewTourDate()">add</button>
            </div>

          </div>

          <div class="form-group route-container">
            <div class="input-title mb-2 mt-2">Departure:</div>
            <div class="departure-container">
              <div class="departure-country">
                <div>Country</div>
                <input type="text" class="form-control country" name="departure-country-from" [(ngModel)]="tour.route.fromCountry">
              </div>

              <div class="departure-town">
                <div>Town</div>
                <input type="text" class="form-control town" name="departure-town-from" [(ngModel)]="tour.route.fromTown">
              </div>
            </div>

            <div class="input-title mb-2 mt-3">Destination:</div>
            <div class="destination-container">
              <div class="destination-country">
                <div>Country</div>
                <input type="text" class="form-control country" name="destination-country-from" [(ngModel)]="tour.route.toCountry">
              </div>

              <div class="destination-town">
                <div>Town</div>
                <input type="text" class="form-control town" name="destination-town-from" [(ngModel)]="tour.route.toTown">
              </div>
            </div>
          </div>


          <div class="rest-container">
            <div class="input-title mt-3">Rest types:</div>
            <div class="rest-container_list">
              <ul class="rest-types">
                <li *ngFor="let restType of tour.restType; let r=index;">
                  {{restType}} <span (click)="deleteRestTourType(r)"><i class="fas fa-trash-alt"></i></span>
                </li>
              </ul>
            </div>
            <div class="rest-container_add mb-2">
              <span>Add rest type:</span>
              <div class="input-group">
                <select [(ngModel)]="addRestType" name="restType" *ngIf="rangeTourTypes" class="custom-select" id="inputGroupSelect44"  aria-describedby="rest">
                  <option value="..." selected>...</option>
                  <option *ngFor="let rangeItem of rangeTourTypes.types" [value]="rangeItem">{{rangeItem}}</option>
                </select>
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" type="button" (click)="addRestTourType()">add</button>
                </div>
              </div>
            </div>

            <div class="rest-container_add-new">
              <span>Add new rest type:</span>
              <div class="input-group mb-3">
                <input type="text" class="form-control" name="new-rest-type" [(ngModel)]="addNewRestType">

                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" type="button" (click)="AddNewRestType()">add</button>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group transport-container">
            <label class="input-title">Transport type:</label>
              <select [(ngModel)]="tour.transportType" *ngIf="rangeTransports" name="transportType" class="custom-select form-control" aria-describedby="rest">
                <option value="..." selected>{{tour.transportType}}</option>
                <option *ngFor="let rangeItem of rangeTransports.types" [value]="rangeItem">{{rangeItem}}</option>
              </select>

            <div class="transport-container_add-new mt-1">
              <span>Add new transport type:</span>
              <div class="input-group mb-3">
                <input type="text" class="form-control" name="new-rest-type" [(ngModel)]="addNewTransportType">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" type="button" (click)="addNewTransport()">add</button>
                </div>
              </div>
            </div>
          </div>


          <div class="form-group more-info-container">
            <label class="input-title">Info:</label>
            <textarea type="text" class="form-control" name="more-info" [(ngModel)]="tour.moreInfo"></textarea>
          </div>

          <div class="container-fluid">
            <div class="row">
              <div class="form-group booked-container col-sm-6">
                <label class="input-title">Booked:</label>
                <input type="number" class="form-control" name="booked" [(ngModel)]="tour.booked">
              </div>

              <div class="form-group max-booked-container col-sm-6">
                <label class="input-title">Max booked:</label>
                <input type="number" class="form-control" name="max-booked" [(ngModel)]="tour.bookedMax">
              </div>
            </div>
          </div>

          <div class="container-fluid">
            <div class="row">
              <div class="form-group discount-container col-sm-6">
                <label class="input-title">Discount:</label>
                <input type="number" class="form-control" name="discount" [(ngModel)]="tour.discount">
              </div>

              <div class="form-group cost-container col-sm-6">
                <label class="input-title">Cost:</label>
                <input type="number" class="form-control" name="cost" [(ngModel)]="tour.cost">
              </div>
            </div>
          </div>

          <div *ngIf="!isNewTour" class="input-files-container">
            <input #inputFiles type="file" multiple (change)="onImagesUpload($event)">
          </div>

          <div *ngIf="isNewTour" class="tip">
            After create this tour, edit it to add some photos.
          </div>

          <div class="images-container container-fluid">
            <div class="row" id="images">
              <div *ngFor="let img of tour.images; let i=index" class="col-sm-6 image">
                <i class="fas fa-trash-alt" (click)="onImageDelete(i)"></i>
                <img [src]="img">
              </div>
            </div>
          </div>

          <div class="invalid" *ngIf="invalidForm">
            * Please, fill all fields at first.
          </div>
        </form>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="modal.close('Close click')">Close</button>
      <button type="button" class="btn btn-success" (click)="editTour()">OK</button>
    </div>
  </ng-template>
  <!-- modal end -->

  <!-- ondelete modal -->
  <ng-template #sure let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Delete order</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Are you sure?</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Cancel</button>
      <button type="button" class="btn btn-danger" (click)="deleteTour()">Delete</button>
    </div>
  </ng-template>
  <!-- end ondelete modal-->

  <!-- tours -->
   <div *ngIf="tours.length" class="tours-container container">
     <div class="row">
       <div *ngFor="let tour of tours" class="col-lg-6 tours-col">
         <div class="tour-container">
           <div class="tour-image">
             <img *ngIf="tour.images.length" [src]="tour.images[0]">
           </div>

           <div class="number-buttons">
             <div class="number">
               <span>№</span>{{tour._id}}
             </div>
             <div class="buttons">
               <button type="button" class="edit" (click)="openModal(content, tour)">
                 <i class="fas fa-edit"></i>
               </button>
<!--               <button type="button" class="confirm" (click)="onConfirm()">
                 <i class="fas fa-check"></i>
               </button>-->
               <button type="button" class="delete" (click)="openDeleteModal(sure, tour)">
                 <i class="fas fa-trash-alt"></i>
               </button>
             </div>
           </div>

           <div class="statistic-info">
             <div class="viewed"><i class="far fa-eye"></i> {{tour.views}}</div>
             <div class="booked"><i class="fas fa-ticket-alt"></i> {{tour.booked}} / {{tour.bookedMax}}</div>
           </div>

           <div class="tour-title">
             {{tour.title}}
           </div>

           <div class="order-info-container container-fluid">
             <div class="row">
               <div class="col-sm-8 right-col">
                 <div class="dates-info">
                   <div class="date-from">
                     <span>Date From:</span>
                     {{tour.dates[0].dateFrom.day  | number: '2.0'}}/{{tour.dates[0].dateFrom.month | number: '2.0'}}/{{tour.dates[0].dateFrom.year}}
                   </div>
                   <div class="date-to"><span>Date To:</span>
                     {{tour.dates[0].dateTo.day | number: '2.0'}}/{{tour.dates[0].dateTo.month | number: '2.0'}}/{{tour.dates[0].dateTo.year}}
                   </div>
                 </div>

                 <div class="location-info">
                   <div class="location-from"><span>Departure:</span> {{tour.route.fromCountry}}, {{tour.route.fromTown}}</div>
                   <div class="location-to"><span>Destination:</span> {{tour.route.toCountry}}, {{tour.route.toTown}}</div>
                 </div>

                 <div class="transport-info">
                   <div class="transport"><span>Transport:</span> {{tour.transportType}}</div>
                 </div>

                 <div class="rest-info">
                   <div class="rest">
                     <span>Rest Types:</span>
                     <div *ngFor="let rest of tour.restType" class="rest-name risk">
                       {{rest}}
                     </div>
                   </div>
                 </div>
               </div>

               <div class="col-sm-4 cost-container">
                 <div class="cost-info">
                   <div *ngIf="tour.discount" class="discount"><strong>Discount:</strong> {{tour.discount}}%</div>
                   <div class="cost">${{tour.cost}}</div>
                 </div>
               </div>
             </div>
           </div>

         </div>
       </div>
     </div>
   </div>
</div>
