$lightBlack: rgba(0, 0, 0, 0.6);
$blue: #007bff;
$green: #abd43f;
$white: #ffffffc9;
$font1: 'Exo', sans-serif;

.page {
  font-family: $font1;
  z-index: 1;
  color: $lightBlack;
  min-height: 100vh;
}

.page_bgr {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  min-width: 100vw;
}

.main-title {
  padding: 25px 11px;
  font-size: 1.5rem;
  background: $white;
  border-bottom: 3px solid #fff;
}

.line-decoration {
  width: 100%;
  height: 5px;
  display: flex;
  justify-content: center;
  padding-bottom: 17px;

  .line-decoration-inner {
    width: 50%;
    height: 5px;
    background: $blue;
  }
}

.management {
  border-bottom: 2px solid #ffffff47;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid #ededed;

  .left-container {
    padding: 25px;

    form {
      background: $white;
      padding: 10px;

      label {
        color: $lightBlack;
      }

      input[type="text"]::placeholder {
        font-size: 0.9rem;
        color: $lightBlack;
      }

      .form-control:focus,
      .calendar:focus,
      .calendar:active {
        outline: none;
        border: none;
        box-shadow: none;
      }

      .calendar,
      #sort {
        background: $blue !important;
        color: #fff !important;
      }

      .input-group-text {
        width: 44px;
        height: 38px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: white;
      }

      .button-sort-filter-container {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .right-container {
    padding: 25px 5px;

    form {
      background: $white;
      padding: 28px 21px;

      .id-serch-input {
        background: $white;
      }

      .id-search-button {
        background: $blue;
        border: none;
        color: #fff;
        font-size: 1.1rem;
      }
    }

    .add-container {
      margin: 25px 0;
      display: flex;
      align-items: center;
      justify-content: center;

      .btn {
        padding: 8px 15px;
        font-size: 1.1rem;
        background: #8aab30;
        border: none;
        border-radius: 0;
        transition: 0.2s;

        &:hover {
          background: #9dbe31;
          cursor: pointer;
          font-size: 1.2rem;
        }
      }
    }

    .no-tour {
      color: white;
      padding: 10px 10px;
      font-size: 1.1rem;
      background: #f46d2a9c;
      border-bottom-right-radius: 4px;
      border-top-right-radius: 4px;
    }
  }

  input {
    border-radius: 0;
  }
}

////// modal ///////
.modal-dialog {
  width: 75% !important;
}

.modal-header {
  font-family: $font1;
}

@media (max-width: 576px) {
  .modal-dialog {
    width: 90% !important;
  }
}

.modal-body-content {
  min-height: 200px;
  font-family: $font1;

  .close:focus {
    outline: none;
  }

  textarea {
    height: 20vh !important;
  }

  .form-group {
    padding: 10px;
    margin-bottom: 0;
  }

  input[name="title"] {
    width: 95%;
  }

  .add-date {
    text-align: center;
  }

  .date-container {
    border-bottom: 1px solid gray;
    display: flex;
    margin-bottom: 12px;
  }

  .dates-container {
    background: #eee;
  }

  .dates-title {
    margin-bottom: 12px;
  }

  .delete-date {
    display: flex;
    align-items: center;
    margin-left: 10px;
  }

  .rest-types {
    li {
      list-style-type: none;
    }
  }

  .input-files-container {
    margin: 20px;
  }

  .images-container {
    width: 92%;
    height: 92%;
    position: relative;
    overflow: hidden;
    margin-top: 20px;

    i {
      position: absolute;
      z-index: 2;
      color: #fff;
      right: 10px;
      top: 10px;
      font-size: 1.5rem;
      transition: 0.2s;

      &:hover {
        font-size: 1.7rem;
      }
    }

    .image {
      height: 150px;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .tip {
    margin: 20px;
  }
}

.invalid {
  text-align: end;
  color: red;
  font-weight: bold;
  font-size: 1.2rem;
  font-family: $font1;
}

.success {
  text-align: end;
  color: rgba(15, 209, 0, 0.81);
  font-weight: bold;
  font-size: 1.2rem;
  font-family: $font1;
}

.invalid-field {
  color: rgba(255, 0, 0, 0.72);
  font-weight: bold;

  &::after {
    content: "*";
    color: rgba(255, 0, 0, 0.72);
  }
}

.modal-footer {
  position: relative;
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000091;
  z-index: 10;
  margin: 0;
}

.loader-container {
  position: absolute;
  bottom: 6%;
  left: 40%;
}

.loader-inner {
  width: 100px;
  position: relative;
  height: 100px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: rotate1 0.9s linear 0s infinite;
}

.loader-inner .container {
  position: relative;
  width: 80%;
  height: 80%;
}

.loader-inner .line {
  position: absolute;
  top: 0;
  left: 0;
  height: 50%;
  width: 50%;
  border-radius: 100% 0 0 0;
  border-top: 7px solid aqua;
  border-left: 7px solid aqua;
}

.loader-inner .line2 {
  position: absolute;
  top: 0;
  right: 0;
  height: 50%;
  width: 50%;
  border-radius: 0 100% 0 0;
  border-top: 7px solid aqua;
}

@keyframes rotate1 {
  0% {
    transform: rotate(0deg);
    filter: hue-rotate(0deg);
  }

  50% {
    filter: hue-rotate(180deg);
  }

  100% {
    filter: hue-rotate(0deg);
    transform: rotate(-360deg);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

.modal-content {
  box-sizing: unset;
}

////// end modal //////

////////////
.tours-container {
  .tours-col {
    padding: 15px;
  }

  .tour-container {
    min-height: 350px;
    background: $white;
    height: 100%;
  }

  .number {
    position: absolute;
    top: 25px;
    width: 80%;
    left: 12%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #007bffe0;
    color: #fff;

    span {
      font-size: 1.3rem;
      margin-right: 7px;
    }
  }

  .buttons {
    position: absolute;
    right: 25px;
    top: 250px;

    button {
      margin-left: 5px;
      width: 45px;
      height: 45px;
      background: $white;
      border: none;
    }

    i {
      font-size: 1rem;
      transition: 0.2s;
    }

    button:hover i {
      font-size: 1.5rem;
    }
  }

  .statistic-info {
    position: absolute;
    top: 190px;
    padding: 10px;
    left: 17px;

    .viewed,
    .booked {
      background: rgba(237, 237, 237, 0.91);
      padding: 10px;
    }

    .booked {
      margin: 5px 0;
    }

    i {
      margin-right: 5px;
      font-size: 1.2rem;
      color: #000000ad;
      font-weight: bold;
    }
  }

  @media (max-width: 576px) {
    .buttons {
      display: flex;
      flex-direction: column;
      top: 143px;

      button {
        margin-top: 5px;
      }
    }
  }

  .tour-title {
    background: $green;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 10px;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
  }

  .tour-image {
    width: 100%;
    height: 280px;
    margin-top: 10px;
    position: relative;

    img {
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  @media (max-width: 576px) {
    .tour-title {
      font-size: 1rem;
    }
  }

  .dates-info,
  .location-info,
  .transport-info,
  .rest-info {
    margin: 10px 5px 0;

    span {
      font-weight: bold;
    }
  }

  .cost-container {
    display: flex;
    align-items: flex-end;

    .discount {
      color: #0a69cc;
    }

    .cost {
      text-align: end;
      font-size: 2.5rem;
      color: #061f3a;
    }
  }
}

.modal-location-header {
  background: #007bff;
  color: #fff;
}

.lang-container {
  font-family: $font1;
  border-top: 2px solid #007bff;
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 25px 15px 15px;

  .lang-container_input-title {
    margin-top: 10px;
  }

  .lang-container_title {
    display: flex;
    justify-content: center;
    top: -20px;
    background: #fff;
    position: absolute;
    padding: 0 10px;
    left: 5%;
    font-size: 1.3rem;
    color: #007bff;
    text-transform: uppercase;
    font-weight: bold;

    .lang-icon {
      width: 72px;
      height: 42px;
      overflow: hidden;
      position: relative;
      margin-left: 10px;

      img {
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}

.btn-location-modal {
  text-align: center;
  margin-top: 20px;
}

.edit-lang-form {
  background: #ffffff91;
  padding: 10px 15px;
  margin: 10px 0;
}

.lang-container_buttons {
  text-align: center;

  .lang-container_button-add {
    width: 150px;
    border-radius: 0;
    color: #fff;
    text-transform: uppercase;
    transition: 0.4s;

    &:hover {
      color: #fff;
      width: 50%;
    }
  }

  .btn-danger-tip {
    margin-top: 20px;
    color: rgba(255, 70, 63, 0.85);
    background: rgba(255, 208, 208, 0.67);
    font-size: 0.9rem;
    padding-bottom: 5px;
    padding-top: 8px;
  }

  .btn-danger-container {
    background: rgba(255, 208, 208, 0.67);
    padding-bottom: 8px;

    .btn-danger {
      border-radius: 0;
      transition: 0.4s;
      width: 150px;

      &:hover {
        color: #fff;
        width: 50%;
      }
    }
  }
}

.ru-container {
  margin-bottom: 5px;
}

.bgr-image {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.modal-body {
  z-index: 1;
}
