.page {
  z-index: 1;
  background: rgb(152, 165, 171);
  background: linear-gradient(180deg, rgba(152, 165, 171, 1) 4%, rgba(43, 57, 62, 1) 100%);
  color: #fff;
  min-height: 100vh;
}

.main-title {
  padding: 25px 11px;
  font-size: 1.5rem;
  color: #fff;
  border-bottom: 2px solid #ffffff42;
}

.management {
  border-bottom: 2px solid #ffffff47;
  padding-top: 10px;
  padding-bottom: 10px;

  .form-container {
    padding: 25px;
  }

  form {
    background: #ffffff5e;
    padding: 10px;

    .button-sort-filter-container {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.right-container {
  margin: 25px;

  form {
    background: #ffffff5e;
    padding: 28px 21px;
  }

  .add-container {
    margin: 25px 0;
    display: flex;
    align-items: center;
    justify-content: center;

    .btn {
      padding: 8px 15px;
    }
  }
}

.line-decoration {
  width: 100%;
  height: 8px;
  display: flex;
  justify-content: center;
  padding-bottom: 17px;

  .line-decoration-inner {
    width: 50%;
    height: 8px;
    background: #bfbfbf;
  }
}

////////////
.tours-container {
  .tours-col {
    padding: 15px;
  }

  .tour-container {
    background: rgba(255, 255, 255, 0.4);
    min-height: 350px;
  }

  .number-buttons {
    display: flex;
    padding: 15px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 5px solid #626277;

    .number {
      font-size: 1.2rem;
      color: #434748;
      font-weight: bold;
    }
  }

  .edit,
  .confirm,
  .delete {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    outline: none;
    border: none;
    margin-left: 10px;
    transition: .3s;

    i {
      color: #fff;
      font-size: 1rem;
      transition: .3s;
    }

    &:hover {
      background: #f50707;
      /* box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.33); */

      i {
        font-size: 1.2rem;
      }
    }
  }

  .edit {
    background: rgba(71, 140, 158, 0.74);

    &:hover {
      background: rgba(86, 182, 201, 0.89);
    }
  }

  .confirm {
    background: rgba(28, 158, 50, 0.74);

    &:hover {
      background: rgba(36, 206, 67, 0.89);
    }
  }

  .delete {
    background: #e74c3c;
  }

  .tour-image {
    width: 100%;
    height: 280px;
    /*    background: cadetblue;*/
    margin-top: 10px;
    position: relative;

    img {
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .right-col {
    padding: 10px;
  }

  .tour-title {
    margin: 11px 0 22px;
    /* background: #ffffff36; */
    padding: 8px;
    font-size: 1.2rem;
    color: #434748;
    font-weight: bold;
  }

  .dates-info,
  .location-info,
  .transport-info {
    background: #ffffff36;
  }

  .dates-info,
  .location-info,
  .transport-info,
  .rest-info,
  .cost-info,
  .statistic-info {
    padding: 8px;
    margin-bottom: 10px;
  }

  .rest-info {
    background: #b3d7ff8c;

    .rest {
      display: flex;
      align-items: center;
    }

    .rest-name {
      margin: 4px 5px;
      width: 63px;
      text-align: center;
      background: cadetblue;
      padding: 5px 10px;
    }

    .rest-title {
      margin-right: 10px;
      font-weight: bold;
    }
  }

  strong {
    margin-right: 5px;
  }

  .statistic-info,
  .cost-info {
    display: flex;

    .discount {
      background: #dc3545a6;
    }
  }

  .viewed {
    padding: 5px 10px;
    background: #00000087;
  }

  .booked {
    padding: 5px 10px;
    background: #007bff;
    margin-left: 15px;
  }

  .discount {
    padding: 5px 10px;
  }

  .cost {
    padding: 5px 10px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #dc3545;
    margin-left: 15px;
  }
}

////// modal ///////
.modal-dialog {
  width: 75% !important;
}

@media (max-width: 576px) {
  .modal-dialog {
    width: 90% !important;
  }
}

.modal-body-content {
  min-height: 200px;

  textarea {
    height: 20vh !important;
  }

  .form-group {
    background: antiquewhite;
    padding: 15px;
    margin-bottom: 10px;
  }

  input[name="title"] {
    width: 95%;
  }

  .from-input,
  .to-input {
    display: flex;

    span {
      margin: 0 5px;
      font-size: 1.2rem;
    }
  }

  .day,
  .month {
    width: 45px;
  }

  .year {
    width: 60px;
  }


  .departure-container,
  .destination-container,
  .one-row {
    display: flex;
  }

  .departure-country,
  .destination-country {
    margin-right: 10px;
  }

  .country,
  .town {
    max-width: 250px;
  }

  .input-title {
    font-weight: bold;
    font-size: 1.1rem;
  }
}

////////////////////
/*
.buttons button{
  margin: 10px;
  width: 70px;
  padding: 5px;
}

.orders-container{
  input[type=checkbox] {
    font-size: 30px;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #ddd;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    outline: none;
    font-family:fontawesome;

    &:checked{
      background: #5cb85c;
    }

    &:checked:after{
      position: absolute;
      content: "\F00C";
      color:#fff;
      left: 3px;
      top:0px;
      font-size:18px;
    }
  }

  ul{
    list-style-type: none;
  }

  li{
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: rgba(0, 0, 0, 0.08);
    border-radius: 3px;
    padding: 15px;
  }
}

.form-filters{
  background-color: rgba(0, 0, 0, 0.26);
  padding: 18px;
  border-radius: 10px;
  margin : 5px;

  .container-submit{
    margin-top: 20px;
    text-align: center;

    select{
      max-width: 200px;
    }
  }
}
////////

.buttons-edit button{
  margin: 10px;
  width: 70px;
  padding: 5px;
}

.tours-container{
  input[type=checkbox] {
    font-size: 30px;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #ddd;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    outline: none;
    font-family:fontawesome;

    &:checked{
      background: #5cb85c;
    }

    &:checked:after{
      position: absolute;
      content: "\F00C";
      color:#fff;
      left: 3px;
      top:0px;
      font-size:18px;
    }
  }

  ul{
    list-style-type: none;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 0px;
    padding-right: 0px;
  }

  li{
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: rgba(0, 0, 0, 0.08);
    border-radius: 3px;
    padding: 15px;
  }
}

.btns-view-edit{
  button{
    margin: 2px;
  }
}

@media (max-width: 768px) {
  .btns-view-edit{
    flex-direction: row !important;
    justify-content: center;
    margin-top: 10px;

    button{
      width: 80px;
    }
  }
}

.btns-menu{
  position: sticky;
  top: 0;
  padding-top: 10px;
  z-index: 1000;

  background-color: rgba(0, 0, 0, 0.64);
} */
