button {
  outline: none;
  margin-right: 15px;

  &:hover {
    background: #787974;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  border: none;
  background: #55585bc7;
  border-radius: unset;
  text-transform: uppercase;
}

.menu {
  display: flex;
}

.dropdown-item {
  color: #fff;
  padding: 0.8rem;
  font-weight: bold;

  &:hover {
    background: #ffffff69;
  }
}

.dropdown-menu {
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  background-color: rgba(23, 23, 23, 0.67) !important;
  color: #fff;
  border-radius: unset;
}

.navbar-collapse {
  justify-content: flex-end;
  text-transform: uppercase;
  flex-grow: unset;
}

.nav-item:hover {
  cursor: pointer;
  color: rgba(16, 16, 16, 0.85);
}
