button {
  outline: none;
  margin-right: 15px;

  &:hover {
    background: #787974;
  }
}

.nav-link {
  color: rgba(255, 255, 255, 0.61) !important;

  &:hover {
    color: #fff !important;
  }
}

.navbar {
  display: flex;
  justify-content: flex-end;
  border: none;
  border-radius: unset;
  text-transform: uppercase;
  background: #042b3e !important;
}

.navbar-brand {
  position: absolute;
  left: 3%;
  top: 8px;
  font-weight: bold;
  color: rgb(15, 183, 219);
}

.menu {
  display: flex;
}

.dropdown-item {
  color: #fff;
  padding: 0.8rem;
  font-weight: bold;

  &:hover {
    background: #ffffff69;
  }
}

.dropdown-menu {
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  background-color: rgba(23, 23, 23, 0.67) !important;
  color: #fff;
  border-radius: unset;
}

.navbar-collapse {
  justify-content: flex-end;
  text-transform: uppercase;
  flex-grow: unset;
}

.nav-item:hover {
  cursor: pointer;
  color: rgba(16, 16, 16, 0.85);
}

.lang-button {
  background: #0fb7dbbd !important;
  border-radius: 10px;
}

.navbar-toggler {
  background: #ffffffc9;

  &:hover {
    background: #ffffffc9;
  }
}

