<div class="h-100 w-100 landing">
  <section>
    <div class="container">
      <div class="row justify-content-end r-container">
        <div class="col-md-6 login-container align-self-end">

          <div class="row justify-content-center">
            <h2 class="text-center mt-3 col-12 p-3">Sign Up</h2>

            <form class="col-9" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <input type="text" id="emailField" formControlName="email"
                       [ngClass]="{invalid: registerForm.get('email').invalid && registerForm.get('email').touched}"
                       name="email" class="form-control"
                       placeholder="Your Email *" value="" />
                <div *ngIf="registerForm.get('email').invalid && registerForm.get('email').touched" class="invalid-tltp">
                  <p *ngIf="registerForm.get('email').errors['required']">Fill this field</p>
                  <p *ngIf="registerForm.get('email').errors['email']">Enter valid email</p>
                </div>
              </div>

              <div class="form-group">
                <input type="password" id="passwordField" formControlName="password"
                       [ngClass]="{invalid: registerForm.get('password').invalid && registerForm.get('password').touched}"
                       name="password" class="form-control"
                       placeholder="Your Password *" value="" />
                <div *ngIf="registerForm.get('password').invalid && registerForm.get('password').touched" class="invalid-tltp">
                  <p *ngIf="registerForm.get('password').errors['required']">Fill this field</p>
                  <p *ngIf="registerForm.get('password').errors['minlength']">
                    Password length must contain more than {{registerForm.get('password').errors['minlength']['requiredLength']}} symbols
                  </p>
                </div>
              </div>

              <div class="form-group">
                <input type="text" id="nicknameField" formControlName="nickname"
                       [ngClass]="{invalid: registerForm.get('nickname').invalid && registerForm.get('nickname').touched}"
                       name="nickname" class="form-control"
                       placeholder="Your Nickname" value="" />
                <div *ngIf="registerForm.get('nickname').invalid && registerForm.get('nickname').touched" class="invalid-tltp">
                  <p *ngIf="registerForm.get('nickname').errors['required']">Fill this field</p>
                  <p *ngIf="registerForm.get('nickname').errors['minlength']">
                    Name length must contain more than {{registerForm.get('nickname').errors['minlength']['requiredLength']}} symbols
                  </p>
                </div>
              </div>

              <div class="form-group">
                <input type="text" id="telField" formControlName="tel"
                       [ngClass]="{invalid: registerForm.get('tel').invalid && registerForm.get('tel').touched}"
                       name="tel" class="form-control"
                       placeholder="+*** (**) ****-**-**" value="" />
                <div *ngIf="registerForm.get('tel').invalid && registerForm.get('tel').touched" class="invalid-tltp">
                  <p *ngIf="registerForm.get('tel').errors['required']">Fill this field</p>
                </div>
              </div>

              <div class="form-group">
                <button type='submit'
                        [disabled]="registerForm.invalid || registerForm.disabled"
                >sign up</button>
              </div>
              <div class="form-group">
                <a routerLink="/login" class="ForgetPwd" value="Register">Already have an account?</a>
              </div>
            </form>
          </div>
        </div>

        <div class="col-md-6 info-container">
          <div class="row info">
            <div class="info-content text-right d-flex flex-column">

              <div class="info-about">
                <h3 class="mb-2">WELCOME TO THE CLUB</h3>
                <div class="pb-5">
                  Why travel? Because you can. Because you want to.
                  Because it beats the alternative (staying home).
                  Why not pick up your tickets and get the ball rolling!
                </div>
                <div class="pb-2" style="font-weight: bold">
                  FOLLOW US AND:
                </div>
                <ul class="mb-5">
                  <li>
                    <div class="d-flex">
                      <p class="mr-2">Buy tickets quickly and easily</p>
                      <img class="pb-2" style="width:35px;" src="https://image.flaticon.com/icons/svg/1721/1721647.svg">
                    </div>
                  </li>
                  <li>
                    <div class="d-flex">
                      <p class="mr-2">Add trips to your favorites</p>
                      <img class="pb-2" style="width:35px;" src="https://image.flaticon.com/icons/svg/1029/1029132.svg">
                    </div>
                  </li>
                  <li>
                    <div class="d-flex">
                      <p class="mr-2">Publish your stories</p>
                      <img class="pb-2" style="width:35px;" src="https://image.flaticon.com/icons/svg/1721/1721658.svg">
                    </div>
                  </li>
                </ul>

              </div>

              <div class="more">
                Read more
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
</div>
