<div class="page">

<div class="navigation" data-spy="scroll" data-target="#navResponsive">
  <nav class="fixed-top navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/">
      <!--<img src="https://image.flaticon.com/icons/svg/614/614694.svg">-->
      <div class="main-label">Trip<span>Helper</span></div>
    </a>
    <button class="navbar-toggler"
            type="button" data-toggle="collapse"
            data-target="#navResponsive">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a routerLink="/" class="nav-link">home</a>
        </li>

        <li class="nav-item">
          <a routerLink="/tours" class="nav-link">tours</a>
        </li>

        <li class="nav-item">
          <a routerLink="/contact" class="nav-link">contact us</a>
        </li>

        <li class="nav-item" *ngIf="!auth.isAuthenticated(); else elseBlock">
          <a routerLink="/login" class="nav-link">log in<i class="fa fa-user"></i></a>
        </li>

        <ng-template #elseBlock>
        <div class="dropdown">
          <button type="button" class="navbar btn btn-primary dropdown-toggle mt-1" data-toggle="dropdown">
            account
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item ref-profile" (click)="gotoAccountPage()">profile</a>
            <a class="dropdown-item" href="#" (click)="logout($event)">sign out</a>
          </div>
        </div>
        </ng-template>

      </ul>
    </div>
  </nav>
</div>

<div class="content">
  <router-outlet></router-outlet>
</div>

  <div class="footer">
    <div class="container-fluid">
      <div class="row">

        <div class="col-sm-6 footer-item">
          <div class="question">
            Have any questions?
          </div>
          <div class="question-item">
            <i class="fas fa-map-marker-alt"></i>
            <span>Belarus, Minsk</span>
          </div>
          <div class="question-item">
            <i class="fas fa-phone-alt"></i>
            <span>+379 88 25 125</span>
          </div>
          <div class="question-item">
            <i class="fas fa-envelope"></i>
            <span>trip-helper@mail.ru</span>
          </div>
          <div class="question-item">
            <div class="faq-question">
              Maybe somebody have already asked this question. <br>
              See <strong>FAQ</strong> page. Hope, it will help you
            </div>
          </div>
        </div>

        <div class="col-sm-6 footer-item">
          <div class="label">T<span>H</span></div>
          <div class="slogan">
            All your concerns are included in our WORK!</div>
          <div class="socials">
            <ul>
              <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
              <li><a href=""><i class="fab fa-vk"></i></a></li>
              <li><a href=""><i class="fab fa-twitter"></i></a></li>
              <li><a href=""><i class="fab fa-pinterest-p"></i></a></li>
            </ul>
          </div>
        </div>

      </div>
    </div>

    <div class="line"></div>
    <div class="company">@ <span class="light">Trip Helper</span>, 2020. Made with care by <span class="light">SS</span></div>
  </div>
</div>






