<div class="page">

<div class="navigation" data-spy="scroll" data-target="#navResponsive">
  <nav class="fixed-top navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/">
      <div class="main-label">Trip<span>Helper</span></div>
    </a>

    <div class="navbar-lang">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle navbar" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="lang-icon"><img [src]="selectedLang.icon"></span>
          {{selectedLang.name}}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a *ngFor="let lang of translate.getLangs(); let i=index" class="dropdown-item" (click)="onChangeLang(lang, i)">{{lang}}</a>>
        </div>
      </div>
    </div>

    <button class="navbar-toggler"
            type="button" data-toggle="collapse"
            data-target="#navResponsive">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a routerLink="/" class="nav-link">{{'slayout.nav.home' | translate }}</a>
        </li>

        <li class="nav-item">
          <a routerLink="/tours" class="nav-link">{{'slayout.nav.tours' | translate}}</a>
        </li>

        <li class="nav-item">
          <a routerLink="/contact" class="nav-link">{{'slayout.nav.contact_us' | translate}}</a>
        </li>

        <li class="nav-item" *ngIf="!auth.isAuthenticated(); else elseBlock">
          <a routerLink="/login" class="nav-link">{{'slayout.nav.login' | translate}} <i class="fa fa-user"></i></a>
        </li>

        <ng-template #elseBlock>
        <div class="dropdown">
          <button type="button" class="navbar btn btn-primary dropdown-toggle mt-1" data-toggle="dropdown">
            {{'slayout.nav.account' | translate}}
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item ref-profile" (click)="gotoAccountPage()">{{'slayout.nav.profile' | translate}}</a>
            <a class="dropdown-item" href="#" (click)="logout($event)">{{'slayout.nav.sign_out' | translate}}</a>
          </div>
        </div>
        </ng-template>

      </ul>
    </div>
  </nav>
</div>

<div class="content">
  <router-outlet></router-outlet>
</div>

  <div class="footer">
    <div class="container-fluid">
      <div class="row">

        <div class="col-sm-6 footer-item">
          <div class="question">
            {{'slayout.footer.question' | translate}}
          </div>
          <div class="question-item">
            <i class="fas fa-map-marker-alt"></i>
            <span>{{'slayout.footer.location' | translate}}</span>
          </div>
          <div class="question-item">
            <i class="fas fa-phone-alt"></i>
            <span>+379 88 25 125</span>
          </div>
          <div class="question-item">
            <i class="fas fa-envelope"></i>
            <span>trip-helper@mail.ru</span>
          </div>
          <div class="question-item">
            <div class="faq-question">
              {{'slayout.footer.faq1' | translate}} <strong>FAQ</strong>.<br>{{'slayout.footer.faq2' | translate}}
            </div>
          </div>
        </div>

        <div class="col-sm-6 footer-item">
          <div class="label">T<span>H</span></div>
          <div class="slogan">
            {{'slayout.footer.slogan' | translate}}
          </div>
          <div class="socials">
            <ul>
              <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
              <li><a href=""><i class="fab fa-vk"></i></a></li>
              <li><a href=""><i class="fab fa-twitter"></i></a></li>
              <li><a href=""><i class="fab fa-pinterest-p"></i></a></li>
            </ul>
          </div>
        </div>

      </div>
    </div>

    <div class="line"></div>
    <div class="company">@ <span class="light">Trip Helper</span>, 2020. Made with care by <span class="light">SS</span></div>
  </div>
</div>






