<div class="h-100 w-100 landing">
  <section>
    <div class="container">
      <div class="row justify-content-end r-container">
        <div class="col-md-6 info-container">
          <div class="row info p-4">
            <div class="info-content">
              <h3 class="mb-4">{{'login.left.title' | translate}}</h3>
              <p class="mb-5" [innerHTML]="'login.left.content' | translate">
              </p>
              <a href="#" class="more">{{'login.left.link_more' | translate}}</a>
            </div>
          </div>
        </div>

        <div class="col-md-6 login-container align-self-end">

            <div class="row justify-content-center">
            <h2 class="text-center mt-3 col-12 p-3">{{'login.form.title' | translate}}</h2>

            <form class="col-9" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <input type="text" id="emailField" formControlName="email"
                       [ngClass]="{invalid: loginForm.get('email').invalid && loginForm.get('email').touched}"
                       name="email" class="form-control"
                       [placeholder]="'login.form.placeholder_email' | translate" value="" />
                <div *ngIf="loginForm.get('email').invalid && loginForm.get('email').touched" class="invalid-tltp">
                  <p *ngIf="loginForm.get('email').errors['required']">{{'form_errors.empty' | translate}}</p>
                  <p *ngIf="loginForm.get('email').errors['email']">{{'form_errors.invalid_email' | translate}}</p>
                </div>
              </div>
              <div class="form-group">
                <input type="password" id="passwordField" formControlName="password"
                       [ngClass]="{invalid: loginForm.get('password').invalid && loginForm.get('password').touched}"
                       name="password" class="form-control"
                       [placeholder]="'login.form.placeholder_password' | translate" value="" />
                <div *ngIf="loginForm.get('password').invalid && loginForm.get('password').touched" class="invalid-tltp">
                  <p *ngIf="loginForm.get('password').errors['required']">{{'form_errors.empty' | translate}}</p>
                  <p *ngIf="loginForm.get('password').errors['minlength']">
                    {{'form_errors.length1_password' | translate}} {{loginForm.get('password').errors['minlength']['requiredLength']}} {{'form_errors.length2' | translate}}
                  </p>
                </div>
              </div>
              <div class="form-group">
              <button type='submit'
                      [disabled]="loginForm.invalid || loginForm.disabled"
              >{{'login.form.button_signin' | translate}}</button>
            </div>
              <div *ngIf="errorMessage" class="error-message">{{errorMessage}}</div>
              <div class="form-group">
                <a routerLink="/register" class="link" value="Login">{{'login.form.register_link' | translate}}</a>
                <br>
                <a (click)="onForgotPassword(modalInputEmail)" class="link forgot-psw" value="Login">{{'login.form.forget_psw_link' | translate}}</a>
              </div>
            </form>
            </div>
        </div>
      </div>
    </div>
  </section>
</div>

<ng-template #modalInputEmail let-modal>
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="new-psw-container">
      <h4>Reset Password ✉</h4>
      <form (ngSubmit)="onResetPassword(email.value, modal, afterEmailSend)">
        <input #email type="text" placeholder="Enter email" class="form-control">
        <div class="error-message">{{errorEmail}}</div>
        <button type="submit" class="btn btn-primary">Reset</button>
      </form>
    </div>
  </div>
</ng-template>

<ng-template #modalPassword let-modal>
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="new-psw-container">
      <h4>New Password 🕵</h4>
      <form (ngSubmit)="resetUserPasswordInDB(modal, newPassword.value)">
        <input #newPassword type="text" placeholder="Enter new password" class="form-control">
        <div class="error-message">{{errorResetPasswordMessage}}</div>
        <button type="submit" class="btn btn-primary" (click)="resetUserPasswordInDB()">Done</button>
      </form>
    </div>
  </div>
</ng-template>

<ng-template #afterEmailSend let-modal>
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="new-psw-container">
      <h4>Reset Password</h4>
      <div>Please, check your email </div>
    </div>
  </div>
</ng-template>



