<!--<div *ngIf="tour" class="page">
  <div class="container">
    <div>info about tour</div>
    <div class="row mb-2">
      <div class="col tour-container">{{tour.title}}</div>
      <div class="col tour-container">{{tour.moreInfo}}</div>
      <div class="col tour-container">booked: {{tour.booked}}, bookedMax: {{tour.bookedMax}}</div>
    </div>
  </div>
</div>-->

<div class="page">
  <div class="banner-container">
    <div class="tour-title">
      <h1>
        Festival in Moab
      </h1>
    </div>
    <div class="some-more">
      Wow you are here! Look! What is it?... Wait a minute...
      Ohhh, yes, this is the best tour in your life!
    </div>
  </div>

  <div class="container w-auto main-container">
    <div class="row">

      <div class="col-md-9 main">
        <div class="tour-tabs">
        <ngb-tabset [destroyOnHide]="false">
          <ngb-tab>
            <ng-template ngbTabTitle>DETAILS</ng-template>
            <ng-template ngbTabContent>
              <div class="main-content">
                <div class="tour-tabs-info container-fluid">
                  <div class="row h-100">
                    <div class="tour-tabs-info-item rest-type col-sm-3">
                      <div class="icon"><i class="fas fa-tree-palm"></i></div>
                      <div class="inf">
                        <div class="content">Fests</div>
                        <div class="title">rest type</div>
                      </div>
                    </div>
                    <div class="tour-tabs-info-item dates col-sm-3">
                      <div class="icon"><i class="fas fa-calendar-alt"></i></div>
                      <div class="inf">
                        <div class="content">12 days</div>
                        <div class="title">duration</div>
                      </div>
                    </div>
                    <div class="tour-tabs-info-item location col-sm-3">
                      <div class="icon"><i class="fas fa-map-marker-alt"></i></div>
                      <div class="inf">
                        <div class="content">US, Noab</div>
                        <div class="title">location</div>
                      </div>
                    </div>
                    <div class="tour-tabs-info-item reviews col-sm-3">
                      <div class="icon"><i class="fas fa-comments"></i></div>
                      <div class="inf">
                        <div class="content">Reviews</div>
                        <div class="title">statistic</div>
                      </div>
                    </div>
                  </div>
                </div>

              <!--  //// end tab tours info ///-->
                <div class="main-subcontent">
                  <div class="more-info">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Ab architecto beatae deserunt dolor dolores dolorum eos illum
                    impedit incidunt ipsam iusto magni molestias natus nesciunt nihil
                    nostrum, obcaecati possimus quasi quis reprehenderit saepe sed sunt
                    totam unde ut vel veniam? Animi, culpa debitis eligendi fugiat itaqu
                    odit quo repellat temporibus.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Ab architecto beatae deserunt dolor dolores dolorum eos illum
                    impedit incidunt ipsam iusto magni molestias natus nesciunt nihil
                    nostrum, obcaecati possimus quasi quis reprehenderit saepe sed sunt
                    totam unde ut vel veniam? Animi, culpa debitis eligendi fugiat itaqu
                    odit quo repellat temporibus.
                  </div>

                  <table class="table table-bordered">
                    <tbody>
                      <tr>
                        <td><strong>DEPARTURE/RETURN LOCATION</strong></td>
                        <td>US, Noab</td>
                      </tr>
                      <tr>
                        <td><strong>DURATION</strong></td>
                        <td class="table-server-data">12/11/2020, 15/11/2020</td>
                      </tr>
                      <tr>
                        <td><strong>TRANSPORT TYPE</strong></td>
                        <td class="table-server-data">train</td>
                      </tr>
                      <tr>
                        <td><strong>BOOKED</strong></td>
                        <td class="table-server-data">11/12</td>
                      </tr>
                    </tbody>
                  </table>
                </div>

              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle>PHOTOS</ng-template>
            <ng-template ngbTabContent>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid.
              <p>Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table
                craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl
                cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia
                yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean
                shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero
                sint qui sapiente accusamus tattooed echo park.</p>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="Disabled">
            <ng-template ngbTabContent>
              <p>Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id diam. Nulla facilisi. Donec egestas ligula vitae odio interdum aliquet. Duis lectus turpis, luctus eget tincidunt eu, congue et odio. Duis pharetra et nisl at faucibus. Quisque luctus pulvinar arcu, et molestie lectus ultrices et. Sed diam urna, egestas ut ipsum vel, volutpat volutpat neque. Praesent fringilla tortor arcu. Vivamus faucibus nisl enim, nec tristique ipsum euismod facilisis. Morbi ut bibendum est, eu tincidunt odio. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris aliquet odio ac lorem aliquet ultricies in eget neque. Phasellus nec tortor vel tellus pulvinar feugiat.</p>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>

        <div class="tour-reviews">
          <div class="section-title">
            <h4>Tour Reviews</h4>
          </div>

          <div class="decoration"></div>

          <div class="section-comments-number">
            <i class="far fa-comment-dots"></i> <span>2 comments</span>
          </div>

          <div class="user-review container-fluid">
            <div class="row">
              <div class="user-photo col-sm-3">
                <div class="photo"></div>
                <div class="nick">Lala Lama</div>
              </div>
              <div class="user-comment col-sm-9">
                <div class="date">11/12/2020</div>
                <div class="user-comment-text">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab at debitis dolorem
                  ea esse facilis fuga, illum iusto laboriosam modi molestias,
                  officia, perferendis provident repellat saepe sit unde velit vitae?
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab at debitis dolorem
                  ea esse facilis fuga, illum iusto laboriosam modi molestias,
                  officia, perferendis provident repellat saepe sit unde velit vitae?
                </div>
              </div>
            </div>
          </div>

          <div class="user-review container-fluid">
            <div class="row">
              <div class="user-photo col-sm-3">
                <div class="photo"></div>
                <div class="nick">Kroco Dile</div>
              </div>
              <div class="user-comment col-sm-9">
                <div class="date">09/09/2020</div>
                <div class="user-comment-text">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab at debitis dolorem
                  ea esse facilis fuga, illum iusto laboriosam modi molestias,
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="tour-leave-review">
          <h4 class="review-title">Leave a Review</h4>

          <form class="review-form">
            <div class="review-form-item">
              <textarea name="comment" id="comment" placeholder="Your Review" class="form-control"></textarea>
            </div>
            <div class="review-form-item item-fifty">
              <input type="text" id="name" placeholder="Name" class="form-control">
            </div>
            <div class="review-form-item item-fifty">
              <input type="email" id="email" placeholder="Email" class="form-control">
            </div>

            <div class="review-form-item">
              <button  type="submit" class="btn btn-primary" id="submit">Submit</button>
            </div>
          </form>
        </div>
    </div>

      <div class="col-md-3 sidebar">
        <div class="price-block">
          <div class="price d-flex justify-content-center align-content-center">
            <div class="price-icon"><i class="fas fa-tags"></i></div>
            <div class="price-per-person">$220</div>
          </div>
          <div class="clarification">One tour per person</div>
        </div>

        <div class="form-booking">
          <h4>Book the tour</h4>
          <form action="">

          </form>
        </div>
      </div>

    </div>
  </div>
</div>

