
<div class="page">
  <div class="profile-block container-fluid max-width">
    <div class="row">

      <div class="additional col-md-3">
        <div class="d-flex flex-column">
          <div class="profile-icon">
            <img *ngIf="userData && userData.avatar.length" [src]="userData.avatar">
            <img *ngIf="!userData.avatar.length" class="d-block" src="https://images.unsplash.com/photo-1502920514313-52581002a659?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1047&q=80">
          </div>

          <div *ngIf="userData" class="additional_user-name additional_item">
            <div class="additional_item-title">{{userData.name}}</div>
          </div>

          <div *ngIf="!isMyAccount && !alreadySubscribed && userData" (click)="addAccountToMySubscriptions()" class="user-subscribe additional_item">
            <div class="additional_item-title">{{'account.subscribe' | translate}}</div>
          </div>
          <div *ngIf="!isMyAccount && alreadySubscribed" (click)="deleteAccountFromMySubscriptions()" class="user-unsubscribe additional_item">
            <div class="additional_item-title">{{'account.unsubscribe' | translate}}</div>
          </div>

          <div *ngIf="isMyAccount" class="user-avatar additional_item">
            <input #inputFile
                   type="file" (change)="onFileUpload($event)">
            <div class="additional_item-title">{{'account.avatar' | translate}}</div>
          </div>

          <div class="reviews additional_item">
            <div class="additional_item-title" *ngIf="reviewsData.length">{{'account.reviews' | translate}}: {{reviewsData.length}}</div>
            <div class="additional_item-title" *ngIf="!reviewsData.length">{{'account.reviews' | translate}}: 0</div>
          </div>
          <div class="subscriptions additional_item">
            <div class="additional_item-title" (click)="toggle()">{{'account.subscriptions' | translate}}: {{subscribtionsData.length}}</div>

            <div *ngIf="toggler && subscribtionsData.length">

              <div *ngFor="let subscribtionData of subscribtionsData" (click)="renderUserAccountPage(subscribtionData)" class="additional_item-content">
                  <div class="user-icon">
                    <img *ngIf="subscribtionData.avatar" [src]="subscribtionData.avatar" alt="">
                    <img *ngIf="!subscribtionData.avatar" src="https://images.unsplash.com/photo-1502920514313-52581002a659?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1047&q=80">
                  </div>
                  <div class="user-name">{{subscribtionData.name}}</div>
              </div>

            </div>
          </div>

          <div class="profile-about">
            <div class="edit-about" (click)="openEditProfileModal(editProfileModal)">
              <i class="fas fa-edit"></i>
            </div>
            <div class="title">
              {{'account.about_me' | translate}} <!--<i class="fas fa-user-edit edit-icon"></i>-->
            </div>

            <div class="line"></div>
            <div class="line-decoration">
              <div class="line-decoration-inner"></div>
            </div>

            <div *ngIf="userData" class="about-me-info">
              <div *ngIf="userData.location.country" class="location about-me-info-item">
                <i class="fas fa-home"></i> <span>{{userData.location.country}}, {{userData.location.town}}</span>
              </div>
              <div *ngIf="userData.languages.length" class="languages about-me-info-item">
                <i class="fas fa-comments"></i> <span>{{userData.languages}}</span>
              </div>
              <div class="email about-me-info-item">
                <i class="fas fa-envelope"></i> <span>{{userData.email}}</span>
              </div>

              <div class="about-me-description">
                {{userData.about}}
              </div>
            </div>
          </div>
          <div class="features">
            <div class="title">
              {{'account.features.title' | translate}}
            </div>
            <div class="write" (click)="openReviewModal(reviewModal)">
              <i class="fas fa-pencil-alt"></i><a>{{'account.features.write' | translate}}</a>
            </div>
          </div>
        </div>
      </div>

      <div class="additional col-md-9">
        <div class="subnav">
          <ngb-tabset [destroyOnHide]="false">
            <ngb-tab>
              <ng-template ngbTabTitle><div style="color: rgba(0, 15, 104, 0.69);font-weight: bold;">{{'account.map.tab_title' | translate}}</div></ng-template>
              <ng-template ngbTabContent>
                <div *ngIf="orderedToursData.length" class="journal tabset-item tabset-item-map">
                  <div class="user-map-container">
                    <div class="user-map-title">{{'account.map.title' | translate}}</div>
                  </div>
                  <div  class="user-map">

                    <div *ngFor="let tourLeft of orderedToursLeft" class="items-left">
                      <div class="item-left container-fluid">
                        <div class="row">
                          <div class="item-info col-10">
                            <div class="container-fluid info-container-fl">
                              <div class="row">
                                <div class="item-info-text col-lg-6">
                                  <div class="trip-name">{{tourLeft.title}}</div>
                                  <div class="trip-date">12/12/2020</div>
                                </div>

                                <div class="item-info-image col-lg-6">
                                  <div class="info-image">
                                    <img [src]="tourLeft.images[0]" alt="">
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="branch-container col-2">
                            <div class="branch"></div>
                          </div>
                        </div>
                      </div>

                    </div>

                    <div *ngIf="!orderedToursLeft.length" class="items-left"></div>
                    <div class="line-path"></div>

                    <div class="items-right">

                      <div *ngFor="let tourRight of orderedToursRight" class="item-right container-fluid">
                        <div class="row">
                          <div class="branch-container col-2">
                            <div class="branch"></div>
                          </div>
                          <div class="item-info col-10">
                            <div class="container-fluid info-container-fl">
                              <div class="row">
                                <div class="item-info-image col-lg-6 col-12">
                                  <div class="info-image">
                                    <img  [src]="tourRight.images[0]">
                                  </div>
                                </div>

                                <div class="item-info-text col-lg-6 col-12">
                                  <div class="trip-name">{{tourRight.title}}</div>
                                  <div class="trip-date">12/12/2020</div>
                                </div>

                              </div>
                            </div>

                          </div>
                        </div>
                      </div>

                    </div>

                  </div>

                  <div class="continue">...</div>
                </div>

                <div class="no-tours" *ngIf="!orderedToursLeft.length && isMyAccount && isLoaded">
                  <div class="have-no-trips">
                    <div class="have-no-trips-picture">
                      <img src="../../assets/images/cat-simon.gif" alt="">
                    </div>
                    <div class="have-no-trips-text">
                      <div class="text-title">{{'account.map.empty_title' | translate}}</div>
                      <div class="text-info">
                        <span [innerHTML]="'account.map.empty_text1' | translate"></span>
                        <a routerLink="/tours">{{'account.map.empty_text_a' | translate}}</a> {{'account.map.empty_text2' | translate}}
                      </div>
                    </div>
                  </div>
                </div>

                <div class="no-orders" *ngIf="!isMyAccount &&  !ordersData.length && isLoaded">
                  {{'account.orders.empty_title' | translate}}
                </div>

                <div class="no-orders" *ngIf="!isLoaded">
                  <app-loader></app-loader>
                </div>

              </ng-template>
            </ngb-tab>

            <ng-container *ngIf="isMyAccount">
            <ngb-tab>
              <ng-template ngbTabTitle><div style="color: rgba(0, 15, 104, 0.69);font-weight: bold;">{{'account.orders.tab_title' | translate}}</div></ng-template>
              <ng-template ngbTabContent>
                <div *ngIf="ordersData.length" class="tabset-item tabset-item-orders">
                  <div class="order-items">

                    <div *ngFor="let tour of orderedToursData; let i = index;" class="order-item container-fluid">
                      <div class="row row-order-item">
                        <div class="order-item-image col-md-5">
                          <div class="img-container">
                            <img [src]="tour.images[0]" alt="">
                          </div>
                        </div>
                        <div class="info col-md-7">
                          <div class="order-item-bar">
                            <i class="fas fa-ellipsis-v"></i>
                          </div>
                          <div class="title">{{tour.title}}</div>
                          <div class="number">{{'account.orders.number' | translate}}: {{tour._id}}</div>
                          <div class="price">{{'account.orders.price' | translate}}: ${{ordersData[i].cost}}</div>
                          <div class="date">{{'account.orders.date' | translate}}: {{ordersData[i].date.day | number: '2.0'}}/{{ordersData[i].date.month | number: '2.0'}}/{{ordersData[i].date.year}}</div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>

                <div class="no-orders" *ngIf="!ordersData.length">
                  {{'account.orders.empty_title' | translate}}
                </div>
              </ng-template>
            </ngb-tab>
            </ng-container>

            <ngb-tab>
              <ng-template ngbTabTitle><div style="color: rgba(0, 15, 104, 0.69);font-weight: bold;">{{'account.favourites.tab_title' | translate}}</div></ng-template>
              <ng-template ngbTabContent>

                <div class="favourites-items" *ngIf="favouriteTours.length">
                  <section>
                    <app-tours-section [toursList]="favouriteTours" [parentComponent]="componentName"></app-tours-section>
                  </section>
                </div>

                <div *ngIf="!userData.favouriteTourIds.length" class="no-favourites">
                  {{'account.favourites.empty_title' | translate}}
                </div>
              </ng-template>
            </ngb-tab>

          </ngb-tabset>
        </div>
      </div>

    </div>
  </div>
</div>

<ng-template #reviewModal let-modal>
  <div>
    <div class="modal-content">
      <div class="modal-body">
        <div class="review-container">
          <div class="title">
            Leave your Tour Review
          </div>

          <div class="tours">
            <div class="tour" (click)="showFields(orderedTour._id)" *ngFor="let orderedTour of orderedToursData;">
              <div class="tour-inner" [ngClass]="{'active-title' : orderedTour._id == reviewTourId}">
                <div class="tour-title">
                  {{orderedTour.title}}
                </div>
                <div *ngIf="orderedTour._id != reviewTourId" class="btn-write">
                  <img src="https://image.flaticon.com/icons/svg/813/813419.svg" alt="">
                </div>
              </div>

              <form *ngIf="orderedTour._id == reviewTourId" class="review">
                <input type="text" placeholder="Review Title" class="form-control" name="review-input">
                <textarea type="text" placeholder="Type your thoughts HERE..." class="form-control" name="review-textarea"></textarea>
                <div class="btn-container">
                  <button class="btn btn-primary">Send</button>
                </div>
              </form>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</ng-template>

<ng-template #editProfileModal let-modal>
  <div>
    <div class="modal-content">
      <div class="modal-body">
        <div class="edit-container">
          <div class="title">
            Edit Page Info
          </div>

          <form>
            <div class="form_block">
              <div class="field-label">Where Are U Living?</div>
              <input type="text" placeholder="Country" class="form-control" name="">
              <input type="text" placeholder="Town" class="form-control" name="">
            </div>

            <div class="form_block">
              <div class="field-label">What languages​do you speak?</div>
              <input type="text" placeholder="Add Language" class="form-control" name="">
            </div>

            <div class="form_block">
              <div class="field-label">How about writing some information about yourself?</div>
              <textarea type="text" placeholder="I'm ..." class="form-control" name=""></textarea>
            </div>

            <div class="form_block">
              <div class="field-label">My Phone</div>
              <input type="text" class="form-control" name="" [value]="userData.telephone">
            </div>

            <div class="form_block">
              <div class="field-label">My Email</div>
              <input type="text" class="form-control" name="" [value]="userData.email">
            </div>

            <div class="btn-container">
              <button class="btn btn-primary">Close</button>
              <button class="btn btn-primary btn-send">Send</button>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
</ng-template>
