<div class="page">
  <app-shadow-loader *ngIf="load"></app-shadow-loader>
  <div class="profile-block container-fluid max-width">
    <div class="row">

      <div class="additional col-lg-3">
        <div class="d-flex flex-column">
          <div class="profile-icon">
            <img *ngIf="userData?.avatar.length" [src]="userData.avatar">
            <img *ngIf="!userData?.avatar.length" class="d-block" src="../../../../../assets/images/user-default.png">
          </div>

          <div *ngIf="userData" class="additional_user-name additional_item">
            <div class="additional_item-title">{{userData.name}}</div>
          </div>

          <div *ngIf="isILoggedIn && !isMyAccount && !alreadySubscribed && userData" (click)="addAccountToMySubscriptions()" class="user-subscribe additional_item">
            <div class="additional_item-title">{{'account.subscribe' | translate}}</div>
          </div>
          <div *ngIf="isILoggedIn && !isMyAccount && alreadySubscribed" (click)="deleteAccountFromMySubscriptions()" class="user-unsubscribe additional_item">
            <div class="additional_item-title">{{'account.unsubscribe' | translate}}</div>
          </div>

          <div *ngIf="isMyAccount" class="user-avatar additional_item">
            <input #inputFile
                   type="file" (change)="onFileUpload($event)">
            <div class="additional_item-title">{{'account.avatar' | translate}}</div>
          </div>

          <div class="reviews additional_item">
            <div class="additional_item-title" *ngIf="reviewsData.length">{{'account.reviews' | translate}}: {{reviewsData.length}}</div>
            <div class="additional_item-title" *ngIf="!reviewsData.length">{{'account.reviews' | translate}}: 0</div>
          </div>
          <div class="subscriptions additional_item">
            <div class="additional_item-title" (click)="toggle()">{{'account.subscriptions' | translate}}: {{subscribtionsData.length}}</div>

            <div *ngIf="toggler && subscribtionsData.length">

              <div *ngFor="let subscribtionData of subscribtionsData" (click)="renderUserAccountPage(subscribtionData)" class="additional_item-content">
                  <div class="user-icon">
                    <img *ngIf="subscribtionData.avatar" [src]="subscribtionData.avatar" alt="">
                    <img *ngIf="!subscribtionData.avatar" src="https://images.unsplash.com/photo-1502920514313-52581002a659?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1047&q=80">
                  </div>
                  <div class="user-name">{{subscribtionData.name}}</div>
              </div>

            </div>
          </div>

          <div class="profile-about">
            <div *ngIf="isMyAccount" class="edit-about" (click)="openEditProfileModal(editProfileModal)">
              <i class="fas fa-edit"></i>
            </div>
            <div class="title">
              {{'account.about_me' | translate}} <!--<i class="fas fa-user-edit edit-icon"></i>-->
            </div>

            <div class="line"></div>
            <div class="line-decoration">
              <div class="line-decoration-inner"></div>
            </div>

            <div *ngIf="userData" class="about-me-info">
              <div *ngIf="userData.location.country" class="location about-me-info-item">
                <span class="info-icon">🏠</span> <span>{{userData.location.country}}
                <span *ngIf="userData.location.town.length">,</span>
                {{userData.location.town}}</span>
              </div>
              <div *ngIf="userData.languages.length" class="languages about-me-info-item">
                <span class="info-icon">💬</span> <span>{{userData.languages}}</span>
              </div>
              <div class="email about-me-info-item">
                <span class="info-icon">💌</span> <span>{{userData.email}}</span>
              </div>

              <div class="about-me-description">
                {{userData.about}}
              </div>
            </div>
          </div>
          <div class="features" *ngIf="isMyAccount">
            <div class="title">
              {{'account.features.title' | translate}}
            </div>
            <div class="write" (click)="openReviewModal(reviewModal)">
              <i class="fas fa-pencil-alt"></i><a>{{'account.features.write' | translate}}</a>
            </div>
          </div>
        </div>
      </div>

      <div class="additional col-lg-9 additional-tab">
        <div class="subnav">
          <ngb-tabset [destroyOnHide]="false">
            <ngb-tab>
              <ng-template ngbTabTitle><div style="color: rgba(0, 15, 104, 0.69);font-weight: bold;">{{'account.map.tab_title' | translate}}</div></ng-template>
              <ng-template ngbTabContent>
                <div *ngIf="visitedTourOrders.length" class="journal tabset-item tabset-item-map">
                  <div class="user-map-container">
                    <div class="user-map-title">{{'account.map.title' | translate}}</div>
                  </div>
                  <div class="continue">...</div>
                  <div  class="user-map">

                    <div class="items-left">
                      <div *ngFor="let orderTourLeft of visitedTourOrdersLeft" class="item-left container-fluid">
                        <div class="row">
                          <div class="item-info col-10">
                            <div class="container-fluid info-container-fl">
                              <div class="row">
                                <div class="item-info-text col-lg-6">
                                  <div class="trip-name">{{orderTourLeft.tour.title}}</div>
                                  <div class="trip-date">
                                    {{ orderTourLeft.order.tourDate.dateFrom.day | number: '2.0'}}/{{ orderTourLeft.order.tourDate.dateFrom.month | number: '2.0'}}/{{ orderTourLeft.order.tourDate.dateFrom.year }}
                                    <br>
                                    {{ orderTourLeft.order.tourDate.dateTo.day | number: '2.0'}}/{{ orderTourLeft.order.tourDate.dateTo.month | number: '2.0'}}/{{ orderTourLeft.order.tourDate.dateTo.year }}
                                  </div>
                                </div>

                                <div class="item-info-image col-lg-6">
                                  <div class="info-image" (click)="renderTourPage(orderTourLeft.tour._id)">
                                    <img [src]="orderTourLeft.tour.images[0]">
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="branch-container col-2">
                            <div class="branch"></div>
                          </div>
                        </div>
                      </div>

                    </div>

                    <div *ngIf="!visitedTourOrdersLeft.length" class="items-left"></div>
                    <div class="line-path"></div>

                    <div class="items-right">

                      <div *ngFor="let orderTourRight of visitedTourOrdersRight" class="item-right container-fluid">
                        <div class="row">
                          <div class="branch-container col-2">
                            <div class="branch"></div>
                          </div>
                          <div class="item-info col-10">
                            <div class="container-fluid info-container-fl">
                              <div class="row">
                                <div class="item-info-image col-lg-6 col-12">
                                  <div class="info-image" (click)="renderTourPage(orderTourRight.tour._id)">
                                    <img  [src]="orderTourRight.tour.images[0]">
                                  </div>
                                </div>

                                <div class="item-info-text col-lg-6 col-12">
                                  <div class="trip-name">{{orderTourRight.tour.title}}</div>
                                  <div class="trip-date">
                                    {{ orderTourRight.order.tourDate.dateFrom.day | number: '2.0'}}/{{ orderTourRight.order.tourDate.dateFrom.month | number: '2.0'}}/{{ orderTourRight.order.tourDate.dateFrom.year }}
                                    <br>
                                    {{ orderTourRight.order.tourDate.dateTo.day | number: '2.0'}}/{{ orderTourRight.order.tourDate.dateTo.month | number: '2.0'}}/{{ orderTourRight.order.tourDate.dateTo.year }}
                                  </div>
                                </div>

                              </div>
                            </div>

                          </div>
                        </div>
                      </div>

                    </div>

                  </div>

                  <div class="start">START</div>
                </div>

                <div class="no-tours" *ngIf="!visitedTourOrders.length && isMyAccount && isLoaded">
                  <div class="have-no-trips">
                    <div class="have-no-trips-picture">
                      <img src="../../assets/images/cat-simon.gif" alt="">
                    </div>
                    <div class="have-no-trips-text">
                      <div class="text-title">{{'account.map.empty_title' | translate}}</div>
                      <div class="text-info">
                        <span [innerHTML]="'account.map.empty_text1' | translate"></span>
                        <a routerLink="/tours">{{'account.map.empty_text_a' | translate}}</a> {{'account.map.empty_text2' | translate}}
                      </div>
                    </div>
                  </div>
                </div>

                <div class="no-orders" *ngIf="!isMyAccount &&  !visitedTourOrders.length && isLoaded">
                  {{'account.orders.empty_title' | translate}}
                </div>

                <div class="no-orders" *ngIf="!isLoaded">
                  <app-loader></app-loader>
                </div>

              </ng-template>
            </ngb-tab>

            <ng-container *ngIf="isMyAccount">
            <ngb-tab>
              <ng-template ngbTabTitle><div style="color: rgba(0, 15, 104, 0.69);font-weight: bold;">{{'account.orders.tab_title' | translate}}</div></ng-template>
              <ng-template ngbTabContent>
                <div *ngIf="ordersData.length" class="tabset-item tabset-item-orders">
                  <div class="order-items">

                    <div *ngFor="let orderTour of ordersData; let i = index;" class="order-item container-fluid">
                      <div class="row row-order-item">
                        <div *ngIf="!orderTour.order.confirmed" class="order-not-confirmed">not confirmed</div>

                        <div class="order-item-image col-md-5">
                          <div class="img-container">
                            <img [src]="orderTour.tour.images[0]" alt="">
                          </div>
                        </div>
                        <div class="info col-md-7">
  <!--                        <div class="order-item-bar">
                            <i class="fas fa-ellipsis-v"></i>
                          </div>-->
                          <div class="title">{{orderTour.tour.title}}</div>
                          <div class="number">{{'account.orders.number' | translate}}: {{orderTour.order._id}}</div>
                          <div class="price">{{'account.orders.price' | translate}}: ${{orderTour.order.cost}}</div>
                          <div class="date">{{'account.orders.date' | translate}}: {{orderTour.order.date.day | number: '2.0'}}/{{orderTour.order.date.month | number: '2.0'}}/{{orderTour.order.date.year}}</div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>

                <div class="no-orders" *ngIf="!ordersData.length && isLoaded">
                  {{'account.orders.empty_title' | translate}}
                </div>

                <app-loader *ngIf="!ordersData.length && !isLoaded"></app-loader>
              </ng-template>
            </ngb-tab>
            </ng-container>

            <ngb-tab>
              <ng-template ngbTabTitle><div style="color: rgba(0, 15, 104, 0.69);font-weight: bold;">{{'account.favourites.tab_title' | translate}}</div></ng-template>
              <ng-template ngbTabContent>

                <div class="favourites-items" *ngIf="favouriteTours.length">
                  <section>
                    <app-tours-section [toursList]="favouriteTours" [parentComponent]="componentName" [isMyAccount]="isMyAccount"></app-tours-section>
                  </section>
                </div>

                <div *ngIf="!userData?.favouriteTourIds.length && isLoaded" class="no-favourites">
                  {{'account.favourites.empty_title' | translate}}
                </div>

                <app-loader *ngIf="!userData?.favouriteTourIds.length && !isLoaded"></app-loader>
              </ng-template>
            </ngb-tab>

          </ngb-tabset>
        </div>
      </div>

    </div>
  </div>
</div>


<!--  modals    -->

<ng-template #reviewModal let-modal>
  <div>
    <div class="modal-content">
      <div class="modal-body">
        <div class="review-container">
          <div class="title">
            Leave your Tour Review
          </div>

          <div class="tours" *ngIf="visitedTourOrders.length; else noOrders">
            <div class="tour" (click)="showFields(orderTour.tour._id)" *ngFor="let orderTour of visitedTourOrders;">
              <div class="tour-inner" [ngClass]="{'active-title' : orderTour.tour._id == reviewTourId}">
                <div class="tour-title">
                  {{orderTour.tour.en.title}}
                </div>
                <div *ngIf="orderTour.tour._id != reviewTourId" class="btn-write">
                  <img src="https://image.flaticon.com/icons/svg/813/813419.svg" alt="">
                </div>
              </div>

              <form (ngSubmit)="createReview(msgModal)" [formGroup]="reviewForm" *ngIf="orderTour.tour._id == reviewTourId" class="review">
                <input [ngClass]="{'invalid-field': reviewForm.get('title').invalid && reviewForm.get('title').touched}" formControlName="title" type="text" placeholder="Review Title" class="form-control" name="review-input">
                <div class="invalid-tip"
                     *ngIf="reviewForm.get('title').invalid && reviewForm.get('title').touched">
                  Fill this field
                </div>

                <textarea [ngClass]="{'invalid-field': reviewForm.get('info').invalid && reviewForm.get('info').touched}" formControlName="info" type="text" placeholder="Type your thoughts HERE..." class="form-control" name="review-textarea"></textarea>
                <div class="invalid-tip"
                     *ngIf="reviewForm.get('info').invalid && reviewForm.get('info').touched">
                  Fill this field
                </div>
                <div class="btn-container">
                  <button [disabled]="reviewForm.invalid || reviewForm.untouched" type="submit" class="btn btn-primary">Send</button>
                </div>
              </form>

            </div>
          </div>

          <ng-template #noOrders>
            <div class="modal_no-orders">
              You haven't travel with us yet...
              You can write a review only after your trip.
              <br>
              See out tours <a routerLink="/tours" (click)="modal.dismiss('Cross click')">HERE</a>
            </div>
          </ng-template>

        </div>

      </div>
    </div>
  </div>
</ng-template>

<ng-template #msgModal let-modal>
  <div class="msg-modal-container">
    <div class="modal-content">
      <div class="modal-body">
        <div class="modal_message">
          Thanks for your feedback! 😃
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #editProfileModal let-modal>
  <div>
    <div class="modal-content">
      <div class="modal-body">
        <div class="edit-container">
          <div class="title">
            Edit Page Info
          </div>

          <form class="edit-profile-form">
            <div class="form_block">
              <div class="field-label">Your NickName</div>
              <input type="text" name="name" placeholder="Country" [(ngModel)]="updatedUserData.name" class="form-control">
            </div>

            <div class="form_block">
              <div class="field-label">Where Are U Living?</div>
              <input type="text" name="country" placeholder="Country" [(ngModel)]="updatedUserData.location.country" class="form-control">
              <input type="text" name="town" placeholder="Town" [(ngModel)]="updatedUserData.location.town" class="form-control">
            </div>

            <div class="form_block">
              <div class="field-label">What languages do you speak?</div>
              <div class="rest-container_list">
                <ul class="rest-types">
                  <li *ngFor="let lang of updatedUserData.languages; let r=index;">
                    {{lang}} <span (click)="deleteLang(r)"><i class="fas fa-trash delete-icon"></i></span>
                  </li>
                </ul>
              </div>

              <div class="input-group">
                <input #langInput type="text" placeholder="Add Language" class="form-control" name="addLang">
                <div class="input-group-append">
                  <button (click)="addLang(langInput.value)" class="btn btn-outline-secondary btn-add-lang" type="button">add</button>
                </div>
              </div>
            </div>

            <div class="form_block">
              <div class="field-label">How about writing some information about yourself?</div>
              <textarea type="text" placeholder="I'm ..." class="form-control" name="info" [(ngModel)]="updatedUserData.about"></textarea>
            </div>

            <div class="form_block">
              <div class="field-label">My Phone</div>
              <input type="text" class="form-control" name="tel" [(ngModel)]="updatedUserData.telephone">
            </div>

            <div class="form_block">
              <div class="field-label">My Email</div>
              <input type="text" class="form-control" name="email" [(ngModel)]="updatedUserData.email">
            </div>

            <div class="btn-container">
              <button class="btn btn-primary btn-close" (click)="modal.close('Close click')">Close</button>
              <button class="btn btn-primary btn-send" (click)="updateUser(modal)">Send</button>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
</ng-template>


