$color_lightSea: #1cbbb4;

.page {
  background: rgba(59, 67, 76, 0.11);
  min-height: 100vh;
  top: 0;
  padding-top: 85px;
}

.content {
  margin-top: 80px;
}

.profile-header {
  padding-top: 100px;

  .row-bgr {
    background: #fff;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }

  .row {
    margin: 10px;
    min-height: 200px;
    position: relative;
    overflow: hidden;
  }

  /*  .bgr-top{
      background: #0f5751;
      position: absolute;
      width: 800px;
      height: 380px;
      z-index: 1;
      transform: rotate(-45deg);
      top: -250px;
      left: -350px;
    }
  */
  .bgr-bottom {
    background: $color_lightSea;
    position: absolute;
    width: 100%;
    height: 100px;
    bottom: 0;
    /*    width: 800px;
        height: 510px;
        transform: rotate(-45deg);
        bottom: -250px;
        right: -350px; */
    z-index: 1;
  }

  .profile-info {
    overflow: hidden;
  }

  .absolute-img6 {
    img {
      position: absolute;
      max-width: 270px;
      right: 0;
      bottom: 0;
      z-index: -1;
    }
  }

  @media (max-width: 576px) {
    .absolute-img6 img {
      max-width: 200px;
    }
  }
}


.profile-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.border-profile-image {
  width: 190px;
  height: 190px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 4px solid #505962;
  border-right: 4px solid #505962;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  transition: 0.5s;

  &:hover {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #505962;
    border-bottom: 4px solid #505962;
  }
}

@media (max-width: 992px) {
  .border-profile-image {
    width: 160px;
    height: 160px;
  }
}

@media (max-width: 768px) {
  .border-profile-image {
    margin-top: 10px;
  }
}

.profile-img {
  width: 92%;
  height: 92%;
  position: relative;
  border-radius: 50%;
  overflow: hidden;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.profile-info-container {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;

  .profile-info {
    width: 100%;
    height: 100%;
  }

  .settings {
    position: absolute;
    font-size: 2.5rem;
    transition: 0.3s;
    right: 24px;
    top: 16px;
    color: rgba(80, 89, 98, 0.85);

    &:hover {
      font-size: 2.6rem;
      color: #505962;
    }
  }

  .header-info {
    width: 90%;
    color: #fff;
    margin-top: 10px;
    margin-right: 0 !important;
    margin-left: 0 !important;
    padding: 0 !important;
    height: 100px;

    .reviews_inner,
    .subscribers_inner,
    .subscriptions_inner {
      height: 100%;
      padding-right: 5px;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 5px;
      color: #505962;
    }

    .inner_title {
      text-transform: uppercase;
      font-size: 1.1rem;
    }

    .inner_number {
      font-size: 1.4rem;
      font-weight: bold;
    }

    .row {
      width: 85% !important;
      height: 100px;
      min-height: 90px !important;
    }

    .header-info-item {
      margin: 0 !important;
      height: 75px;
      padding-right: 5px;

      .inner {
        padding: 8px;
        background: rgba(255, 250, 250, 0.26);
        transition: 0.3s;

        &:hover {
          background: rgba(255, 250, 250, 0.47);
        }
      }

      @media (max-width: 992px) {
        .title {
          font-size: 1.1rem;
        }
      }
    }

    .title {
      font-weight: bold;
      font-size: 1.3rem;
    }

    .num {
      font-size: 1.1rem;
    }

    @media (max-width: 576px) {
      .title {
        font-size: 0.9rem;
      }

      .header-info {
        width: 95% !important;
      }

      .row {
        width: 99% !important;
      }
    }
  }

  .nick {
    width: 79%;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 25px;
    color: #505962;
    font-size: 2.5rem;
    font-weight: bold;
  }

  @media (max-width: 576px) {
    .nick {
      font-size: 2rem;
      padding-left: 5px;
    }
  }

  .line {
    width: 90%;
    height: 3px;
    background-color: white;
  }

  @media (max-width: 576px) {
    .settings {
      font-size: 2.2rem;
    }

    .nick {
      font-size: 2rem;
    }
  }

  .about {
    color: #505962;
    margin: 10px;
    z-index: 10;

    i {
      font-size: 1.5rem;
      margin-right: 8px;
    }

    .about-item {
      font-size: 1rem;
      padding-top: 2px;
      padding-bottom: 2px;
      margin-top: 10px;
    }

    @media (max-width: 576px) {
      .about-item {
        font-size: 0.9rem;
      }
    }

    strong {
      padding-right: 10px;
    }
  }
}

.profile-block {
  padding-right: 25px;
  padding-left: 25px;

  .profile-about,
  .features {
    background: #fff;

    .line {
      width: 100%;
      height: 1px;
      background: rgba(102, 0, 128, 0.24);
    }

    .line-decoration {
      width: 100%;
      height: 4px;
      display: flex;
      justify-content: center;
      padding-bottom: 17px;

      .line-decoration-inner {
        width: 50%;
        height: 4px;
        background: #0f5751;
      }
    }

    .about-me-info {
      padding: 1px 20px;

      .about-me-info-item {
        margin-bottom: 5px;
      }
    }
  }

  .about-me-description {
    margin-top: 5px;
    margin-bottom: 18px;
  }

  i {
    margin-right: 10px;
  }

  .title {
    text-align: center;
    padding: 12px 2px;
    font-size: 1.2rem;
    font-weight: bold;
  }

  .features {
    margin-top: 10px;
    margin-bottom: 15px;

    .line {
      background: $color_lightSea;
    }

    .line-decoration {
      background: $color_lightSea;
    }

    .write {
      background: $color_lightSea;
      color: #fff;
      padding: 1px 20px 17px;
      display: flex;
      justify-content: center;

      a {
        transition: .3s;
      }

      a:hover {
        text-decoration: underline;
        font-weight: bold;
        color: #0f5751;
        font-size: 1.1rem;
      }
    }
  }
}

.about_title {
  border-bottom: 3px solid #505962;
  width: 81%;
  font-size: 1.2rem;
  padding-bottom: 10px;
}

.about_info {
  width: 90%;
  padding: 10px 10px 10px 0;
}

.tabset-item {
  background: #fff;
  min-height: 100px;
  padding: 10px;
}

.additional {
  .have-no-trips {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .have-no-trips-picture {
    width: 30%;
    text-align: center;

    img {
      max-width: 110px;
    }
  }

  .have-no-trips-text {
    width: 40%;

    .text-title {
      font-size: 1.2rem;
    }

    .text-info {
      a {
        text-transform: uppercase;
        color: #ff8626;
        font-weight: bold;
        transition: 0.3s;
      }

      a:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }

  @media (max-width: 768px) {
    .have-no-trips {
      flex-direction: column;

      .have-no-trips-picture {
        max-width: 90px;
        margin-top: 25px;

        img {
          max-width: 90px;
        }
      }

      .have-no-trips-text {
        font-size: 0.9rem;
        text-align: center;
        width: 70%;
        margin-bottom: 20px;
      }
    }
  }
}

.user-map-container {
  text-align: center;
  padding: 15px 15px 0;

  .start {
    span {
      font-weight: bold;
      font-size: 1.3rem;
      text-transform: uppercase;
      color: #0f5751;
    }

    i {
      margin: 15px;
      color: #0f5751;
    }

    padding-bottom: 15px;
    /* border-bottom: 2px solid #0f5751; */
  }
}

.user-map {
  width: 100%;
  display: flex;
  padding: 0 15px;
  min-height: 100px;

  .line-path {
    width: 2px;
    background: #fff;
  }

  .items-left,
  .items-right {
    width: 50%;
  }

  .item-left,
  .item-right {
    height: 200px;
  }

  .item-left {
    margin-top: 140px;
    position: relative;

    .branch-container {
      height: 200px;
      padding: 0;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }

    .branch {
      width: 100%;
      height: 2.5px;
      background: #fff;
    }
  }

  .item-right {
    margin-bottom: 140px;

    .branch-container {
      height: 200px;
      padding: 0;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    .branch {
      width: 100%;
      height: 2.5px;
      background: #fff;
    }
  }

  .info-container-fl {
    height: 100%;

    .row {
      height: 100%;
    }
  }

  .item-info {
    padding: 0;
    position: relative;
  }

  .item-info-image {
    padding: 0;
    display: flex;
    align-items: center;
  }

  .info-image {
    overflow: hidden;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid #fff;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .item-info-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .item-left .item-info-image {
    justify-content: flex-end;
  }

  .item-left {
    .item-info-text {
      text-align: end;
      align-items: flex-end;
    }
  }

  .item-right .item-info-image {
    justify-content: flex-start;
  }

  .item-right {
    .item-info-text {
      text-align: start;
      align-items: flex-start;
    }
  }

  .trip-name {
    font-weight: bold;
    color: #fff;
    padding-bottom: 5px;
  }

  .trip-date {
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.69);
  }

  .item-info-text {
    .line {
      width: 100%;
      height: 1px;
      background: rgba(102, 0, 128, 0.24);
    }

    .line-decoration {
      width: 100%;
      height: 4px;
      display: flex;
      justify-content: center;
      padding-bottom: 17px;

      .line-decoration-inner {
        width: 50%;
        height: 4px;
        background: #0f5751;
      }
    }
  }

  //////

  @media (max-width: 992px) {
    .item-info-text {
      display: none;
    }
  }

  @media (max-width: 576px) {
    .info-image {
      height: 100px;
      width: 100px;
    }

    .item-left,
    .item-right {
      height: 110px;

      .row {
        height: 110px;
      }

      .branch-container {
        height: 110px;
      }
    }

    .item-right {
      margin-bottom: 100px;
    }

    .item-left {
      margin-top: 100px;
    }
  }
}

.user-map-title {
  text-align: center;
  padding: 9px;
  margin-top: 5px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
}

.user-map-container {
  .line {
    width: 100%;
    height: 3px;
    background: #0f5751;
    text-align: center;
  }

  .line-decoration {
    width: 100%;
    height: 4px;
    display: flex;
    justify-content: center;

    .line-decoration-inner {
      width: 50%;
      height: 4px;
      background: #0f5751;
    }
  }
}

.continue {
  margin-bottom: 20px;
  text-align: center;
  font-size: 3rem;
  color: #fff;
}

.tabset-item-map {
  padding: 0;
  background: rgb(2, 0, 36);
  background: linear-gradient(0deg, rgba(2, 0, 36, 1) 6%, rgba(9, 9, 121, 0.8556373232886905) 28%, rgba(28, 187, 180, 1) 100%);
}


.tabset-item-orders {
  .row-order-item {
    padding: 10px;
    background-color: rgba(28, 187, 180, 0.4);
    min-height: 200px;
    margin-bottom: 10px;
  }

  .order-item-bar {
    position: absolute;
    top: -8px;
    right: 0;
    font-size: 1.6rem;
    color: rgb(28, 74, 72);
    transition: .2s;

    &:hover {
      font-size: 1.8rem;
      animation: bounce .5s ease-in-out;
    }

    @keyframes bounce {
      0% {
        transform: rotate(0deg);
      }

      25% {
        transform: rotate(-20deg);
      }

      50% {
        transform: rotate(0deg);
      }

      75% {
        transform: rotate(20deg);
      }

      50% {
        transform: rotate(0deg);
      }
    }
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .title {
    color: rgb(28, 74, 72);
    text-align: start;
  }

  .info {
    margin: 10px auto;
  }

  @media (max-width: 768px) {
    .order-item-image {
      width: 100%;
      height: 300px;
    }

    .order-item-bar {
      top: 10px;
      right: 0;
    }
  }
}

@media (max-width: 576px) {
  .header-info {
    height: 230px !important;

    .row {
      height: 230px !important;
    }
  }
}

@media (max-width: 576px) {
  .reviews_inner,
  .subscriptions_inner,
  .subscribers_inner {
    height: 65px !important;
  }

  .nick {
    background: none !important;
    width: 90%;
  }
}

.edit-icon {
  position: absolute;
  right: 19px;
  font-size: 1.5rem;
  top: 15px;
}

.profile-icon {
  background: #fff;
  margin-bottom: 10px;
  height: 320px;
  position: relative;

  img {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.additional_item {
  padding: 10px 20px;
  background: #fff;
  margin-bottom: 10px;
  font-size: 1rem;
  text-transform: uppercase;
}

.about-me-info-item {
  padding: 3px 0;

  i {
    font-size: 1.2rem;
    margin-left: 5px;
  }
}

.additional_item-content {
  font-size: 1rem;
  text-transform: none;
  display: flex;
  margin: 15px 0;

  .user-icon {
    height: 75px;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    min-width: 75px;

    img {
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .user-name {
    display: flex;
    align-items: center;
    padding-left: 10px;
  }
}

.no-orders,
.no-favourites,
.no-tours {
  height: 76vh;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.additional_user-name {
  text-align: center;
  color: rgba(9, 9, 121, 0.82);

  .additional_item-title {
    margin-bottom: 0 !important;
    font-size: 1.7rem;
  }
}

.user-subscribe {
  background: rgba(9, 9, 121, 0.69);
  color: #fff;
  text-align: center;
  transition: 0.5s;

  &:hover {
    background: rgba(9, 9, 121, 0.95);
    cursor: pointer;
  }
}

.user-unsubscribe {
  background: rgba(230, 7, 7, 0.69);
  color: #fff;
  text-align: center;
  transition: 0.5s;

  &:hover {
    background: rgba(230, 7, 7, 0.95);
    cursor: pointer;
  }
}

.user-avatar {
  background: rgba(86, 182, 201, 0.69);
  color: #fff;
  text-align: center;
  transition: 0.5s;
  position: relative;

  input {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    top: 0;
    left: 0;
  }

  &:hover {
    background: rgb(86, 182, 201);
    cursor: pointer;
  }
}
