<div class="page">
    <div class="main-title text-center">
      Order management
    </div>

  <ng-template #sureDelete let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Delete order</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Are you sure?</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Cancel</button>
      <button type="button" class="btn btn-danger" (click)="deleteOrder(modal)">Delete</button>
    </div>
  </ng-template>

  <div class="search-filter-container container">
    <div class="row">
      <div class="filter-container col-md-6">
        <div class="confirm-filter-container d-flex">
            <div class="checkbox-label">Unconfirmed</div>
            <div class="input-checkbox-wrapper">
              <input type="checkbox" class="confirm-filter" [ngModel]="filter" (ngModelChange)="onFilterChange()">
            </div>
        </div>
      </div>

      <div class="search-container col-md-6">
        <form (ngSubmit)="findOrderById(idInput.value)">
          <div class="input-group">
            <input name="idInput" [(ngModel)]="idInputValue" #idInput type="text" class="form-control" placeholder="FIND ORDER (BY ID)" aria-label="Search" aria-describedby="button-search">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary search-button" type="submit" id="button-search">
                <i class="fas fa-search"></i>
              </button>
              <button class="btn btn-outline-secondary search-button" (click)="resetFilter(idInput)" type="button" id="button-reset">
                <i class="fas fa-times"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="line-decoration">
    <div class="line-decoration-inner"></div>
  </div>

  <div *ngIf="!ordersExist" class="no-orders">
    No such orders...
  </div>

  <app-loader *ngIf="!orders.length && ordersExist"></app-loader>

  <div *ngIf="orders.length && ordersExist" class="orders-container container">
    <div class="row" >
      <div *ngFor="let orderFull of orders; let i = index;" class="col-lg-6 orders-col">
        <div class="order-container">
          <div class="order-image">
            <img [src]="orderFull.tour.images[0]">
          </div>

          <div class="number-buttons">
            <div class="number">
              <span>№</span>{{orderFull.order._id}}
            </div>
            <div class="buttons">
              <button *ngIf="!orderFull.order.confirmed" type="button" class="confirm" (click)="onConfirm(orderFull.order._id)">
                confirm
              </button>

              <button type="button" class="delete" (click)="openDeleteModal(sureDelete, orderFull.order._id, i)">
                delete
              </button>
            </div>
          </div>

          <div class="container-fluid">
            <div class="row">
              <div class="col-sm-6">
                <div class="tour-info">
                  <div class="tour-info_title">Tour Info</div>
                  <div class="tour-title">
                    <div>( № {{orderFull.tour._id}})</div>
                    <div>{{orderFull.tour.en.title}}</div>
                  </div>
                </div>

                <div class="user-info">
                  <div class="user-info_title">User Info</div>
                  <div class="info-item">
                    <div class="name"><span>Name:</span> {{orderFull.user.name}}</div>
                  </div>

                  <div class="info-item">
                    <div class="email"><span>Email:</span> {{orderFull.user.email}}</div>
                  </div>

                  <div class="info-item">
                    <div class="amount"><span>People Amount:</span> {{orderFull.order.peopleNumber}}</div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="order-info">
                  <div class="info-item">
                    <div class="order-date"><div>Order Date:</div>
                      {{orderFull.order.date.day | number: '2.0'}}/{{orderFull.order.date.month | number: '2.0'}}/{{orderFull.order.date.year}}
                    </div>
                  </div>

                  <div class="info-item">
                    <div class="cost">
                      $ {{orderFull.order.cost}}
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
