<div class="page">
    <div class="main-title text-center">
      Order management
    </div>

  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Delete order</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Are you sure?</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Cancel</button>
      <button type="button" class="btn btn-danger" (click)="deleteOrder(modal)">Delete</button>
    </div>
  </ng-template>

  <div class="search-filter-container container">
    <div class="row">
      <div class="filter-container col-md-6">
        <div class="confirm-filter-container d-flex">
            <div class="checkbox-label">Unconfirmed</div>
            <div class="input-checkbox-wrapper">
              <input type="checkbox" class="confirm-filter" [ngModel]="filter" (ngModelChange)="onFilterChange($event)">
            </div>
        </div>
      </div>

      <div class="search-container col-md-6">
        <form (ngSubmit)="findOrderById(idInput.value)">
          <div class="input-group">
            <input #idInput type="text" class="form-control" placeholder="FIND ORDER (BY ID)" aria-label="Search" aria-describedby="button-search">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary search-button" type="submit" id="button-search">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="line-decoration">
    <div class="line-decoration-inner"></div>
  </div>

  <div *ngIf="!ordersExist" class="no-orders">
    No such orders...
  </div>

  <app-loader *ngIf="orders.length != tours.length && orders.length != users.length && !ordersAll.length && ordersExist"></app-loader>

  <div *ngIf="orders.length && ordersExist && (orders.length == tours.length && orders.length == users.length || ordersAll.length)" class="orders-container container">
    <div class="row" >

      <div *ngFor="let order of orders; let i = index;" class="col-lg-6 orders-col">
        <div class="order-container">
          <div class="order-image">
            <img *ngIf="tours.length" [src]="tours[i].images[0]">
          </div>

          <div class="number-buttons">
            <div class="number">
              <span>№</span>{{order._id}}
            </div>
            <div class="buttons">
              <button *ngIf="!order.confirmed" type="button" class="confirm" (click)="onConfirm(order._id)">
                confirm
              </button>

              <button type="button" class="delete" (click)="openDeleteModal(content, order._id, i)">
                delete
              </button>
            </div>
          </div>

          <div *ngIf="tours.length" class="order-title">
            <div>( № {{tours[i]._id}})</div>
            <div>{{tours[i].title}}</div>
          </div>

          <div class="container-fluid">
            <div class="row">
              <div class="col-sm-6">
                <div class="user-info">
                  <div class="user-info_title">User Info</div>
                  <div class="info-item">
                    <div class="name"><span>Name:</span> {{users[i].name}}</div>
                  </div>

                  <div class="info-item">
                    <div class="email"><span>Email:</span> {{users[i].email}}</div>
                  </div>

                  <div class="info-item">
                    <div class="amount"><span>People Amount:</span> {{order.peopleNumber}}</div>
                  </div>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="order-info">
                  <div class="info-item">
                    <div class="order-date"><div>Order Date:</div>
                      {{order.date.day | number: '2.0'}}/{{order.date.month | number: '2.0'}}/{{order.date.year}}
                    </div>
                  </div>

                  <div class="info-item">
                    <div class="cost">
                      $ {{order.cost}}
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
