<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="tour-item" data-img="https://images.unsplash.com/photo-1469854523086-cc02fe5d8800?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1008&q=80">
        <div class="info">
          <div class="location-date-price d-flex
                   justify-content-between">
            <div class="location-date d-flex flex-column justify-content-start">
              <div class="location">US, Moab</div>
              <div class="date">May 12, 2020</div>
            </div>
            <div class="price">$470</div>
          </div>
          <div class="additional d-flex justify-content-between">
            <div class="additional-rest-type">child</div>
            <div class="additional-statistic d-flex">
              <div class="additional-likes"><i class="fa fa-heart"></i> 123</div>
              <div class="additional-review"><i class="fa fa-comment-o"></i> 10</div>
            </div>
          </div>
          <button class="read-more">READ MORE</button>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="tour-item" data-img="https://images.unsplash.com/photo-1469854523086-cc02fe5d8800?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1008&q=80">
        <div class="info">
          <div class="location-date-price d-flex
                   justify-content-between">
            <div class="location-date d-flex flex-column justify-content-start">
              <div class="location">US, Moab</div>
              <div class="date">May 12, 2020</div>
            </div>
            <div class="price">$710</div>
          </div>
          <div class="additional d-flex justify-content-between">
            <div class="additional-rest-type">cruise</div>
            <div class="additional-statistic d-flex">
              <div class="additional-likes"><i class="fa fa-heart"></i> 123</div>
              <div class="additional-review"><i class="fa fa-comment-o"></i> 10</div>
            </div>
          </div>
          <button class="read-more">READ MORE</button>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="tour-item" data-img="https://images.unsplash.com/photo-1510132310763-2df322eed83f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1189&q=80">
        <div class="info">
          <div class="location-date-price d-flex
                   justify-content-between">
            <div class="location-date d-flex flex-column justify-content-start">
              <div class="location">US, Moab</div>
              <div class="date">May 12, 2020</div>
            </div>
            <div class="price">$225</div>
          </div>
          <div class="additional d-flex justify-content-between">
            <div class="additional-rest-type">child</div>
            <div class="additional-statistic d-flex">
              <div class="additional-likes"><i class="fa fa-heart"></i> 123</div>
              <div class="additional-review"><i class="fa fa-comment-o"></i> 10</div>
            </div>
          </div>
          <button class="read-more">READ MORE</button>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="tour-item" data-img="https://images.unsplash.com/photo-1469854523086-cc02fe5d8800?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1008&q=80">
        <div class="info">
          <div class="location-date-price d-flex
                   justify-content-between">
            <div class="location-date d-flex flex-column justify-content-start">
              <div class="location">US, Moab</div>
              <div class="date">May 12, 2020</div>
            </div>
            <div class="price">$330</div>
          </div>
          <div class="additional d-flex justify-content-between">
            <div class="additional-rest-type">child</div>
            <div class="additional-statistic d-flex">
              <div class="additional-likes"><i class="fa fa-heart"></i> 123</div>
              <div class="additional-review"><i class="fa fa-comment-o"></i> 10</div>
            </div>
          </div>
          <button class="read-more">READ MORE</button>
        </div>
      </div>
    </div>
  </div>
</div>
