
.tour-item{
  position: relative;
  height: 350px;
  min-height: 350px;
  box-shadow: 0 5px 5px rgba(0,0,0,.1);
  overflow: hidden;
  margin-bottom: 20px;
  background: url("https://images.unsplash.com/photo-1469854523086-cc02fe5d8800?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1008&q=80") no-repeat bottom center / cover;
}

.info{
  position: absolute;
  height: 120px;
  width: 100%;
  bottom: 0;
  text-align: center;
  background-color: rgba(28, 187, 180, 0.76);

  color: #fff;
  transition: .5s;
}

.tour-item:hover .info{
  height: 100%;
}

.location-date-price{
  border-bottom: 1px solid #fff;
}

.location-date{
  margin-left: 10px;
  float: left;
  padding: 5px;
}

.location{
  text-align: start;
  font-size: 1.5rem;
  font-weight: bold;
}

.date{
  text-align: start;
}

.price{
  margin-right: 10px;
  margin-top: 5px;
  font-size: 2rem;
  font-weight: bold;
}

.additional{
  height: 49px;
  align-items: center;

  .additional-rest-type{
    background: #df084a;
    margin-left: 10px;
    padding: 8px;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
  }

  .additional-statistic{
    margin-right: 10px;

    .additional-review{
      margin-left: 10px;
    }
  }
  border-bottom: 1px solid #fff;
}

.read-more{
  border: 2px solid #fff;
  background: transparent;
  color: #fff;
  padding: 10px;
  margin: 50px;
  overflow: hidden;
  transition: .3s;
}

.read-more:hover{
  margin-top: 40px;
  padding: 15px;
  background: rgba(255, 255, 255, 0.22);
}
