$color_lightSea: #1cbbb4;

.page {
  padding-top: 12vh;
  background: linear-gradient(0deg, #020024 6%, rgba(9, 9, 121, 0.8556373233) 28%, #1cbbb4 100%);
}

.bgr-image {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90vh;
  background: url("https://images.pexels.com/photos/1089194/pexels-photo-1089194.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") no-repeat center center/cover;
}

.bgr-image-side {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 40%;
  height: 90vh;
  background: rgba(28, 187, 180, 0.76);
  color: #395261;

  &::before {
    content: "";
    position: absolute;
    display: block;
    border-right: 145px solid transparent;
    border-bottom: 90vh solid rgba(28, 187, 180, 0.76);
    height: 100%;
    left: 100%;
    width: 10%;
  }
}

.block0 {
  z-index: 10;
  position: absolute;
  top: 0;
  right: 0;
  width: 40%;
  height: 90vh;
  text-align: end;
  padding: 4vh 3vh 5vh 11vh;
  font-size: 1.1rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .block0_title {
    font-size: 2.6rem;
    text-transform: uppercase;
    margin-top: 6vh;
    margin-bottom: 5vw;
  }

  .block0_subtitle {
    font-style: oblique;
  }
}

.block1 {
  z-index: 10;
  margin-top: 5vh;
  color: #fff;
}

.block1_form {
  width: 45%;
  padding-left: 5vw;

  .form-item {
    margin-bottom: 5vh;
    padding: 0;
  }

  .form-item_title {
    font-size: 1.3rem;
    margin-bottom: 5px;
  }

  .form_transport select,
  .sort-container select {
    cursor: pointer;
  }

  .form-group {
    margin-bottom: 4px;
  }

  .custom-select,
  .form-control {
    border-radius: unset;
  }

  .input-group {
    width: 80%;

    input {
      border-radius: unset;
      max-width: 260px;
    }
  }

  .calendar {
    background: #fff !important;
    border-radius: unset;
    margin-top: 1px;
    width: 44px;
    color: #495057;
    border: none !important;
    height: 36px !important;
  }

  .btn-search span {
    color: #fff;
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: 0.7px;
  }

  .btn-search,
  .btn-reset {
    position: relative;
    outline: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    opacity: 1;
    background-color: rgba(223, 8, 74, 0.6);
    color: #fff;
    transition: 0.2s;
    max-width: 140px;
    border: 2px solid #ffffffba;
    height: 42px;
    width: 160px;

    i {
      color: #fff;
    }

/*    &:hover {
      animation: rotate 0.7s ease-in-out both;
      background-color: rgba(223, 8, 74, 0.89);

      span {
        animation: storm 0.7s ease-in-out both;
        animation-delay: 0.06s;
      }
    }*/
  }

  .form_buttons {
    width: 97%;
    display: flex;

    .btn-search {
      color: #fff;
      background-color: #e75b857d;
      margin-right: 10px;

      &:hover {
        background: rgba(223, 8, 74, 0.85);
      }
    }

    .btn-reset {
      font-size: 1.1rem;
      background: #001c258c;
      margin-left: 5px;
      transform: rotate(-12deg);

      &:hover {
        background: rgba(0, 28, 37, 0.76);
      }
    }
  }
}

@media (max-width: 768px) {
  .sort-container {
    margin-bottom: 5vh;
    padding-left: 0;
  }

  .form_transport {
    margin-bottom: 5px !important;
  }

  .block1_form {
    width: 55%;

    button,
    span {
      font-size: 1rem !important;
    }
  }

  .bgr-image {
    height: 100vh;
  }

  .bgr-image-side {
    height: 100vh;
    width: 100%;

    &::before {
      display: none;
    }
  }

  .block0 {
    padding: 0;
    padding-right: 5vw;
    color: #fff;
  }

  .block0_title {
    font-size: 2rem !important;
    margin-top: 12vh !important;
  }

  .block2 {
    margin-top: 9vh !important;
  }

  .sort {
    width: 85%;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0)
  }

  25% {
    transform: rotate(3deg) translate3d(0, 0, 0)
  }

  50% {
    transform: rotate(-3deg) translate3d(0, 0, 0)
  }

  75% {
    transform: rotate(1deg) translate3d(0, 0, 0)
  }

  100% {
    transform: rotate(0deg) translate3d(0, 0, 0)
  }
}

@keyframes storm {
  0% {
    transform: translate3d(0, 0, 0) translateZ(0)
  }

  25% {
    transform: translate3d(4px, 0, 0) translateZ(0)
  }

  50% {
    transform: translate3d(-3px, 0, 0) translateZ(0)
  }

  75% {
    transform: translate3d(2px, 0, 0) translateZ(0)
  }

  100% {
    transform: translate3d(0, 0, 0) translateZ(0)
  }
}

.block2 {
  margin-top: 14vh;
}

.reset-container {
  background: #fdde7dd4;
  color: #fff;
  padding-top: 10px;
  width: 100%;
  padding-bottom: 15px;
  font-size: 1.2rem;
  margin-bottom: 20px;
  text-transform: uppercase;
  transition: 0.3s;

  &:hover {
    background: rgba(253, 222, 125, 0.94);
  }
}

.sort-filter-container {
  .sort-container {
    padding: 3px 8px;
    background: rgba(255, 255, 255, 0.29);
    border-bottom: 2px solid #ffffff78;
    margin-bottom: 15px;

    label {
      width: 100%;
      margin-top: 10px;
      margin-bottom: 15px;
      color: #fff;
      font-size: 1.2rem;
    }
  }

  .rest-filter-container {
    z-index: 10;
    padding: 3px 0;
    /* background: rgba(0, 0, 0, 0.08); */
    border-bottom: 2px solid $color_lightSea;
    margin-bottom: 15px;

    label {
      color: #fff;
      padding-top: 10px;
      width: 100%;
      padding-bottom: 15px;
      /*background: $color_lightSea;*/
      background: rgba(230, 0, 77, 0.58);
      font-size: 1.2rem;
    }

    .rf {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 200px;
      overflow: hidden;
    }

    ul {
      position: relative;
      padding: 0;

      li {
        text-align: center;
        list-style: none;
        margin-bottom: 5px;
        background: rgba(28, 187, 180, 0.32);
        color: #fff;
      }

      .li_inner {
        text-decoration: none;
        font-size: 1rem;
        padding: 5px 10px;
        display: inline-flex;
        color: #fff;
        transition: 0.5s;
        text-transform: uppercase;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
      }

      li:hover .li_inner {
        background-color: $color_lightSea;
        font-size: 1.3rem;
        padding-top: 10px;
        padding-bottom: 10px;
      }
    }
  }
}

.rf-info-container {
  width: 100%;
  height: 300px;
  background: rgba(0, 0, 0, 0.06);
  margin-bottom: 15px;
}

.rest-type {
  list-style-type: none;

  li {
    width: 100%;
  }
}

.slide,
.carousel-inner,
.carousel-item-content,
.carousel-caption {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 0;
}

.monkey-img {
  position: absolute;
  left: 0;
  bottom: 20px;
  max-width: 220px;
}

.carousel-item {
  .title {
    padding: 8px;
    color: #fff799;
    font-weight: bold;
    font-size: 1.1rem;
  }

  width: 100%;
  height: 100%;
  background-color: $color_lightSea;
  color: #fff;
  padding: 3px 15px;
}

.carousel-caption {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0.9rem;
}

.slide1-content,
.slide2-content,
.slide3-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-top: 30px;
  align-items: center;
  padding: 5px 10px;
  height: 100%;
  width: 100%;
}

.slide1-content {
  .content img {
    width: 50px;
    height: 50px;
    margin-top: 10px;
  }
}

.slide2-content {
  title {
    padding: 3px;
    font-size: 1rem;
  }

  .see-reviews {
    color: #df084a;
    font-weight: bold;
    transition: 0.3s;
  }
}

.slide3-content {
  title {
    width: 100%;
  }
}

.carousel-control-next,
.carousel-control-prev {
  height: 10%;
  align-items: flex-end;
  margin-bottom: 15px;
  width: 80%;
  z-index: 100 !important;
  margin-top: 255px;
}

@media (max-width: 735px) {
  .monkey-img {
    max-width: 200px;
    bottom: 20px;
  }
}

.block3 {
  section {
    padding: 10px 0 0;
  }
}

.no-suitable {
  color: #fff;
  font-size: 1.5rem;
  margin: 20px 0;
}

input,
select {
  border-color: transparent !important;
}
