$color_lightSea: #1cbbb4;

.page {
  background: linear-gradient(0deg, #020024 6%, rgba(9, 9, 121, 0.8556373233) 28%, #1cbbb4 100%);
}

.block1 {
  height: 85vh;
  width: 100%;
  position: relative;

  .block1_bgr-image-right {
    background: url("https://images.pexels.com/photos/1089194/pexels-photo-1089194.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") no-repeat center center/cover;
    position: absolute;
    width: 100%;
    right: 0;
    height: 100%;
  }

  .block1_bgr-left {
    position: absolute;
    left: 0;
    height: 100%;
    width: 45%;
    background: rgba(28, 187, 180, 0.76);

    &::before {
      content: "";
      position: absolute;
      display: block;
      border-right: 145px solid transparent;
      border-bottom: 85vh solid rgba(28, 187, 180, 0.76);
      height: 100%;
      left: 100%;
      width: 10%;
    }
  }

  .block1_right-title,
  .block1_right-subtitle {
    position: absolute;
    right: 5vw;
    color: #fff;
    top: 13vh;
    font-size: 2.4rem;
  }

  .block1_right-subtitle {
    bottom: 37px;
    top: unset;
    font-size: 1.1rem;
    width: 17%;
    text-align: end;
  }

  @media (max-width: 768px) {
    .block1_right-title {
      font-size: 2rem;
    }

    .block1_right-subtitle {
      width: 30%;
    }
  }

  @media (max-width: 576px) {
    .block1_right-title,
    .block1_right-subtitle {
      display: none;
    }
  }

  .block1_left {
    top: 12vh;
    width: 45%;
    padding: 10px 15px 0 5vw;
    position: relative;
    max-width: 450px;

    .form-item_title {
      color: #fff;
      font-size: 1.2rem;
    }

    .form-item {
      margin-bottom: 10px;
    }

    .form-group {
      margin-bottom: 0.25rem;
    }

    .transport-sort-container {
      padding: 0;
    }

    input {
      border: 2px solid #ffffffba !important;
      background: #6d275478;
      color: #fff;

      &:hover,
      &:focus {
        background: rgba(109, 39, 84, 0.64);
      }
    }

    .calendar-input {
      border-right: none !important;
    }

    input[type="text"]::placeholder,
    input.form-control.ng-untouched.ng-pristine.ng-valid::placeholder {
      color: rgba(255, 255, 255, 0.59) !important;
    }

    .calendar {
      border-color: #fff !important;
      background: #fff !important;
    }

    .btn-search,
    .btn-reset {
      transition: 0.2s;
      border: 2px solid #ffffffba;
      height: 42px;
      width: 160px;
      color: #fff;
      border-radius: 5px;
      text-transform: uppercase;
      font-size: 1.1rem;
    }

    .form_buttons {
      display: flex;
      flex-direction: column;
      margin-top: 7vh;
    }

    .btn-search {
      background-color: rgba(223, 8, 74, 0.6);

      &:hover {
        background: rgba(223, 8, 74, 0.85);
      }
    }

    .btn-reset {
      background: #001c258c;
      margin-top: 5px;

      &:hover {
        background: rgba(0, 28, 37, 0.76);
      }
    }
  }
}

@media (max-width: 768px) {
  .block1 {
    height: 95vh;
  }

  .block1_bgr-left {
    width: 100% !important;

    &:before {
      display: none !important;
    }
  }
}

@media (max-width: 576px) {
  .block1_left {
    width: 100% !important;
  }

  .block1 {
    height: 100vh;
  }

  .form_buttons {
    margin-top: 1vh;
  }
}

@media (max-width: 350px) {
  .block1 {
    height: 110vh;
  }
}

.block2 {
  margin-top: 2vh;
}

.reset-container {
  background: #fdde7dd4;
  color: #fff;
  padding-top: 10px;
  width: 100%;
  padding-bottom: 15px;
  font-size: 1.2rem;
  margin-bottom: 20px;
  text-transform: uppercase;
  transition: 0.3s;

  &:hover {
    background: rgba(253, 222, 125, 0.94);
  }
}

.sort-filter-container {
  .sort-container {
    padding: 3px 8px;
    background: rgba(255, 255, 255, 0.29);
    border-bottom: 2px solid #ffffff78;
    margin-bottom: 15px;

    label {
      width: 100%;
      margin-top: 10px;
      margin-bottom: 15px;
      color: #fff;
      font-size: 1.2rem;
    }
  }

  .rest-filter-container {
    z-index: 10;
    padding: 3px 0;
    /* background: rgba(0, 0, 0, 0.08); */
    border-bottom: 2px solid $color_lightSea;
    margin-bottom: 15px;

    label {
      color: #fff;
      padding-top: 10px;
      width: 100%;
      padding-bottom: 15px;
      /*background: $color_lightSea;*/
      background: rgba(230, 0, 77, 0.58);
      font-size: 1.2rem;
    }

    .rf {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 200px;
      overflow: hidden;
    }

    ul {
      position: relative;
      padding: 0;

      li {
        text-align: center;
        list-style: none;
        margin-bottom: 5px;
        background: rgba(28, 187, 180, 0.32);
        color: #fff;
      }

      .li_inner {
        text-decoration: none;
        font-size: 1rem;
        padding: 5px 10px;
        color: #fff;
        transition: 0.5s;
        text-transform: uppercase;
        width: 100%;
        height: 38px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      li:hover .li_inner {
        background-color: $color_lightSea;
        font-size: 1.3rem;
        height: 38px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        cursor: pointer;
      }
    }
  }
}

.rf-info-container {
  width: 100%;
  height: 300px;
  background: rgba(0, 0, 0, 0.06);
  margin-bottom: 15px;
}

.rest-type {
  list-style-type: none;

  li {
    width: 100%;
  }
}

.slide,
.carousel-inner,
.carousel-item-content,
.carousel-caption {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 0;
}

.monkey-img {
  position: absolute;
  left: 0;
  bottom: 20px;
  max-width: 220px;
}

.carousel-item {
  .title {
    padding: 8px;
    color: #fff799;
    font-weight: bold;
    font-size: 1.1rem;
  }

  width: 100%;
  height: 100%;
  background-color: $color_lightSea;
  color: #fff;
  padding: 3px 15px;
}

.carousel-caption {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0.9rem;
}

.slide1-content,
.slide2-content,
.slide3-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-top: 30px;
  align-items: center;
  padding: 5px 10px;
  height: 100%;
  width: 100%;
}

.slide1-content {
  .content img {
    width: 50px;
    height: 50px;
    margin-top: 10px;
  }
}

.slide2-content {
  title {
    padding: 3px;
    font-size: 1rem;
  }

  .contact-us {
    color: #df084a;
    font-weight: bold;
    transition: 0.2s;
    outline: none;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

.slide3-content {
  title {
    width: 100%;
  }
}

.carousel-control-next,
.carousel-control-prev {
  height: 10%;
  align-items: flex-end;
  margin-bottom: 15px;
  width: 80%;
  z-index: 100 !important;
  margin-top: 255px;
}

@media (max-width: 735px) {
  .monkey-img {
    max-width: 200px;
    bottom: 20px;
  }
}

.block3 {
  section {
    padding: 10px 0 0;
  }
}

.no-suitable {
  color: #fff;
  font-size: 1.5rem;
  margin: 20px 0;
}

input,
select {
  border-color: transparent !important;
}
