
<div class="page-content">
  <div class="container text-center d-flex justify-content-center align-items-center">
    <div class="d-flex flex-column container-content">
      <div class="p-2">
        <h1>500</h1>
      </div>
      <div class="p-2 content-text">
        <b>
          {{'Oooops...Something went wrong!' | uppercase}}
        </b>
        <br/>
        We're unable to find out what's happening! We suggest you to
        <a routerLink="/home">Go Back</a>
        or visit here later.
        <br/>
      </div>
    </div>
  </div>
</div>
