/**,
*::after,
*::before {
  box-sizing: border-box;
}

.page-content {
  align-items: center;
  background: linear-gradient(#0037f2, #001d71);
  opacity: 0.9;
  color: white;
  display: flex;
  font: 2rem "Poiret One";
  height: 100vh;
  justify-content: center;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 5em;
  text-shadow: 0 0 10px #fff;
  animation: blink 4.8s infinite both;
}*/

.page-content {
  background: linear-gradient(#24243e, #302b63);
  opacity: 0.9;
  color: white;
  font: 2rem "Poiret One";
  height: 100vh;
}

.container{
  height: 100vh;
}

h1 {
  font-size: 6em;
  text-shadow: 0 0 10px #fff;
  animation: blink 4.8s infinite both;
  margin-bottom: 40px;
}

@keyframes blink {
  0%,
  50%,
  100% {
    opacity: 0.2;
  }
  25%,
  75% {
    opacity: 1;
  }
}

.container-content{
  width: 80%;
  font-family: monospace;

  .content-text{
    font-size: 0.85em;
  }
}

a {
  color: #dd8fd7;
  font-weight: bold;
  font-size: 1.2em;
}

