<div class="form-booking">
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" (click)="onBook(formsModal)">
    book
  </button>

  <!-- Modal -->
<!--  <h4>{{'tour.booking.title' | translate}}</h4>
  <form id="booking-form" [formGroup]="bookForm">
    <div class="booking-form-item">
      <div class="input-group mb-3">
        <input formControlName="name" type="text" class="form-control" [placeholder]="'tour.booking.placeholder_name' | translate" aria-label="Name" aria-describedby="name-item">
        <div class="input-group-append">
          <span class="input-group-text" id="name-item"><i class="fas fa-user"></i></span>
        </div>
      </div>
    </div>
    <div class="booking-form-item">
      <div class="input-group mb-3">
        <input formControlName="email" type="text" class="form-control"  [placeholder]="'tour.booking.placeholder_email' | translate" aria-label="Email" aria-describedby="email-item">
        <div class="input-group-append">
          <span class="input-group-text" id="email-item"><i class="fas fa-envelope"></i></span>
        </div>
      </div>
    </div>
    <div class="booking-form-item">
      <div class="input-group mb-3">
        <input formControlName="amount" type="text" class="form-control" placeholder="1" aria-label="PeopleNumber" aria-describedby="number-item">
        <div class="input-group-append">
          <span class="input-group-text" id="number-item"><i class="fas fa-users"></i></span>
        </div>
      </div>
    </div>
    <div class="booking-form-item">
      <select formControlName="dates" class="custom-select" id="inputGroupSelect01">
        <option selected>
          {{tour.dates[0].dateFrom.day  | number: '2.0'}}/{{tour.dates[0].dateFrom.month | number: '2.0'}}/{{tour.dates[0].dateFrom.year}},
          {{tour.dates[0].dateTo.day | number: '2.0'}}/{{tour.dates[0].dateTo.month | number: '2.0'}}/{{tour.dates[0].dateTo.year}}
        </option>
        <option *ngFor="let date of tour.dates | slice:1; let indx = index;">
          {{date.dateFrom.day | number: '2.0'}}/{{date.dateFrom.month | number: '2.0'}}/{{date.dateFrom.year}},
          {{date.dateFrom.day | number: '2.0'}}/{{date.dateFrom.month | number: '2.0'}}/{{date.dateFrom.year}}
        </option>
      </select>
    </div>
    <div class="booking-form-item">
      <button (click)="onBook()" type="submit" class="btn">{{'tour.booking.button_book' | translate}}</button>
    </div>
  </form>-->
</div>

<!-- Button trigger modal -->

<!-- Modal -->
<ng-template #formsModal let-modal>
    <div class="modal-content">
      <div class="modal-body">
        <div class="main-label">Trip<span>Helper</span></div>

        <div class="title-register-login">
          <h2 (click)="changeActiveForm('register')" [ngClass]="{'active-form-title': activeForm == 'register'}"  class="text-center">{{'register.form.title' | translate}}</h2>
          <h2  (click)="changeActiveForm('login')" [ngClass]="{'active-form-title': activeForm == 'login'}"  class="text-center">{{'login.form.title' | translate}}</h2>
        </div>

<!-- login container -->

        <div class="login-container">
          <div class="row justify-content-center">
            <form *ngIf="activeForm == 'register'" class="col-12" [formGroup]="loginForm" (ngSubmit)="onSubmitLogin(modal)">
              <div class="form-group">
                <input type="text" id="emailField" formControlName="email"
                       [ngClass]="{invalid: loginForm.get('email').invalid && loginForm.get('email').touched}"
                       name="email" class="form-control"
                       [placeholder]="'login.form.placeholder_email' | translate" value="" />
                <div *ngIf="loginForm.get('email').invalid && loginForm.get('email').touched" class="invalid-tltp">
                  <p *ngIf="loginForm.get('email').errors['required']">{{'form_errors.empty' | translate}}</p>
                  <p *ngIf="loginForm.get('email').errors['email']">{{'form_errors.invalid_email' | translate}}</p>
                </div>
              </div>
              <div class="form-group">
                <input type="password" id="passwordField" formControlName="password"
                       [ngClass]="{invalid: loginForm.get('password').invalid && loginForm.get('password').touched}"
                       name="password" class="form-control"
                       [placeholder]="'login.form.placeholder_password' | translate" value="" />
                <div *ngIf="loginForm.get('password').invalid && loginForm.get('password').touched" class="invalid-tltp">
                  <p *ngIf="loginForm.get('password').errors['required']">{{'form_errors.empty' | translate}}</p>
                  <p *ngIf="loginForm.get('password').errors['minlength']">
                    {{'form_errors.length1_password' | translate}} {{loginForm.get('password').errors['minlength']['requiredLength']}} {{'form_errors.length2' | translate}}
                  </p>
                </div>
              </div>
              <div class="form-group">
                <button type='submit'
                        [disabled]="loginForm.invalid || loginForm.disabled"
                >{{'login.form.button_signin' | translate}}</button>
              </div>
              <div *ngIf="errorMessage" class="error-message">{{errorMessage}}</div>
            </form>


            <form *ngIf="activeForm == 'login'" class="col-12" [formGroup]="registerForm" (ngSubmit)="onSubmitRegister(modal)">
              <div class="form-group">
                <input type="text" id="emailField" formControlName="email"
                       [ngClass]="{invalid: registerForm.get('email').invalid && registerForm.get('email').touched}"
                       name="email" class="form-control"
                       [placeholder]="'register.form.placeholder_email' | translate" value="" />
                <div *ngIf="registerForm.get('email').invalid && registerForm.get('email').touched" class="invalid-tltp">
                  <p *ngIf="registerForm.get('email').errors['required']">{{'form_errors.empty' | translate}}</p>
                  <p *ngIf="registerForm.get('email').errors['email']">{{'form_errors.invalid_email' | translate}}</p>
                </div>
              </div>

              <div class="form-group">
                <input type="password" id="passwordField" formControlName="password"
                       [ngClass]="{invalid: registerForm.get('password').invalid && registerForm.get('password').touched}"
                       name="password" class="form-control"
                       [placeholder]="'register.form.placeholder_password' | translate" value="" />
                <div *ngIf="registerForm.get('password').invalid && registerForm.get('password').touched" class="invalid-tltp">
                  <p *ngIf="registerForm.get('password').errors['required']">{{'form_errors.empty' | translate}}</p>
                  <p *ngIf="registerForm.get('password').errors['minlength']">
                    {{'form_errors.length1_password' | translate}} {{registerForm.get('password').errors['minlength']['requiredLength']}} {{'form_errors.length2' | translate}}
                  </p>
                </div>
              </div>

              <div class="form-group">
                <input type="text" id="nicknameField" formControlName="nickname"
                       [ngClass]="{invalid: registerForm.get('nickname').invalid && registerForm.get('nickname').touched}"
                       name="nickname" class="form-control"
                       [placeholder]="'register.form.placeholder_nick' | translate" value="" />
                <div *ngIf="registerForm.get('nickname').invalid && registerForm.get('nickname').touched" class="invalid-tltp">
                  <p *ngIf="registerForm.get('nickname').errors['required']">{{'form_errors.empty' | translate}}</p>
                  <p *ngIf="registerForm.get('nickname').errors['minlength']">
                    {{'form_errors.length1_name' | translate}} {{registerForm.get('nickname').errors['minlength']['requiredLength']}} {{'form_errors.length2' | translate}}
                  </p>
                </div>
              </div>

              <div class="form-group">
                <input type="text" id="telField" formControlName="tel"
                       [ngClass]="{invalid: registerForm.get('tel').invalid && registerForm.get('tel').touched}"
                       name="tel" class="form-control"
                       [placeholder]="'register.form.placeholder_tel' | translate" value="" />
                <div *ngIf="registerForm.get('tel').invalid && registerForm.get('tel').touched" class="invalid-tltp">
                  <p *ngIf="registerForm.get('tel').errors['required']">{{'form_errors.empty' | translate}}</p>
                </div>
              </div>

              <div class="form-group">
                <button type='submit'
                        [disabled]="registerForm.invalid || registerForm.disabled"
                >{{'register.form.button_register' | translate}}</button>
              </div>
            </form>
          </div>
        </div>

      </div>
    </div>

</ng-template>



