$color_CuriousBlue: rgba(59, 137, 181);
$color_LightSeaGreen: #1ebba3;
$color_SkyBlue: #76cff1;

.main-label {
  text-align: center;
  font-size: 1.4rem;
  padding: 10px 0 11px;
  border-bottom: 2px solid rgba(178, 25, 111, 0.86);

  span {
    color: $color_SkyBlue;
    font-weight: bold;
  }
}

.active-form-title {
  background: rgba(178, 25, 111, 0.86);
  color: #fff !important;
}

.form-booking {
  background: #41aba3;
  margin-top: -20px;
  border-radius: 3px;

  @media (max-width: 992px) {
    margin-top: 60px;
  }

  .btn-book {
    width: 100%;
    text-transform: uppercase;
    background: rgba(178, 25, 111, 0.86);
    height: 50px;
    font-size: 1.5rem;
    border-radius: unset;
    border: 2px solid #ffffffba;

    &:hover {
      background: rgba(204, 26, 128, 0.93);
    }
  }
}

.modal {
  padding-right: 0 !important;
}

.modal-content {
  border-radius: unset !important;
}

.modal-body {
  border-radius: unset;

  .title-register-login {
    display: flex;
    justify-content: center;

    h2 {
      padding: 10px 20px;
      color: #3b434c;
      font-size: 1.2rem;
      cursor: pointer;
    }
  }

  .login-container {
    background: #fff;
    height: 380px;
    display: flex;
    align-items: center;
    justify-content: center;

    button {
      color: #fff;
      transition: 0.5s;
      border: none;
      border-radius: 5px;
      padding: 7px 15px;
      margin-top: 10px;

      &:not(:disabled) {
        background: $color_CuriousBlue;
      }

      &:not(:disabled):hover {
        background-color: #1c9e32;
        border: none;
      }

      &:disabled {
        background-color: rgba(131, 121, 121, 0.5);
      }
    }

    .info-content {
      color: #fff;
    }

    .invalid-tltp {
      font-size: 0.95rem;
      color: #d7370f;
    }

    .error-message {
      color: #d7370f;
    }

    .more {
      color: #fff;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
}

