<div class="page">
  <app-shadow-loader *ngIf="load"></app-shadow-loader>

<div class="video-container">
  <video preload="auto" autoplay type="video/mp4" src="../../../../../assets/video/sea.mp4" loop></video>
</div>
  <div class="overlay"></div>

  <div class="head-container container-fluid">
    <div class="row">
      <div class="head-container-left col-md-8">
        <div class="header-name">{{'home.main_title.header' | translate}}</div>
        <div class="header-p">
          {{'home.main_title.subheader' | translate}}
        </div>
      </div>

      <div class="input-container-right col-md-4">
        <div class="forms-wrapper">
          <div class="form-search">
            <div class="form-search-title">
              <div class="wrapper-title">{{'home.search_form.title' | translate}}</div>
             <div class="wrapper-subtitle">{{'home.search_form.subtitle' | translate}}</div>
            </div>

            <div class="custom-tooltip" *ngIf="!countryExist && prevInput == countryInput.value">{{'home.search_form.error_message' | translate}}</div>

            <form (ngSubmit)="renderToursPageByCountry(countryInput.value)">
              <div class="input-group">
                <input type="text" [ngbTypeahead]="search" class="form-control input-country" placeholder="{{'home.search_form.placeholder' | translate}}"
                       aria-label="country" aria-describedby="button-addon2" #countryInput
                >
                <div class="input-group-append btn-container">
                  <button class="btn btn-outline-secondary" type="submit" id="button-addon2">
                    <i class="fas fa-search i-search"></i>
                  </button>
                </div>
              </div>
            </form>

          </div>

          <div class="register-wrapper">
            <div class="register-wrapper-title wrapper-title">{{'home.sign_form.title' | translate}}</div>
            <div class="wrapper-subtitle">{{'home.sign_form.subtitle' | translate}}</div>
            <button class="btn-reg" (click)="renderRegisterPage()">
              <span>{{'home.sign_form.button' | translate}}</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="about-container">
    <div class="about-title">{{'home.about_us.title' | translate}}</div>
    <div class="decoration"></div>
    <div class="about-container-inner container">
      <div class="row">
        <div class="col-sm-4 clmn">
          <div class="about-card">
            <div class="about-image-container image-money">
              <img src="../../../../../assets/images/money_bw.png" alt="">
            </div>
            <div class="about-info-container">
              <div class="about-item-title">{{'home.about_us.item1_title' | translate}}</div>
              <div class="about-item-info">
                {{'home.about_us.item1_info' | translate}}
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-4 clmn">
          <div class="about-card">
            <div class="about-image-container image-earth">
              <img src="../../../../../assets/images/earth_bw.png" alt="">
            </div>
            <div class="about-info-container">
              <div class="about-item-title">{{'home.about_us.item2_title' | translate}}</div>
              <div class="about-item-info">
                {{'home.about_us.item2_info' | translate}}
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-4 clmn">
          <div class="about-card">
            <div class="about-image-container image-tel">
              <img src="../../../../../assets/images/tel_bw.png" alt="">
            </div>
            <div class="about-info-container">
              <div class="about-item-title">{{'home.about_us.item3_title' | translate}}</div>
              <div class="about-item-info">
                {{'home.about_us.item3_info' | translate}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

<!--  //////////// top 10 ////////////-->

  <div class="container-fluid block-views">
    <div *ngIf="isLoaded()">
      <div class="title-views">
        <h2 class="text-center">{{'home.top10' | translate}}</h2>
      </div>
      <div class="reviews-container">
        <div class="box" [ngClass]="topToursClasses[indx]" *ngFor="let tour of topTours; let indx = index" (click)="renderTourPage(tour._id)">
          <div class="imgBox">
            <img [src]="tour.images[0]">
          </div>
          <div class="details">
            <div class="content">
              <h2>{{tour.title}}</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid discount-block" *ngIf="isLoaded()">
    <div class="discount-block_image">
      <img [src]="discoutTour.images[0]" alt="">
    </div>
    <div class="row">
      <div class="col-sm-6 offset-sm-6">
        <div class="discount-info">
          <div class="discount-title">
            {{discoutTour.discount}}% {{'home.discount.off' | translate}}
          </div>
          <div class="tour-title">
           {{discoutTour.route.toCountry}}, {{discoutTour.route.toTown}}
          </div>
          <div class="description">
            {{discoutTour.moreInfo}}
          </div>

          <div class="read-more">
            <button class="btn-more" (click)="renderTourPage(discoutTour._id)">
              <span>{{'home.discount.button_more' | translate}}</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="types-block">
    <div class="shadow-block"></div>
    <div class="types-block-inner">
      <div class="types-block-title">
        <div class="subtitle">{{'home.types.subtitle' | translate}}</div>
        <div class="title">{{'home.types.title' | translate}}</div>
        <div class="line"></div>
        <div class="line-decoration">
          <div class="line-decoration-inner"></div>
        </div>
      </div>
      <div id="carouselExampleInterval" data-pause="false" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-interval="5000">
            <div class="slide-container">
              <div class="slide-container-inner container-fluid">
                <div class="row">
                  <div class="col-sm-3 col-6 col-container">
                    <div class="col-inner" id="sport" (click)="renderToursPageByRest(sport)">
                      <div class="type-icon">
                        <i class="fas fa-futbol"></i>
                      </div>
                      <div class="type-name" #sport>{{'home.types.sport' | translate}}</div>
                    </div>
                  </div>

                  <div class="col-sm-3 col-6 col-container">
                    <div class="col-inner" id="excursions" (click)="renderToursPageByRest(excursions)">
                      <div class="type-icon">
                        <i class="fas fa-address-card"></i>
                      </div>
                      <div class="type-name" #excursions>{{'home.types.excursions' | translate}}</div>
                    </div>
                  </div>

                  <div class="col-sm-3 col-6 col-container">
                    <div class="col-inner" id="children" (click)="renderToursPageByRest(children)">
                      <div class="type-icon">
                        <i class="fas fa-child"></i>
                      </div>
                      <div class="type-name" #children>{{'home.types.children' | translate}}</div>
                    </div>
                  </div>

                  <div class="col-sm-3 col-6 col-container">
                    <div class="col-inner" id="exotic" (click)="renderToursPageByRest(exotic)">
                      <div class="type-icon">
                        <i class="fas fa-campground"></i>
                      </div>
                      <div class="type-name" #exotic>{{'home.types.exotic' | translate}}</div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>


          <div class="carousel-item" data-interval="4000">
            <div class="slide-container">
              <div class="slide-container-inner container-fluid">
                <div class="row">
                  <div class="col-sm-3 col-6 col-container">
                    <div class="col-inner" id="festivals" (click)="renderToursPageByRest(festivals)">
                      <div class="type-icon">
                        <i class="fas fa-glass-cheers"></i>
                      </div>
                      <div class="type-name" #festivals>{{'home.types.festivals' | translate}}</div>
                    </div>
                  </div>

                  <div class="col-sm-3 col-6 col-container">
                    <div class="col-inner" id="education" (click)="renderToursPageByRest(education)">
                      <div class="type-icon">
                        <i class="fas fa-graduation-cap"></i>
                      </div>
                      <div class="type-name" #education>{{'home.types.education' | translate}}</div>
                    </div>
                  </div>

                  <div class="col-sm-3 col-6 col-container">
                    <div class="col-inner" id="shop" (click)="renderToursPageByRest(shopping)">
                      <div class="type-icon">
                        <i class="fas fa-store"></i>
                      </div>
                      <div class="type-name" #shopping>{{'home.types.shopping' | translate}}</div>
                    </div>
                  </div>

                  <div class="col-sm-3 col-6 col-container">
                  <div class="col-inner" id="beach" (click)="renderToursPageByRest(beach)">
                    <div class="type-icon">
                      <i class="fas fa-umbrella-beach"></i>
                    </div>
                    <div class="type-name" #beach>{{'home.types.beach' | translate}}</div>
                  </div>
                </div>

                </div>
              </div>
            </div>
          </div>

<!--          <div class="carousel-item" data-interval="4000">
            <img src="..." class="d-block w-100" alt="...">
          </div>
        </div>-->
        <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

    </div>
  </div>
 </div>
<!--
  <div class="m-5"  style="background-color: red">
    <div class="magic">scroll magic</div>
  </div>-->

  <div class="comments-block" *ngIf="isLoaded()">
    <div class="comments-title">
      {{'home.reviews.title' | translate}}
    </div>
    <div class="container-fluid container-comments">
      <div class="row">

        <div class="col-lg-4 comments-item" *ngFor="let reviewUser of reviews; let indx = index;">
          <div class="item-inner">
              <div class="imgBox" (click)="renderProfilePage(reviewUser.user._id)">
                <img [src]="reviewUser.user.avatar" *ngIf="reviewUser.user.avatar">
                <img src="../../../../../assets/images/user-default.png" *ngIf="!reviewUser.user.avatar">
              </div>
              <p>{{reviewUser.review.info}}</p>
              <h4>{{reviewUser.review.title}}<br>
              <span>{{reviewUser.user.name}}</span>
              </h4>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="newsletter-block">
    <div class="shadow-block">
      <div class="newsletter-container">
        <div class="news-title">{{'home.newsletter.title' | translate}}</div>
        <div class="news-subtitle">{{'home.newsletter.subtitle' | translate}}</div>
        <form (ngSubmit)="subscribeNews(emailInput.value, successModal)">
          <div class="input-group">
            <input #emailInput type="text" class="form-control" [placeholder]="'home.newsletter.placeholder' | translate" aria-label="Newsletter" aria-describedby="button-news">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="submit" id="button-news">{{'home.newsletter.button_subscribe' | translate}}</button>
            </div>
          </div>
        </form>
        <div class="error-subscribe" *ngIf="subscribeError">{{subscribeError}}</div>
      </div>
    </div>
  </div>
</div>

<ng-template #successModal let-modal>
  <div class="msg-modal-container">
    <div class="modal-content">
      <div class="modal-body">
        <div class="modal_message">
          You successfully subscribed for our NEWS! 😃 <br>
          Check your email
        </div>

        <div class="btn-ok-container">
          <button type="button" class="btn btn-success btn-ok" (click)="modal.close('Close click')">OK</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>


