<!--<div class="landing">
  <div class="home-wrap">
    <div class="home-inner"></div>
  </div>
</div>

<div class="caption text-center" id="main">
  <h1>Tours</h1>
  <h3>find tour</h3>
  <input type="text">
</div>

<div id="about">
  <div class="jumbotron">
    <div class="narrow"></div>

      <div class="col-12">
        <h3 class="heading">info</h3>
        <div class="heading-underline"></div>
      </div>

    <div class="row text-center">
      <div class="col-md-4 mt-4">
        <div class="about1">
          <img src="https://image.flaticon.com/icons/svg/2331/2331709.svg">
          <h3 class="mt-2">Competitive pricing</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, nesciunt?
          </p>
        </div>
      </div>

      <div class="col-md-4 mt-4">
        <div class="about2">
          <img src="https://image.flaticon.com/icons/svg/921/921490.svg">
          <h3 class="mt-2">Wordwide coverage</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, nesciunt?
          </p>
        </div>
      </div>

      <div class="col-md-4 mt-4">
        <div class="about3">
          <img src="https://image.flaticon.com/icons/svg/1599/1599811.svg">
          <h3 class="mt-2">24/7 support service</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, nesciunt?
          </p>
        </div>
      </div>
    </div>

  </div>

</div>

<div id="discount" class="w-100" style="height: 300px; background-color: rgba(50,108,46,0.44);">
  <h3>todays'top deals</h3>
</div>

<div id="top" class="w-100" style="height: 300px; background-color: rgba(25,64,108,0.44);">
  <h3>popular destinations</h3>
</div>

<div id="registration" class="w-100" style="height: 300px; background-color: rgba(118,88,84,0.44);">
  <h3>not a member yet?</h3>
  <h5>Join us! Trip.com members can access savings of up to 50%
    and earn Trip Coins while booking.</h5>
  <button class="btn btn-warning">sign in</button>
  <button class="btn btn-success">register</button>
</div>

<div id="reviews">
  <div class="jumbotron">
  <div class="col-12 text-center">
    <h3 class="heading">our happy clients</h3>
  </div>

    <div class="row text-center">
      <div class="col-md-6 mt-4">
        <div class="review">
          <img src="https://image.flaticon.com/icons/svg/1055/1055673.svg" style="width: 60px;">
          <h5 class="mt-2">Competitive pricing</h5>
          <blockquote>
            <i class="fa fa-quote-left"></i>
            Lorem ipsum dolor sit amet,
            consectetur adipisicing elit. Est, nesciunt?
          </blockquote>
        </div>
      </div>

      <div class="col-md-6 mt-4">
        <div class="review">
          <img src="https://image.flaticon.com/icons/svg/1055/1055673.svg" style="width: 60px;">
          <h5 class="mt-2">Competitive pricing</h5>
          <blockquote>
            <i class="fa fa-quote-left"></i>
            Lorem ipsum dolor sit amet,
            consectetur adipisicing elit. Est, nesciunt?
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>-->

<div class="page" *ngIf="isLoaded()">
<div class="video-container">
  <video preload="auto" autoplay type="video/mp4" src="../../../../../assets/video/sea.mp4" loop></video>
</div>
  <div class="overlay"></div>

  <div class="head-container container-fluid">
    <div class="row">
      <div class="head-container-left col-md-8">
        <div class="header-name">JOY OF DISCOVERING</div>
        <div class="header-p">
          Exploration is really the essence of the human spirit.
          You'll never know until you go.
          You have nothing to lose a world to see.
        </div>
      </div>

      <div class="input-container-right col-md-4">
        <div class="forms-wrapper">
          <div class="form-search">
            <div class="form-search-title">
              <div class="wrapper-title">EXPLORE</div>
             <div class="wrapper-subtitle">Hey, what country would you like to visit?</div>
            </div>

            <form action="">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="COUNTRY NAME" aria-label="country" aria-describedby="button-addon2">
                <div class="input-group-append btn-container">
                  <button class="btn btn-outline-secondary" type="button" id="button-addon2">
                    <div id="s-circle"></div>
                    <span></span>
                  </button>
                </div>
              </div>
            </form>

          </div>

          <div class="register-wrapper">
            <div class="register-wrapper-title wrapper-title">JOIN US</div>
            <div class="wrapper-subtitle">Publish reviews and create your own travel map.</div>
            <button class="btn-reg">
              <span>Sign UP</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="about-container">
    <div class="about-title">Why we are the best?</div>
    <div class="decoration"></div>
    <div class="about-container-inner container">
      <div class="row">
        <div class="col-sm-4 clmn">
          <div class="about-card">
            <div class="about-image-container image-money">
              <img src="../../../../../assets/images/money_bw.png" alt="">
            </div>
            <div class="about-info-container">
              <div class="about-item-title">Reasonable prices</div>
              <div class="about-item-info">
                We find the most profitable tours for you,
                helping to save your money
                Daily there are some discounts apply.
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-4 clmn">
          <div class="about-card">
            <div class="about-image-container image-earth">
              <img src="../../../../../assets/images/earth_bw.png" alt="">
            </div>
            <div class="about-info-container">
              <div class="about-item-title">Worldwide coverage</div>
              <div class="about-item-info">
                Wherever you are, you can order tours at any time,
                without leaving home.
                Explore the world!
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-4 clmn">
          <div class="about-card">
            <div class="about-image-container image-tel">
              <img src="../../../../../assets/images/tel_bw.png" alt="">
            </div>
            <div class="about-info-container">
              <div class="about-item-title">24/7 support</div>
              <div class="about-item-info">
                We are ready to help you anytime.
                Have any questions?
                Why not write to us?
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

<!--  //////////// top 10 ////////////-->

  <div class="container-fluid block-views">
    <div class="title-views">
      <h2 class="text-center">Top 10 tours</h2>
    </div>
    <div class="reviews-container">
      <div class="box" [ngClass]="topToursClasses[indx]" *ngFor="let tour of topTours; let indx = index" (click)="renderTourPage(tour._id)">
        <div class="imgBox">
          <img [src]="tour.images[0]">
        </div>
        <div class="details">
          <div class="content">
            <h2>{{tour.title}}</h2>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid discount-block">
    <div class="discount-block_image">
      <img [src]="discoutTour.images[0]" alt="">
    </div>
    <div class="row">
      <div class="col-sm-6 offset-sm-6">
        <div class="discount-info">
          <div class="discount-title">
            {{discoutTour.discount}}% OFF
          </div>
          <div class="tour-title">
           {{discoutTour.route.toCountry}}, {{discoutTour.route.toTown}} tour
          </div>
          <div class="description">
            {{discoutTour.moreInfo}}
          </div>

          <div class="read-more">
            <button class="btn-more" (click)="renderTourPage(discoutTour._id)">
              <span>read more</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="types-block">
    <div class="shadow-block"></div>
    <div class="types-block-inner">
      <div class="types-block-title">
        <div class="subtitle">Find a tour by</div>
        <div class="title">TOURS TYPE</div>
        <div class="line"></div>
        <div class="line-decoration">
          <div class="line-decoration-inner"></div>
        </div>
      </div>
      <div id="carouselExampleInterval" data-pause="false" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-interval="5000">
            <div class="slide-container">
              <div class="slide-container-inner container-fluid">
                <div class="row">
                  <div class="col-sm-3 col-6 col-container">
                    <div class="col-inner">
                      <div class="type-icon">
                        <i class="fas fa-futbol"></i>
                      </div>
                      <div class="type-name">Sport</div>
                    </div>
                  </div>

                  <div class="col-sm-3 col-6 col-container">
                    <div class="col-inner">
                      <div class="type-icon">
                        <i class="fas fa-shoe-prints"></i>
                      </div>
                      <div class="type-name">Walking</div>
                    </div>
                  </div>

                  <div class="col-sm-3 col-6 col-container">
                    <div class="col-inner">
                      <div class="type-icon">
                        <i class="fas fa-elephant"></i>
                      </div>
                      <div class="type-name">Wildlife</div>
                    </div>
                  </div>

                  <div class="col-sm-3 col-6 col-container">
                    <div class="col-inner">
                      <div class="type-icon">
                        <i class="fas fa-parachute-box"></i>
                      </div>
                      <div class="type-name">Air rides</div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>


          <div class="carousel-item" data-interval="4000">
            <div class="slide-container">
              <div class="slide-container-inner container-fluid">
                <div class="row">
                  <div class="col-sm-3 col-6 col-container">
                    <div class="col-inner">
                      <div class="type-icon">
                        <i class="fas fa-ship"></i>
                      </div>
                      <div class="type-name">Cruises</div>
                    </div>
                  </div>

                  <div class="col-sm-3 col-6 col-container">
                    <div class="col-inner">
                      <div class="type-icon">
                        <i class="fas fa-hiking"></i>
                      </div>
                      <div class="type-name">Hiking</div>
                    </div>
                  </div>

                  <div class="col-sm-3 col-6 col-container">
                    <div class="col-inner">
                      <div class="type-icon">
                        <i class="fas fa-store"></i>
                      </div>
                      <div class="type-name">Shopping</div>
                    </div>
                  </div>

                  <div class="col-sm-3 col-6 col-container">
                    <div class="col-inner">
                      <div class="type-icon">
                        <i class="fas fa-umbrella-beach"></i>
                      </div>
                      <div class="type-name">Beach</div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>

<!--          <div class="carousel-item" data-interval="4000">
            <img src="..." class="d-block w-100" alt="...">
          </div>
        </div>-->
        <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

    </div>
  </div>
 </div>
<!--
  <div class="m-5"  style="background-color: red">
    <div class="magic">scroll magic</div>
  </div>-->

  <div class="comments-block">
    <div class="comments-title">
      tour reviews
    </div>
    <div class="container-fluid container-comments">
      <div class="row">

        <div class="col-lg-4 comments-item" *ngFor="let review3 of reviews3; let indx = index;">
          <div class="item-inner">
              <div class="imgBox">
                <img src="https://images.unsplash.com/photo-1528914457842-1af67b57139d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="">
              </div>
              <p>{{review3.info}}</p>
              <h4>{{review3.title}}<br>
              <span>{{users[indx].name}}</span>
              </h4>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="newsletter-block">
    <div class="shadow-block">
      <div class="newsletter-container">
        <div class="news-title">Join the newsletter</div>
        <div class="news-subtitle">To receive our best monthly deals</div>
        <form action="">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Enter your email..." aria-label="Newsletter" aria-describedby="button-news">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button" id="button-news">subscribe</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<div class="footer">
  <div class="container-fluid">
    <div class="row">

      <div class="col-sm-6 footer-item">
        <div class="question">
          Have any questions?
        </div>
        <div class="question-item">
          <i class="fas fa-map-marker-alt"></i>
          <span>Belarus, Minsk</span>
        </div>
        <div class="question-item">
          <i class="fas fa-phone-alt"></i>
          <span>+379 88 25 125</span>
        </div>
        <div class="question-item">
          <i class="fas fa-envelope"></i>
          <span>trip-helper@mail.ru</span>
        </div>
        <div class="question-item">
          <div class="faq-question">
            Maybe somebody have already asked this question. <br>
            See <strong>FAQ</strong> page. Hope, it will help you
          </div>
        </div>
      </div>

      <div class="col-sm-6 footer-item">
        <div class="label">T<span>H</span></div>
        <div class="slogan">
          All your concerns are included in our WORK!</div>
        <div class="socials">
          <ul>
            <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
            <li><a href=""><i class="fab fa-vk"></i></a></li>
            <li><a href=""><i class="fab fa-twitter"></i></a></li>
            <li><a href=""><i class="fab fa-pinterest-p"></i></a></li>
          </ul>
        </div>
      </div>

    </div>
  </div>

  <div class="line"></div>
  <div class="company">@ <span class="light">Trip Helper</span>, 2020. Made with care by <span class="light">SS</span></div>
</div>
