<!--

<div class="page">
  <div *ngIf="!loading" class="container">
    <div  class="row mb-2" *ngFor="let tour of tours" (click)="renderOneTourPage(tour._id)">
      <div class="col tour-container">{{tour.title}}</div>
      <div class="col tour-container">{{tour.moreInfo}}</div>
    </div>

  </div>
</div>

<app-loader *ngIf="loading"></app-loader>
-->

<div class="page d-flex flex-column">
  <div class="block1 form1-container">
    <form class="form1 d-flex flex-column align-items-center">
      <div class="container inp-container text-center">
        <div class="row">
          <div class="group-path col-md-4 container-fluid">
            <div class="row">
              <div class="col-12">
                <div class="input-group mb-3">
                  <input type="text" class="form-control" placeholder="Departure" aria-label="Recipient's username" aria-describedby="from">
                  <div class="input-group-append">
                    <span class="input-group-text w-43px" id="from">
                      <i class="fa fa-home fa-lg" aria-hidden="true"></i>
                    </span>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="input-group mb-3">
                  <input type="text" class="form-control" placeholder="Destination" aria-label="Recipient's username" aria-describedby="to">
                  <div class="input-group-append">
                    <span class="input-group-text" id="to">
                      <i class="fa fa-map-marker fa-lg" aria-hidden="true"></i>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4 container-fluid">
            <div class="row">
              <div class="col-12">
                <div class="form-group">
                  <div class='input-group date' id='datetimepicker8'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                    <span class="fa fa-calendar">
                    </span>
                </span>
                  </div>
                </div>
              </div>
              <div class="col-12">dsad</div>
            </div>
          </div>

          <div class="col-md-4 container-fluid">
            <div class="row">
              <div class="col-12">dsad</div>
              <div class="col-12">dsad</div>
            </div>
          </div>
        </div>
      </div>

<!--      <div class="container inp-container">
        <div class="row text-center">
          <div class="col-sm-4 item col-md-2">
            <div class="select1_wrapper">
              <label>To</label>
              <div class="select1_inner input-group">
               <input type="text" class="form-control" aria-describedby="basic-addon2">
                <div class="input-group-append">
                  <span class="input-group-text" id="basic-addon2">$</span>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-4 item col-md-2">
            <div class="select1_wrapper">
              <label>From</label>
              <div class="select1_inner">
                <input type="text">
              </div>
            </div>
          </div>

          <div class="col-sm-4 item col-md-2">
            <div class="select1_wrapper">
              <label>Price limit</label>
              <div class="select1_inner">
                <input type="text">
              </div>
            </div>
          </div>

          <div class="col-sm-4 item col-md-2">
            <div class="select1_wrapper">
              <label>Start Date:</label>
              <div class="select1_inner">
                <input type="text">
              </div>
            </div>
          </div>

          <div class="col-sm-4 item col-md-2">
            <div class="select1_wrapper">
              <label>End Date:</label>
              <div class="select1_inner">
                <input type="text">
              </div>
            </div>
          </div>

          <div class="col-sm-4 item col-md-2">
            <div class="select1_wrapper">
              <label>Transport</label>
              <div class="select1_inner">
                <input type="text">
              </div>
            </div>
          </div>
        </div>
      </div>-->

      <button type="submit" class="filter-btn w-20">search</button>

    </form>
  </div>

  <div class="block2 container-fluid">
    <div class="row text-center">
      <div class="col-md-3 col-sm-4">
        <h3>Tour type: </h3>
        <ul class="rest-type container">
          <li>
            <div class="item">cruise</div>
          </li>
          <li>
            <div class="item">risk</div>
          </li>
          <li>
            <div class="item">beach</div>
          </li>
          <li>
            <div class="item">child</div>
          </li>
          <li>
            <div class="item">fests</div>
          </li>
        </ul>
      </div>
      <div class="col-md-9 col-sm-8">
        <div class="tours-container mb-4">
          <form class="form2 container">
            <div class="row">
              <div class="select1_wrapper col-md-3 col-sm-12">
              <label>Sort by:</label>
              </div>

              <div class="select1_wrapper col-md-3 col-sm-4">
                <div class="select1_inner">views</div>
              </div>
              <div class="select1_wrapper col-md-3 col-sm-4">
                <div class="select1_inner">cost</div>
              </div>
              <div class="select1_wrapper col-md-3 col-sm-4">
                <div class="select1_inner">discount</div>
              </div>
            </div>
          </form>
        </div>

          <div class="row">
            <div class="col-md-6 tour">
              <div class="tour-content">s</div>
            </div>
            <div class="col-md-6 tour">
              <div class="tour-content">s</div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 tour">
              <div class="tour-content">s</div>
            </div>
            <div class="col-md-6 tour">
              <div class="tour-content">s</div>
            </div>
          </div>




      </div>
    </div>
  </div>


</div>


