<!--

<div class="page">
  <div *ngIf="!loading" class="container">
    <div  class="row mb-2" *ngFor="let tour of tours" (click)="renderOneTourPage(tour._id)">
      <div class="col tour-container">{{tour.title}}</div>
      <div class="col tour-container">{{tour.moreInfo}}</div>
    </div>

  </div>
</div>

<app-loader *ngIf="loading"></app-loader>
-->

<div class="page d-flex flex-column">
  <div class="block1 form1-container">
    <form class="form1 d-flex flex-column align-items-center">
      <div class="container inp-container text-center mb-4">
        <div class="row">
          <div class="group-path col-md-4 container-fluid">
            <div class="row">
              <div class="col-12">
                <div class="input-group mb-3">
                  <input type="text" class="form-control" placeholder="Departure" aria-label="Recipient's username" aria-describedby="from">
                  <div class="input-group-append">
                    <span class="input-group-text w-43px" id="from">
                      <i class="fa fa-home fa-lg" aria-hidden="true"></i>
                    </span>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="input-group mb-3">
                  <input type="text" class="form-control" placeholder="Destination" aria-label="Recipient's username" aria-describedby="to">
                  <div class="input-group-append">
                    <span class="input-group-text" id="to">
                      <i class="fa fa-map-marker fa-lg" aria-hidden="true"></i>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4 container-fluid">
            <div class="row">
              <div class="col-12">
                <div class="form-group dt">
                  <div class="input-group">
                    <input class="form-control" placeholder="Start Date"
                           name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
                    <div class="input-group-append">
                      <button style="background-color: #e9ecef;
                        width: 44px;
                        border: 1px solid #ced4da;
                        color: #495057;"
                        class="btn btn-outline-secondary calendar fa fa-calendar" (click)="d.toggle()" type="button"></button>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-12 dt">
                <div class="form-group">
                  <div class="input-group">
                    <input class="form-control" placeholder="End of Date"
                           name="ddpp" [(ngModel)]="modelmodel" ngbDatepicker #dd="ngbDatepicker">
                    <div class="input-group-append">
                      <button style="background-color: #e9ecef;
                        width: 44px;
                        border: 1px solid #ced4da;
                        color: #495057;"
                        class="btn btn-outline-secondary calendar fa fa-calendar" (click)="dd.toggle()" type="button"></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4 container-fluid">
            <div class="row">
              <div class="col-12">
                <div class="input-group mb-3">
                <select class="custom-select" id="inputGroupSelect02"  aria-describedby="transport">
                  <option selected>Transport type</option>
                  <option value="1">car</option>
                  <option value="2">plane</option>
                  <option value="3">ship</option>
                  <option value="4">train</option>
                </select>
                <div class="input-group-append">
                    <span class="input-group-text" id="transport">
                      <i class="fa fa-bus fa-lg" aria-hidden="true"></i>
                    </span>
                </div>
              </div>
              </div>

              <div class="col-12">

              </div>
            </div>
          </div>
        </div>
      </div>

      <button class="btn btn-success"><i class="fas fa-search pr-1"></i> search</button>
    </form>
  </div>

  <div class="block2 container-fluid">
    <div class="row text-center">
      <div class="sort-filter-container col-md-3 col-sm-4">
        <div class="sort-container">
          <div class="form-group">
            <label for="exampleFormControlSelect1">Sort by:</label>
            <select class="form-control" id="exampleFormControlSelect1">
              <option>view</option>
              <option>cost</option>
              <option>discount</option>
            </select>
          </div>
        </div>

        <div class="rest-filter-container">
          <label>Categories: </label>

          <div class="rf">
            <ul class="rest-type container">
              <li>
                <a href="#" data-text="cruise">cruise</a>
              </li>
              <li>
                <a href="#" data-text="risk">risk</a>
              </li>
              <li>
                <a href="#" data-text="beach">beach</a>
              </li>
              <li>
                <a href="#" data-text="child">child</a>
              </li>
              <li>
                <a href="#" data-text="fests">fests</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="rf-info-container">
          <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item">
                <div class="carousel-caption d-md-block">
                  <div class="slide1-content">
                    <div class="title">
                      Oh, hey!
                    </div>
                    <div class="content">
                      Better to see something once than
                      hear about it a thousand times.
                      <br><br>
                      So, I hope, you will find a wonderful tour for yourself. <br>
                      <img style="width:60px;heigth:60px;margin-top:10px;" src="https://image.flaticon.com/icons/svg/2555/2555490.svg" alt="">
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item active">
                <div class="carousel-caption d-md-block">
                  <div class="slide2-content">
                    <div class="title">
                      Are you still thinking about the trip?
                    </div>
                    <div class="content">
                     <span>SEE REVIEWS</span>
                      <br>and
                      <br>
                      make your choise :)
                    </div>
                    <img class="d-block w-100 mb-0 monkey-img" src="https://www.edselby.com/wp-content/uploads/2013/12/monkey.png">
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="carousel-caption d-md-block">
                  <div class="slide3-content">
                    <div class="title">
                      Boom...!
                    </div>
                    <div class="content">
                      <b>HERE</b><br>
                      might be<br>
                      your<br>
                      advertisement<br><br>
                      <i class="fa fa-phone" aria-hidden="true"></i> +375-29-11-123
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
      </div>
    </div>


      <div class="col-md-9 col-sm-8 block3">
        <section>
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-6">
                <div class="tour-item" data-img="https://images.unsplash.com/photo-1469854523086-cc02fe5d8800?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1008&q=80">
                  <div class="info">
                    <div class="location-date-price d-flex
                   justify-content-between">
                      <div class="location-date d-flex flex-column justify-content-start">
                        <div class="location">US, Moab</div>
                        <div class="date">May 12, 2020</div>
                      </div>
                      <div class="price">$470</div>
                    </div>
                    <div class="additional d-flex justify-content-between">
                      <div class="additional-rest-type">child</div>
                      <div class="additional-statistic d-flex">
                        <div class="additional-likes"><i class="fa fa-heart"></i> 123</div>
                        <div class="additional-review"><i class="fa fa-comment-o"></i> 10</div>
                      </div>
                    </div>
                    <button class="read-more">READ MORE</button>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="tour-item" data-img="https://images.unsplash.com/photo-1469854523086-cc02fe5d8800?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1008&q=80">
                  <div class="info">
                    <div class="location-date-price d-flex
                   justify-content-between">
                      <div class="location-date d-flex flex-column justify-content-start">
                        <div class="location">US, Moab</div>
                        <div class="date">May 12, 2020</div>
                      </div>
                      <div class="price">$710</div>
                    </div>
                    <div class="additional d-flex justify-content-between">
                      <div class="additional-rest-type">cruise</div>
                      <div class="additional-statistic d-flex">
                        <div class="additional-likes"><i class="fa fa-heart"></i> 123</div>
                        <div class="additional-review"><i class="fa fa-comment-o"></i> 10</div>
                      </div>
                    </div>
                    <button class="read-more">READ MORE</button>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="tour-item" data-img="https://images.unsplash.com/photo-1510132310763-2df322eed83f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1189&q=80">
                  <div class="info">
                    <div class="location-date-price d-flex
                   justify-content-between">
                      <div class="location-date d-flex flex-column justify-content-start">
                        <div class="location">US, Moab</div>
                        <div class="date">May 12, 2020</div>
                      </div>
                      <div class="price">$225</div>
                    </div>
                    <div class="additional d-flex justify-content-between">
                      <div class="additional-rest-type">child</div>
                      <div class="additional-statistic d-flex">
                        <div class="additional-likes"><i class="fa fa-heart"></i> 123</div>
                        <div class="additional-review"><i class="fa fa-comment-o"></i> 10</div>
                      </div>
                    </div>
                    <button class="read-more">READ MORE</button>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="tour-item" data-img="https://images.unsplash.com/photo-1469854523086-cc02fe5d8800?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1008&q=80">
                  <div class="info">
                    <div class="location-date-price d-flex
                   justify-content-between">
                      <div class="location-date d-flex flex-column justify-content-start">
                        <div class="location">US, Moab</div>
                        <div class="date">May 12, 2020</div>
                      </div>
                      <div class="price">$330</div>
                    </div>
                    <div class="additional d-flex justify-content-between">
                      <div class="additional-rest-type">child</div>
                      <div class="additional-statistic d-flex">
                        <div class="additional-likes"><i class="fa fa-heart"></i> 123</div>
                        <div class="additional-review"><i class="fa fa-comment-o"></i> 10</div>
                      </div>
                    </div>
                    <button class="read-more">READ MORE</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
  </div>




<!--

  <pre>Model: {{ model | json }}</pre>

-->
</div>


