<div class="page">
  <img class="page_bgr" src="https://cdn.pixabay.com/photo/2017/12/15/13/51/polynesia-3021072_1280.jpg">
  <div class="page_bgr shadow"></div>

  <div class="main-title text-center">
    Review management
  </div>

  <app-loader *ngIf="!reviewsTours.length"></app-loader>

  <div *ngIf="reviewsTours.length" class="container-fluid">
    <div class="row">
      <div *ngFor="let reviewTour of reviewsTours; let i = index;" class="col-lg-6 review-container">
        <div class="review">
          <div class="title">
            {{reviewTour.review.title}}
          </div>

          <div class="info">
            {{reviewTour.review.info}}
          </div>

          <div class="tour-container container-fluid">
            <div class="row">
              <div class="col-sm-4">
                <div class="tour-title">
                  {{reviewTour.tour.en.title}}
                </div>
                <div class="tour-id">
                  {{reviewTour.tour._id}}
                </div>
                <div class="date">
                  {{reviewTour.review.date.day  | number: '2.0'}}/{{reviewTour.review.date.month | number: '2.0'}}/{{reviewTour.review.date.year}}
                </div>
              </div>
              <div class="col-sm-8">
                <div class="tour-img">
                  <img (click)="renderTourPage(reviewTour.tour._id)" [src]="reviewTour.tour.images[0]">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="buttons">
          <button class="delete" (click)="onDelete(reviewTour.review._id, i)">delete</button>
          <button *ngIf="!reviewTour.review.confirmed" class="confirm" (click)="onConfirm(reviewTour.review._id, i)">confirm</button>
        </div>
      </div>
    </div>
  </div>

</div>
