
<div class="page">
  <div class="profile-header container-fluid max-width mt-5">
    <div class="row">
      <div class="col-sm-3">
        <div class="profile-img">
          <img src="https://image.flaticon.com/icons/svg/702/702002.svg">
        </div>
      </div>
      <div class="col-sm-9">
        dasd
      </div>
    </div>
  </div>

  <div class="profile-block container-fluid max-width">
    <div class="row">

      <div class="additional col-md-3">
          <div class="d-flex flex-column">
            <div class="profile-about">dsad</div>
            <div class="features">dasdas</div>
          </div>
      </div>

      <div class="additional col-md-9">
        <div class="subnav">
          <ul class="d-flex justify-content-between">
            <li>
              trip journal
            </li>
            <li>
              orders
            </li>
            <li>
              favourite
            </li>
            <li>
              photos
            </li>
          </ul>
        </div>

        <div class="main">
          posts / tours
        </div>
      </div>

    </div>
  </div>
</div>
