<div class="page" *ngIf="isLoaded()">

  <!--////////////////////////-->
  <div *ngIf="imgActive" class="full-window-gallery">
    <div class="exit" (click)="exitGallery()"><i class="fa fa-times"></i></div>

    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="contain">
            <img class="d-block" [src]="tour.images[0]">
          </div>
        </div>
        <div class="carousel-item" *ngFor="let image of tour.images | slice:1;">
            <div class="contain">
              <img class="d-block" [src]="image">
            </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <!--/////////////////////////-->


  <div class="banner-container">
    <div class="banner-container_image">
      <img [src]="tour.images[0]">
    </div>
    <div class="tour-title">
      <h1>
        {{tour.title}}
      </h1>
    </div>
    <div class="some-more">
      {{'tour.subtitle' | translate}}
    </div>
  </div>

  <div class="container w-auto main-container">
    <div class="row">
      <div class="col-md-9 main">
        <div class="tour-tabs">
        <ngb-tabset [destroyOnHide]="false">
          <ngb-tab>
            <ng-template ngbTabTitle style="color: white;">
              <div style="color: #1cbbb4; font-weight: bold;">{{'tour.details.tab_title' | translate}}</div>
            </ng-template>
            <ng-template ngbTabContent>
              <div class="main-content">
                <div class="tour-tabs-info container-fluid">
                  <div class="row h-100">
                    <div class="tour-tabs-info-item rest-type col-sm-3">
                      <div class="icon"><i class="fas fa-tree-palm"></i></div>
                      <div class="inf">
                        <div class="content">
                          <div *ngFor="let type of tour.restType">{{type}}</div>
                        </div>
                        <div class="title">{{'tour.details.types' | translate}}</div>
                      </div>
                    </div>
                    <div class="tour-tabs-info-item dates col-sm-3">
                      <div class="icon"><i class="fas fa-calendar-alt"></i></div>
                      <div class="inf">
                        <div class="content">12 {{'tour.details.days' | translate}}</div>
                        <div class="title">{{'tour.details.duration' | translate}}</div>
                      </div>
                    </div>
                    <div class="tour-tabs-info-item location col-sm-3">
                      <div class="icon"><i class="fas fa-map-marker-alt"></i></div>
                      <div class="inf">
                        <div class="content">{{tour.route.toCountry}}, {{tour.route.toTown}}</div>
                        <div class="title">{{'tour.details.location' | translate}}</div>
                      </div>
                    </div>
                    <div class="tour-tabs-info-item reviews col-sm-3">
                      <div class="icon"><i class="fas fa-comments"></i></div>
                      <div class="inf">
                        <div class="content">{{reviews.length}} {{'tour.details.reviews' | translate}}</div>
                        <div class="title">{{'tour.details.statistic' | translate}}</div>
                      </div>
                    </div>
                  </div>
                </div>

              <!--  //// end tab tours info ///-->
                <div class="main-subcontent">
                  <div class="more-info">
                    {{tour.moreInfo}}
                  </div>
                  <div class="table-tour-info container-fluid">
                    <div class="row">
                      <div class="col-sm-7"><strong>{{'tour.table.route' | translate}}</strong></div>
                      <div class="col-sm-5">
                        <span style="border: none; padding: 2px;">{{tour.route.fromCountry}}, {{tour.route.fromTown}} /</span>
                        <span style="border: none; padding: 2px;">{{tour.route.toCountry}}, {{tour.route.toTown}}</span>
                      </div>

                      <div class="col-sm-7"><strong>{{'tour.table.duration' | translate}}</strong></div>
                      <div class="col-sm-5">
                        <select class="custom-select" id="inputGroupSelect01">
                          <option selected>
                            {{tour.dates[0].dateFrom.day  | number: '2.0'}}/{{tour.dates[0].dateFrom.month | number: '2.0'}}/{{tour.dates[0].dateFrom.year}},
                            {{tour.dates[0].dateTo.day | number: '2.0'}}/{{tour.dates[0].dateTo.month | number: '2.0'}}/{{tour.dates[0].dateTo.year}}
                          </option>
                          <option *ngFor="let date of tour.dates | slice:1; let indx = index;">
                            {{date.dateFrom.day | number: '2.0'}}/{{date.dateFrom.month | number: '2.0'}}/{{date.dateFrom.year}},
                            {{date.dateFrom.day | number: '2.0'}}/{{date.dateFrom.month | number: '2.0'}}/{{date.dateFrom.year}}
                          </option>
                        </select>
                      </div>

                      <div class="col-sm-7"><strong>{{'tour.table.transport' | translate}}</strong></div>
                      <div class="col-sm-5">{{tour.transportType}}</div>

                      <div class="col-sm-7"><strong>{{'tour.table.booked' | translate}}</strong></div>
                      <div class="col-sm-5">{{tour.booked}}/{{tour.bookedMax}}</div>
                    </div>
                  </div>

                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle><div style="color: #1cbbb4; font-weight: bold;">{{'tour.photos' | translate}}</div></ng-template>
            <ng-template ngbTabContent>
              <div class="absolute-img3">
                  <img src="../../../../../assets/images/photo3.png" alt="">
              </div>
              <div class="absolute-img4">
                <img src="../../../../../assets/images/photo4.png" alt="">
              </div>

              <div class="gallery-content">

                <div class="bgr-top"></div>
                <div class="bgr-bottom"></div>

                <div class="absolute-img1">
                  <img src="../../../../../assets/images/photo.png" alt="">
                </div>
                <div class="absolute-img2">
                  <img src="../../../../../assets/images/photographer.png" alt="">
                </div>

                <div class="container-fluid gallery-container">
                    <div class="row">
                      <div class="col-md-4 item-image" *ngFor="let image of tour.images">
                        <div class="item-image-bgr">
                          <img (click)="showGallery($event)" [src]="image">
                        </div>
                      </div>
                    </div>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>

        <div class="tour-reviews">
          <div class="section-title">
            <h4>{{'tour.reviews.title' | translate}}</h4>
          </div>

          <div class="decoration"></div>

          <div class="section-comments-number">
            <i class="far fa-comment-dots"></i> <span class="mr-1">{{'tour.reviews.comments' | translate}}: </span> {{reviews.length}}
          </div>

          <div class="user-review container-fluid" *ngFor="let review of reviews; let indx = index;">
            <div class="row">
              <div class="user-photo col-sm-3">
                <div class="photo" (click)="renderProfilePage(users[indx])"></div>
                <div class="nick">{{users[indx].name}}</div>
              </div>
              <div class="user-comment col-sm-9">
                <div class="date">
                  {{review.date.day | number: '2.0'}}/
                  {{review.date.month | number: '2.0'}}/
                  {{review.date.year}}
                </div>
                <div class="user-comment-text">
                  {{review.info}}
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="tour-leave-review">
          <h4 class="review-title">{{'tour.leave_review.title' | translate}}</h4>

          <form class="review-form">
            <div class="review-form-item">
              <textarea name="comment" id="comment" [placeholder]="'tour.leave_review.placeholder_text' | translate" class="form-control"></textarea>
            </div>
            <div class="review-form-item item-fifty">
              <input type="text" id="name" [placeholder]="'tour.leave_review.placeholder_name' | translate" class="form-control">
            </div>
            <div class="review-form-item item-fifty">
              <input type="email" id="email" [placeholder]="'tour.leave_review.placeholder_email' | translate" class="form-control">
            </div>

            <div class="review-form-item">
              <button style="background: #0f5751;border:none;" type="submit" class="btn btn-primary" id="submit">{{'tour.leave_review.button_submit' | translate}}</button>
            </div>
          </form>
        </div>
    </div>

      <div class="col-md-3 sidebar">
        <div class="price-block">
          <div class="price d-flex justify-content-center align-content-center">
            <div class="price-icon"><i class="fas fa-tags"></i></div>
            <div class="price-per-person">${{tour.cost}}</div>
          </div>
          <div class="clarification">{{'tour.cost' | translate}}</div>
        </div>

        <div class="form-booking">
          <h4>{{'tour.booking.title' | translate}}</h4>
          <form id="booking-form">
            <div class="booking-form-item">
              <div class="input-group mb-3">
                <input type="text" class="form-control" [placeholder]="'tour.booking.placeholder_name' | translate" aria-label="Name" aria-describedby="name-item">
                <div class="input-group-append">
                  <span class="input-group-text" id="name-item"><i class="fas fa-user"></i></span>
                </div>
              </div>
            </div>
            <div class="booking-form-item">
              <div class="input-group mb-3">
                <input type="text" class="form-control"  [placeholder]="'tour.booking.placeholder_email' | translate" aria-label="Email" aria-describedby="email-item">
                <div class="input-group-append">
                  <span class="input-group-text" id="email-item"><i class="fas fa-envelope"></i></span>
                </div>
              </div>
            </div>
            <div class="booking-form-item">
              <div class="input-group mb-3">
                <input type="text" class="form-control"
                       placeholder="11/11/1111"
                       aria-label="Date" aria-describedby="date-item">
                <div class="input-group-append">
                  <span class="input-group-text" id="date-item"><i class="fas fa-calendar-day"></i></span>
                </div>
              </div>
            </div>
            <div class="booking-form-item">
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="1" aria-label="PeopleNumber" aria-describedby="number-item">
                <div class="input-group-append">
                  <span class="input-group-text" id="number-item"><i class="fas fa-users"></i></span>
                </div>
              </div>
            </div>
            <div class="booking-form-item">
              <button type="submit" class="btn">{{'tour.booking.button_book' | translate}}</button>
            </div>
          </form>
        </div>

        <div class="advertisement">
          <div class="ad-image"><img src="../../../../../assets/images/picture6.png" alt=""></div>
          <div class="text">
            <div>{{'tour.ad.text' | translate}}</div>
            <div>
              <i class="fa fa-phone" aria-hidden="true"></i> +375-29-11-123
            </div>
          </div>
        </div>

        <div class="mailchimp">
          <h4>{{'tour.mailchimp.title' | translate}}</h4>
          <form class="mailchimp-form">
            <div class="input-group mb-3">
              <input type="text" class="form-control" [placeholder]="'tour.mailchimp.placeholder_email' | translate">
            </div>

            <button type="submit" class="btn">{{'tour.mailchimp.button_submit' | translate}}</button>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>

