<div class="page-content">
  <div class="container text-center d-flex justify-content-center align-items-center">
    <div class="d-flex flex-column container-content">
      <div class="p-2">
        <h1>404</h1>
      </div>
      <div class="p-2 content-text">
        <b style="text-transform: uppercase">
          Hello?? Is somebody there?!?
        </b>
        <br/>
        We know it’s scary, but the page you’re trying to reach can’t be found.
        <br/>
        Perhaps it was just a bad  <span>link</span> dream?
      </div>
      <div class="p-2"><a routerLink="/home">Go Back</a></div>
    </div>
  </div>
</div>

