<div class="landing">
  <div class="home-wrap">
    <div class="home-inner"></div>
  </div>
</div>

<div class="caption text-center" id="main">
  <h1>Tours</h1>
  <h3>find tour</h3>
  <input type="text">
</div>

<div id="about">
  <div class="jumbotron">
    <div class="narrow"></div>

      <div class="col-12">
        <h3 class="heading">info</h3>
        <div class="heading-underline"></div>
      </div>

    <div class="row text-center">
      <div class="col-md-4 mt-4">
        <div class="about1">
          <img src="https://image.flaticon.com/icons/svg/2331/2331709.svg">
          <h3 class="mt-2">Competitive pricing</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, nesciunt?
          </p>
        </div>
      </div>

      <div class="col-md-4 mt-4">
        <div class="about2">
          <img src="https://image.flaticon.com/icons/svg/921/921490.svg">
          <h3 class="mt-2">Wordwide coverage</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, nesciunt?
          </p>
        </div>
      </div>

      <div class="col-md-4 mt-4">
        <div class="about3">
          <img src="https://image.flaticon.com/icons/svg/1599/1599811.svg">
          <h3 class="mt-2">24/7 support service</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, nesciunt?
          </p>
        </div>
      </div>
    </div>

  </div>

</div>

<div id="discount" class="w-100" style="height: 300px; background-color: rgba(50,108,46,0.44);">
  <h3>todays'top deals</h3>
</div>

<div id="top" class="w-100" style="height: 300px; background-color: rgba(25,64,108,0.44);">
  <h3>popular destinations</h3>
</div>

<div id="registration" class="w-100" style="height: 300px; background-color: rgba(118,88,84,0.44);">
  <h3>not a member yet?</h3>
  <h5>Join us! Trip.com members can access savings of up to 50%
    and earn Trip Coins while booking.</h5>
  <button class="btn btn-warning">sign in</button>
  <button class="btn btn-success">register</button>
</div>

<div id="reviews">
  <div class="jumbotron">
  <div class="col-12 text-center">
    <h3 class="heading">our happy clients</h3>
  </div>

    <div class="row text-center">
      <div class="col-md-6 mt-4">
        <div class="review">
          <img src="https://image.flaticon.com/icons/svg/1055/1055673.svg" style="width: 60px;">
          <h5 class="mt-2">Competitive pricing</h5>
          <blockquote>
            <i class="fa fa-quote-left"></i>
            Lorem ipsum dolor sit amet,
            consectetur adipisicing elit. Est, nesciunt?
          </blockquote>
        </div>
      </div>

      <div class="col-md-6 mt-4">
        <div class="review">
          <img src="https://image.flaticon.com/icons/svg/1055/1055673.svg" style="width: 60px;">
          <h5 class="mt-2">Competitive pricing</h5>
          <blockquote>
            <i class="fa fa-quote-left"></i>
            Lorem ipsum dolor sit amet,
            consectetur adipisicing elit. Est, nesciunt?
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="footer" class="w-100" style="height: 300px; background-color: rgba(118,88,84,0.44);">
footer
</div>
