<!--<div class="landing">
  <div class="home-wrap">
    <div class="home-inner"></div>
  </div>
</div>

<div class="caption text-center" id="main">
  <h1>Tours</h1>
  <h3>find tour</h3>
  <input type="text">
</div>

<div id="about">
  <div class="jumbotron">
    <div class="narrow"></div>

      <div class="col-12">
        <h3 class="heading">info</h3>
        <div class="heading-underline"></div>
      </div>

    <div class="row text-center">
      <div class="col-md-4 mt-4">
        <div class="about1">
          <img src="https://image.flaticon.com/icons/svg/2331/2331709.svg">
          <h3 class="mt-2">Competitive pricing</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, nesciunt?
          </p>
        </div>
      </div>

      <div class="col-md-4 mt-4">
        <div class="about2">
          <img src="https://image.flaticon.com/icons/svg/921/921490.svg">
          <h3 class="mt-2">Wordwide coverage</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, nesciunt?
          </p>
        </div>
      </div>

      <div class="col-md-4 mt-4">
        <div class="about3">
          <img src="https://image.flaticon.com/icons/svg/1599/1599811.svg">
          <h3 class="mt-2">24/7 support service</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, nesciunt?
          </p>
        </div>
      </div>
    </div>

  </div>

</div>

<div id="discount" class="w-100" style="height: 300px; background-color: rgba(50,108,46,0.44);">
  <h3>todays'top deals</h3>
</div>

<div id="top" class="w-100" style="height: 300px; background-color: rgba(25,64,108,0.44);">
  <h3>popular destinations</h3>
</div>

<div id="registration" class="w-100" style="height: 300px; background-color: rgba(118,88,84,0.44);">
  <h3>not a member yet?</h3>
  <h5>Join us! Trip.com members can access savings of up to 50%
    and earn Trip Coins while booking.</h5>
  <button class="btn btn-warning">sign in</button>
  <button class="btn btn-success">register</button>
</div>

<div id="reviews">
  <div class="jumbotron">
  <div class="col-12 text-center">
    <h3 class="heading">our happy clients</h3>
  </div>

    <div class="row text-center">
      <div class="col-md-6 mt-4">
        <div class="review">
          <img src="https://image.flaticon.com/icons/svg/1055/1055673.svg" style="width: 60px;">
          <h5 class="mt-2">Competitive pricing</h5>
          <blockquote>
            <i class="fa fa-quote-left"></i>
            Lorem ipsum dolor sit amet,
            consectetur adipisicing elit. Est, nesciunt?
          </blockquote>
        </div>
      </div>

      <div class="col-md-6 mt-4">
        <div class="review">
          <img src="https://image.flaticon.com/icons/svg/1055/1055673.svg" style="width: 60px;">
          <h5 class="mt-2">Competitive pricing</h5>
          <blockquote>
            <i class="fa fa-quote-left"></i>
            Lorem ipsum dolor sit amet,
            consectetur adipisicing elit. Est, nesciunt?
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>-->

<div class="page">

  <div class="container-fluid block-views">
    <div class="title-views">
      <h2 class="text-center">Our happy tourists</h2>
    </div>
    <div class="reviews-container">
      <div class="box a">
        <div class="profile"></div>
        <div class="imgBox">
          <img src="https://images.pexels.com/photos/1963081/pexels-photo-1963081.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260">
        </div>
        <div class="details">
          <div class="content">
            <h2>Very interesting advernture</h2>
            <p>Lorem ipsum dolor sit amet, consectetur
              adipisicing elit. Qui, veritatis?</p>
          </div>
        </div>
      </div>
      <div class="box b">
        <div class="profile"></div>
        <div class="imgBox">
          <img src="https://images.unsplash.com/photo-1508166785545-c2dd4c113c66?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80">
        </div>
        <div class="details">
          <div class="content">
            <h2>Very interesting advernture</h2>
            <p>Lorem ipsum dolor sit amet, consectetur
              adipisicing elit. Qui, veritatis?</p>
          </div>
        </div>
      </div>

      <div class="box c">
        <div class="profile"></div>
        <div class="imgBox">
          <img src="https://images.pexels.com/photos/3269498/pexels-photo-3269498.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260">
        </div>
        <div class="details">
          <div class="content">
            <h2>Very interesting advernture</h2>
            <p>Lorem ipsum dolor sit amet, consectetur
              adipisicing elit. Qui, veritatis?</p>
          </div>
        </div>
      </div>

      <div class="box d">
        <div class="profile"></div>
        <div class="imgBox">
          <img src="https://images.pexels.com/photos/1666073/pexels-photo-1666073.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260">
        </div>
        <div class="details">
          <div class="content">
            <h2>Very interesting advernture</h2>
            <p>Lorem ipsum dolor sit amet, consectetur
              adipisicing elit. Qui, veritatis?</p>
          </div>
        </div>
      </div>

      <div class="box e">
        <div class="profile"></div>
        <div class="imgBox">
          <img src="https://images.unsplash.com/photo-1512588966017-9add7f6bee7c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80">
        </div>
        <div class="details">
          <div class="content">
            <h2>Very interesting advernture</h2>
            <p>Lorem ipsum dolor sit amet, consectetur
              adipisicing elit. Qui, veritatis?</p>
          </div>
        </div>
      </div>

      <div class="box f">
        <div class="profile"></div>
        <div class="imgBox">
         <img src="https://images.pexels.com/photos/1231365/pexels-photo-1231365.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260">
        </div>
        <div class="details">
          <div class="content">
            <h2>Very interesting advernture</h2>
            <p>Lorem ipsum dolor sit amet, consectetur
              adipisicing elit. Qui, veritatis?</p>
          </div>
        </div>
      </div>

      <div class="box g">
        <div class="profile"></div>
        <div class="imgBox">
          <img src="https://images.pexels.com/photos/2744596/pexels-photo-2744596.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
        </div>
        <div class="details">
          <div class="content">
            <h2>Very interesting advernture</h2>
            <p>Lorem ipsum dolor sit amet, consectetur
              adipisicing elit. Qui, veritatis?</p>
          </div>
        </div>
      </div>

      <div class="box h">
        <div class="profile"></div>
        <div class="imgBox">
          <img src="https://images.pexels.com/photos/2479633/pexels-photo-2479633.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
        </div>
        <div class="details">
          <div class="content">
            <h2>Very interesting advernture</h2>
            <p>Lorem ipsum dolor sit amet, consectetur
              adipisicing elit. Qui, veritatis?</p>
          </div>
        </div>
      </div>

      <div class="box i">
        <div class="profile"></div>
        <div class="imgBox">
          <img src="https://images.pexels.com/photos/1313814/pexels-photo-1313814.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260">
        </div>
        <div class="details">
          <div class="content">
            <h2>Very interesting advernture</h2>
            <p>Lorem ipsum dolor sit amet, consectetur
              adipisicing elit. Qui, veritatis?</p>
          </div>
        </div>
      </div>

      <div class="box j">
        <div class="profile"></div>
        <div class="imgBox">
          <img src="https://images.pexels.com/photos/2415435/pexels-photo-2415435.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
        </div>
        <div class="details">
          <div class="content">
            <h2>Very interesting advernture</h2>
            <p>Lorem ipsum dolor sit amet, consectetur
              adipisicing elit. Qui, veritatis?</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="block-reviews container-fluid">

  </div>
<!--
  <div class="m-5"  style="background-color: red">
    <div class="magic">scroll magic</div>
  </div>-->

</div>


<!--
<div id="footer" class="w-100" style="height: 300px; background-color: rgba(118,88,84,0.44);">
footer
</div>-->
