
.tour-item {
  position: relative;
  height: 350px;
  min-height: 350px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-bottom: 20px;

  .tour-item_image img {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &:hover {
      cursor: pointer;
    }
  }
}

.info {
  position: absolute;
  height: 145px;
  width: 100%;
  bottom: 0;
  text-align: center;
  background-color: rgba(28, 187, 180, 0.76);
  color: #fff;
  transition: 0.5s;
}

.info:hover {
  height: 85%;
}

.location-date-price {
  border-bottom: 1px solid #fff;
}

.location-date {
  margin-left: 10px;
  float: left;
  padding: 5px;
}

.location {
  text-align: start;
  font-size: 1.2rem;
  font-weight: bold;
}

.date {
  text-align: start;
}

.price {
  margin-right: 10px;
  margin-top: 5px;
  font-size: 2rem;
  font-weight: bold;
}

.additional {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px;

  .additional-rest-type {
    display: flex;
    flex-wrap: wrap;
    margin-right: 10px;
  }

  .additional-rest-type span {
    background: rgba(230, 0, 77, 0.58);
    padding: 8px;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    margin-left: 4px;
    margin-bottom: 2px;
    margin-top: 2px;
  }

  @media (max-width: 992px) {
    .additional-rest-type span {
      padding: 4px;
      margin-left: 5px;
      font-size: 0.8rem;
    }
  }

  .additional-statistic {
    margin-right: 10px;
    align-self: flex-start;

    .additional-review {
      margin-left: 10px;
    }
  }

  border-bottom: 1px solid #fff;

  .additional-likes {
    display: flex;
    align-items: center;

    i {
      margin-right: 4px;
    }
  }
}

.favourite {
  position: absolute;
  z-index: 10;
  transition: 0.5s;
  right: 7px;
  top: 7px;
  font-size: 1.5rem;
  background: #ffffffd9;
  padding: 3px;
  height: 37px;
  width: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

  .not-in-favourites {
    color: rgba(151, 151, 151, 0.48);
    transition: 0.3s;

    &:hover {
      color: rgba(151, 151, 151, 0.76);
      cursor: pointer;
    }
  }

  .in-favourites {
    transition: 0.3s;
    color: #943872;

    &:hover {
      color: #b8448d;
      cursor: pointer;
    }
  }
}

.read-more {
  border: 2px solid #fff;
  background: transparent;
  color: #fff;
  padding: 10px;
  margin: 50px;
  overflow: hidden;
  transition: 0.3s;
}

.read-more:hover {
  margin-top: 40px;
  padding: 15px;
  background: rgba(255, 255, 255, 0.22);
}

