<div class="page d-flex justify-content-center align-items-center">
  <div class="contact-container">
    <h2>{{'contacts.title' | translate}}</h2>

    <form [formGroup]="contactForm" (ngSubmit)="sendMessage()">
    <div class="container">
      <div class="row">
        <div class="col col-md-6 col-sm-12">
          <div class="inputBox">
            <input formControlName="firstName" type="text" required>
            <span class="text">{{'contacts.fname' | translate}}</span>
            <span class="line"></span>
          </div>
        </div>

        <div class="col col-md-6 col-sm-12">
          <div class="inputBox">
            <input formControlName="lastName" type="text" required>
            <span class="text">{{'contacts.lname' | translate}}</span>
            <span class="line"></span>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
    <div class="row">
      <div class="col col-md-6 col-sm-12">
        <div class="inputBox">
          <input  formControlName="email" type="text" required>
          <span class="text">{{'contacts.email' | translate}}</span>
          <span class="line"></span>
        </div>
      </div>

      <div class="col col-md-6 col-sm-12">
        <div class="inputBox">
          <input formControlName="mobile" type="text" required>
          <span class="text">{{'contacts.mobile' | translate}}</span>
          <span class="line"></span>
        </div>
      </div>
    </div>
  </div>

    <div class="container">
      <div class="row">
        <div class="col">
          <div class="inputBox textarea">
            <textarea  formControlName="message" required="required"></textarea>
            <span class="text">{{'contacts.textarea' | translate}}</span>
            <span class="line"></span>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col">
          <div class="error" *ngIf="isError">*Please, fill all fields and enter valid email.</div>
          <button type="submit">{{'contacts.button_send' | translate}}</button>
        </div>
      </div>
    </div>

    </form>
  </div>
</div>
