<div class="page d-flex justify-content-center align-items-center">
  <div class="contact-container">
    <h2>{{'contacts.title' | translate}}</h2>

    <form action="">
    <div class="container">
      <div class="row">
        <div class="col col-md-6 col-sm-12">
          <div class="inputBox">
            <input type="text" required>
            <span class="text">{{'contacts.fname' | translate}}</span>
            <span class="line"></span>
          </div>
        </div>

        <div class="col col-md-6 col-sm-12">
          <div class="inputBox">
            <input type="text" required>
            <span class="text">{{'contacts.lname' | translate}}</span>
            <span class="line"></span>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
    <div class="row">
      <div class="col col-md-6 col-sm-12">
        <div class="inputBox">
          <input type="text" required>
          <span class="text">{{'contacts.email' | translate}}</span>
          <span class="line"></span>
        </div>
      </div>

      <div class="col col-md-6 col-sm-12">
        <div class="inputBox">
          <input type="text" required>
          <span class="text">{{'contacts.mobile' | translate}}</span>
          <span class="line"></span>
        </div>
      </div>
    </div>
  </div>

    <div class="container">
      <div class="row">
        <div class="col">
          <div class="inputBox textarea">
            <textarea required="required"></textarea>
            <span class="text">{{'contacts.textarea' | translate}}</span>
            <span class="line"></span>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col">
          <input type="submit" [value]="'contacts.button_send' | translate">
        </div>
      </div>
    </div>

    </form>
  </div>
</div>
