/*.diagram {
  .view {
    height: 350px;
    background-color: rgba(159, 133, 84, 0.16);
  }

  .income {
    height: 350px;
    background-color: rgba(159, 133, 84, 0.16);
  }
}*/

.diagrams-container {
  background: rgba(18, 98, 91, 0.6);
  height: 100px;
}
