<div class="page">
  <img class="page_bgr" src="https://images.pexels.com/photos/669616/pexels-photo-669616.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260">
  <div class="page_bgr shadow"></div>
  <div class="page-inner">
    <div class="header">
      TripHelper Business Statistic
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="block col-lg-8">
          <div class="general-diagramm-container">
            <div class="general container-fluid">
              <div class="row">
                <div class="general_tours col-sm-4">
                  <div class="general_tours-inner general_inner">
                    <div class="general-num">{{generalStatistic?.tours}}</div>
                    <div class="general-title">Tours</div>
                  </div>
                </div>
                <div class="general_orders col-sm-4">
                  <div class="general_orders-inner general_inner">
                    <div class="general-num">{{generalStatistic?.orders}}</div>
                    <div class="general-title">Orders</div>
                  </div>
                </div>
                <div class="general_followers col-sm-4">
                  <div class="general_followers-inner general_inner">
                    <div class="general-num">{{generalStatistic?.users}}</div>
                    <div class="general-title">Followers</div>
                  </div>
                </div>
              </div>
            </div>

            <div *ngIf="incomeMonthly.length" class="diagramm-monthly-income">
              <app-monthly-income [incomeMonthly]="incomeMonthly"></app-monthly-income>
            </div>

            <div *ngIf="countriesOrders.length" class="diagramms-country-orders">
              <div class="diagramms-title">Most Popular Destinations</div>
              <app-countries-orders [countriesOrders]="countriesOrders"></app-countries-orders>
            </div>

            <div *ngIf="ordersLastMonth.length" class="table-income-month">
              <div class="table-title">Last Month Income (March)</div>
              <table class="table">
                <thead class="thead-dark">
                <tr>
                  <th scope="col">Day</th>
                  <th scope="col">Tour</th>
                  <th scope="col">User</th>
                  <th scope="col">Cost, $</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let order of ordersLastMonth">
                  <th scope="row">{{order.day}}</th>
                  <td>{{order.tour}}</td>
                  <td>{{order.user}}</td>
                  <td>{{order.cost}}</td>
                </tr>
                </tbody>
              </table>

              <div class="table-footer">
                <div class="total-income">Total: <span>${{totalIncomeLastMonth}}</span></div>
                <div class="table-download">
                  <button (click)="onExportExcel()" type="button" class="btn btn-primary btn-download">Download <i class="fas fa-download"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="block col-lg-4">
          <div class="sidebar-right-container">
            <div class="manager-container">
              <div class="manager-contact">
                <i class="fab fa-telegram-plane"></i>
              </div>

              <div class="photo-name container-fluid">
                <div class="photo">
                  <img src="../../../../../assets/images/IMG_20190505_151419.jpg">
                </div>
                <div class="name">
                  <div>Project Manager</div>
                  <div class="manager-name">Yana Karcheuskaya</div>
                </div>
              </div>

              <div class="todo-container">
                <div class="todo_title">TODO List</div>
                <form class="input-group" (ngSubmit)="addTask(taskInput.value)">
                  <input #taskInput class="input-task form-control" type="text" placeholder="new task...">
                  <div class="input-group-append">
                    <button class="btn-add" type="submit"><i class="fas fa-plus i-add"></i></button>
                  </div>
                </form>

                <div class="todo-container_inner container-fluid">
                  <div class="todo row" *ngFor="let todo of todoList; let i = index;">
                    <div class="check col-2">
                      <input type="checkbox" (click)="taskCheck(todo)" [(ngModel)]="todo.done">
                    </div>
                    <div class="todo col-9" [ngClass]="{done: todo.done}">{{todo.task}}</div>
                    <div class="todo col-1"><i (click)="deleteTask(todo._id)" class="fas fa-trash"></i></div>
                  </div>
                </div>

                <div class="additional">
                  <div class="delete" (click)="deleteTasks()">Delete DONE task(s)</div>
                </div>
            </div>

            <div class="sidebar_calculator">
              <form name="calc" class="calculator">
                <input [value]="expression" name="txt" class="value" type="text" readonly>
                <span [ngClass]="{c: i == 0, plus: i == 10, res: i == 17}" *ngFor="let item of calcItems; let i = index;" class="num" (click)="calc(item)">{{item}}</span>
              </form>
            </div>

            <div *ngIf="generalStatistic" class="sidebar_statistic">
              <div class="sidebar_total">
                <div class="total-income">${{generalStatistic?.income}}</div>
                <div class="income-title">Total income</div>
              </div>
              <div class="sidebar_month">
                <div class="month-income">
                  ${{generalStatistic?.income1MonthAgo}}
                  <span  class="income-up" *ngIf="generalStatistic.income1MonthAgo > generalStatistic.income2MonthsAgo; else fallMonth">
                    <span class="income-percent">{{(generalStatistic.income1MonthAgo -generalStatistic.income2MonthsAgo)*100/generalStatistic.income1MonthAgo | number: '.1'}}%</span>
                    <i class="fad fa-angle-double-up"></i>
                  </span>
                </div>
                <div class="income-title">Last Month</div>
              </div>
              <div class="sidebar_year">
                <div class="year-income">
                  ${{generalStatistic?.income1YearAgo}}
                  <span class="income-up" *ngIf="generalStatistic.income1YearAgo > generalStatistic.income2YearsAgo; else fallYear">
                    <span class="income-percent">{{(generalStatistic.income1YearAgo -generalStatistic.income2YearsAgo)*100/generalStatistic.income1YearAgo | number: '.1'}}%</span>
                    <i class="fad fa-angle-double-up"></i>
                  </span>
                </div>
                <div class="income-title">Last Year</div>
              </div>
            </div>

              <ng-template #fallMonth>
                <span class="income-fall">
                  <span class="income-percent">{{(generalStatistic.income2MonthsAgo - generalStatistic.income1MonthAgo)*100/generalStatistic.income2MonthsAgo | number: '.1'}}%</span>
                  <i class="fad fa-angle-double-down"></i>
                </span>
              </ng-template>

              <ng-template #fallYear>
                <span class="income-fall">
                  <span class="income-percent">{{(generalStatistic.income2YearsAgo - generalStatistic.income1YearAgo)*100/generalStatistic.income2YearsAgo | number: '.1'}}%</span>
                  <i class="fad fa-angle-double-down"></i>
                </span>
              </ng-template>

            <div class="active-users-container">
              <div class="active-users_title">Top Users</div>
              <div class="active-users">
                <div class="active-user" *ngFor="let activeUser of mostActiveUsers">
                  <div class="avatar" (click)="renderProfilePage(activeUser.user._id)">
                    <img *ngIf="activeUser.user.avatar; else defaultAvatar" [src]="activeUser.user.avatar">
                    <ng-template #defaultAvatar>
                      <img src="../../../../../assets/images/user-default.png">
                    </ng-template>
                  </div>
                  <div class="name-orders">
                    <div class="name">{{activeUser.user.name}} <span class="crown-icon">👑</span></div>
                    <div class="orders-amount">email: {{activeUser.user.email}}</div>
                    <div class="orders-amount">orders amount: {{activeUser.ordersAmount}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
